workflow_blog_images_corrected.json
{
  "name": "Lookitry Blog Images",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lookitry-blog-images-v2",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json?.body || $input.first()?.json || {};\nconst topic_id = String(input.topic_id || '');\nconst image_prompts = input.image_prompts || [];\n\nif (!image_prompts || image_prompts.length === 0) {\n  return [{ json: { error: 'No image_prompts provided', topic_id }];\n}\n\nconst items = image_prompts.map((img, index) => ({\n  json: {\n    position: img.position || 'body_' + (index + 1),\n    prompt: img.prompt,\n    after_section: img.after_section || null,\n    topic_id: topic_id\n  }\n}));\n\nconsole.log('Procesando ' + items.length + ' imágenes para topic ' + topic_id);\nreturn items;"
      },
      "id": "parse-prompts",
      "name": "Parse Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "id": "loop-images",
      "name": "Loop Imágenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer ***REMOVED-SECRET***"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "wait=10"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  input: {\n    prompt: $json.prompt,\n    aspect_ratio: $json.position === 'hero' ? '1:1' : '3:4',\n    output_format: 'png',\n    output_quality: 90,\n    num_inference_steps: 4,\n    go_fast: true,\n    megapixels: '1'\n  }\n}",
        "options": {"timeout": 120000}
      },
      "id": "generate-image-replicate",
      "name": "Replicate FLUX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst currentItem = $('Loop Imágenes').item.json;\nconst token = '***REMOVED-SECRET***';\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nasync function getPrediction(url) {\n  const res = await fetch(url, { headers: { Authorization: 'Bearer ' + token } });\n  return res.json();\n}\n\nlet cur = response;\nfor (let i = 0; i < 30; i++) {\n  if (cur?.error) throw new Error('Replicate: ' + cur.error);\n  if (cur?.status === 'failed' || cur?.status === 'canceled') throw new Error('Replicate ' + cur.status);\n  if (cur?.status === 'succeeded' && cur?.output) {\n    const imageUrl = Array.isArray(cur.output) ? cur.output[0] : cur.output;\n    await sleep(2000);\n    return [{ json: {\n      position: currentItem.position,\n      prompt: currentItem.prompt,\n      after_section: currentItem.after_section,\n      topic_id: currentItem.topic_id,\n      imageUrl,\n      provider: 'replicate'\n    } }];\n  }\n  const pollUrl = cur?.urls?.get;\n  if (!pollUrl) throw new Error('Sin poll URL');\n  await sleep(4000);\n  cur = await getPrediction(pollUrl);\n}\nthrow new Error('Replicate timeout');"
      },
      "id": "extract-url-replicate",
      "name": "Extraer URL Replicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {"response": {"response": {"responseFormat": "file"}}}
      },
      "id": "download-image",
      "name": "Descargar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst position = item.json.position || 'image';\nconst topic_id = item.json.topic_id || 'unknown';\n\nif (item.binary?.data) {\n  item.binary.data.fileName = position + '-' + topic_id + '.png';\n  item.binary.data.mimeType = 'image/png';\n}\n\nreturn { json: item.json, binary: item.binary };"
      },
      "id": "rename-file",
      "name": "Renombrar PNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-blog-secret", "value": "Travis2305**_blog_n8n"}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {"parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data"},
            {"name": "filename", "value": "={{ $('Renombrar PNG').item.binary.data.fileName }}"},
            {"name": "topic_id", "value": "={{ $('Loop Imágenes').item.json.topic_id }}"},
            {"name": "image_type", "value": "={{ $('Loop Imágenes').item.json.position }}"},
            {"name": "asset_type", "value": "blog-inline"}
          ]
        },
        "options": {}
      },
      "id": "upload-image",
      "name": "Uploader Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst topic_id = allItems[0]?.json?.topic_id || '';\n\nconst images = {};\nfor (const item of allItems) {\n  if (item.json) {\n    const pos = item.json.position;\n    images[pos] = item.json.imageUrl || item.json.url;\n  }\n}\n\nreturn [{ json: {\n  topic_id,\n  imagen_hero_url: images['hero'] || '',\n  imagen_body1_url: images['body_1'] || images['body1'] || '',\n  imagen_body2_url: images['body_2'] || images['body2'] || '',\n  imagen_body3_url: images['body_3'] || images['body3'] || '',\n  imagen_body4_url: images['body_4'] || images['body4'] || '',\n  images_count: allItems.length\n} }];"
      },
      "id": "consolidate-images",
      "name": "Consolidar URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/assemble-article",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-blog-secret", "value": "Travis2305**_blog_n8n"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  topic_id: $json.topic_id,\n  imagen_hero_url: $json.imagen_hero_url,\n  imagen_body1_url: $json.imagen_body1_url,\n  imagen_body2_url: $json.imagen_body2_url,\n  imagen_body3_url: $json.imagen_body3_url,\n  imagen_body4_url: $json.imagen_body4_url\n}",
        "options": {"timeout": 60000}
      },
      "id": "assemble-article",
      "name": "Ensamblar Artículo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseCode": "={\n  success: true,\n  topic_id: $('Consolidar URLs').item.json.topic_id,\n  message: 'Artículo ensamblado y publicado',\n  images_used: $('Consolidar URLs').item.json.images_count\n}"
        }
      },
      "id": "respond-success",
      "name": "Responder Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [2100, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Prompts", "type": "main", "index": 0}]]},
    "Parse Prompts": {"main": [[{"node": "Loop Imágenes", "type": "main", "index": 0}]]},
    "Loop Imágenes": {
      "main": [
        [{"node": "Consolidar URLs", "type": "main", "index": 0}],
        [{"node": "Replicate FLUX", "type": "main", "index": 0}]
      ]
    },
    "Replicate FLUX": {"main": [[{"node": "Extraer URL Replicate", "type": "main", "index": 0}]]},
    "Extraer URL Replicate": {"main": [[{"node": "Descargar Imagen", "type": "main", "index": 0}]]},
    "Descargar Imagen": {"main": [[{"node": "Renombrar PNG", "type": "main", "index": 0}]]},
    "Renombrar PNG": {"main": [[{"node": "Uploader Imagen", "type": "main", "index": 0}]]},
    "Uploader Imagen": {"main": [[{"node": "Loop Imágenes", "type": "main", "index": 0}]]},
    "Consolidar URLs": {"main": [[{"node": "Ensamblar Artículo", "type": "main", "index": 0}]]},
    "Ensamblar Artículo": {"main": [[{"node": "Responder Éxito", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
