workflow_blog_images.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lookitry-blog-images",
        "options": {}
      },
      "id": "60fedd6e-19d1-4afb-8827-f071db1d162d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1136,
        3120
      ],
      "webhookId": "df880cd7-2498-401b-a6d3-765dc190dc0a"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json?.body || $input.first()?.json || {};\nconst topic_id = String(input.topic_id || '');\nconst title = input.title || 'Fashion Article';\nconst category = input.category_slug || 'moda-y-estilo';\n\nconst contexts = {\n  'ecommerce': 'Colombian ecommerce fashion',\n  'ia': 'AI technology',\n  'moda-y-estilo': 'Colombian fashion style',\n  'negocios-y-saas': 'business SaaS'\n};\n\nconst ctx = contexts[category] || contexts['moda-y-estilo'];\n\nreturn [\n  {\n    json: {\n      tipo: 'hero',\n      prompt: 'Professional fashion photo: ' + title + '. ' + ctx + '. Studio lighting, editorial.',\n      topic_id: topic_id,\n      title: title\n    }\n  },\n  {\n    json: {\n      tipo: 'body1',\n      prompt: 'Lifestyle fashion photo: ' + title + '. ' + ctx + '. Boutique, natural light.',\n      topic_id: topic_id,\n      title: title\n    }\n  },\n  {\n    json: {\n      tipo: 'body2',\n      prompt: 'Fashion detail photo: ' + title + '. ' + ctx + '. Close-up, texture.',\n      topic_id: topic_id,\n      title: title\n    }\n  }\n];"
      },
      "id": "60bbc3ec-bd96-489b-ba39-130949f3f403",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        3120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b4a721a2-0e34-45f8-a6fb-4d295fac65d7",
      "name": "Loop Imágenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1504,
        3120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer r8_D4VY9Ay3avB9k5qMARUTqD09qIaiTne3TKVu0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait=10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  input: {\n    prompt: $json.prompt,\n    aspect_ratio: \"16:9\",\n    output_format: \"png\",\n    output_quality: 90,\n    num_inference_steps: 4,\n    go_fast: true,\n    megapixels: \"1\"\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "6a908272-b184-4f1d-a5f7-5f96d22d2544",
      "name": "Replicate FLUX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        3376
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst currentItem = $('Loop Imágenes').item.json;\nconst token = 'r8_D4VY9Ay3avB9k5qMARUTqD09qIaiTne3TKVu0';\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nasync function getPrediction(url) {\n  const res = await fetch(url, { headers: { Authorization: `Bearer ${token}`, 'Content-Type': 'application/json' } });\n  if (!res.ok) throw new Error(`Replicate lookup failed (${res.status}): ${await res.text()}`);\n  return await res.json();\n}\n\nasync function resolvePrediction(pred) {\n  let cur = pred;\n  for (let i = 0; i < 30; i++) {\n    if (cur?.error) throw new Error(`Replicate error en ${currentItem.tipo}: ${cur.error}`);\n    if (cur?.status === 'failed' || cur?.status === 'canceled') throw new Error(`Replicate ${cur.status}. ID: ${cur.id}`);\n    if (cur?.status === 'succeeded' && cur?.output) {\n      const imageUrl = Array.isArray(cur.output) ? cur.output[0] : cur.output;\n      await sleep(12000);\n      return [{ json: { ...currentItem, imageUrl, predictionId: cur.id } }];\n    }\n    const pollUrl = cur?.urls?.get;\n    if (!pollUrl) throw new Error(`Sin output ni poll URL. Status: ${cur?.status || 'unknown'}`);\n    await sleep(4000);\n    cur = await getPrediction(pollUrl);\n  }\n  throw new Error(`Replicate timeout para ${currentItem.tipo}`);\n}\n\nreturn await resolvePrediction(response);"
      },
      "id": "fa953623-dd70-4905-bdf8-4315af57d13f",
      "name": "Replicate Extraer URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        3376
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "6ecc4896-1c9c-491c-9f76-c4e8cee3d867",
      "name": "Descargar PNG Replicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        3376
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst tipo = item.json.tipo || 'imagen';\nif (item.binary?.data) {\n  item.binary.data.fileName = `${tipo}.png`;\n  item.binary.data.mimeType = 'image/png';\n}\nreturn { json: { ...item.json, tipo }, binary: item.binary };"
      },
      "id": "aa1f4c95-35aa-4674-85dc-0f9f874a3186",
      "name": "Renombrar PNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        3376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_n8n"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "filename",
              "value": "={{ $('Renombrar PNG').item.binary.data.fileName }}"
            },
            {
              "name": "topic_id",
              "value": "={{ $('Loop Imágenes').item.json.topic_id }}"
            },
            {
              "name": "image_type",
              "value": "={{ $('Loop Imágenes').item.json.tipo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8bad4f48-88c1-4b27-ac67-539c6a98ba33",
      "name": "Uploader Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        3376
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={\n  \"success\": true,\n  \"topic_id\": \"{{ $('Input').first().json.topic_id }}\",\n  \"message\": \"Imágenes generadas y artículo publicado\"\n}"
        }
      },
      "id": "aaa9fae1-d497-4461-8e02-8ff62bd1bd2c",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1728,
        3104
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Loop Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Imágenes": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replicate FLUX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate FLUX": {
      "main": [
        [
          {
            "node": "Replicate Extraer URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate Extraer URL": {
      "main": [
        [
          {
            "node": "Descargar PNG Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar PNG Replicate": {
      "main": [
        [
          {
            "node": "Renombrar PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renombrar PNG": {
      "main": [
        [
          {
            "node": "Uploader Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploader Imagen": {
      "main": [
        [
          {
            "node": "Loop Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
  }
}