scripts/archive/Describir con IA.json
{
  "name": "Describir con IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "descriptor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4112,
        1088
      ],
      "id": "0dfcfc2e-481c-4b6e-abc4-e8398d8843e1",
      "name": "Webhook",
      "webhookId": "c51d8213-cc3e-4f79-a19a-6f20c832c6ae"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst imageUrl = (body?.image_url || '').trim();\nconst productName = (body?.product_name || '').trim();\nconst category = (body?.category || '').trim();\nif (!imageUrl) throw new Error('image_url es requerido');\nif (!imageUrl.startsWith('http')) throw new Error('image_url invalida: ' + imageUrl.substring(0, 80));\nreturn [{ json: { imageUrl, productName, category } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        1088
      ],
      "id": "4c12a7cd-cdba-4e3d-8a2c-89c27bd992f7",
      "name": "Extraer parametros"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.wilkiedevs.com"
            },
            {
              "name": "X-Title",
              "value": "Describir con IA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-001\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.imageUrl }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"INSTRUCCIÓN CRÍTICA: Responde ÚNICAMENTE con el objeto JSON. Sin markdown, sin asteriscos, sin explicaciones, sin texto antes o después. Tu respuesta debe comenzar con { y terminar con }.\\n\\nEres un sistema de análisis de productos de moda. Analiza la imagen del producto cuyo nombre es '{{ $json.productName }}' y responde ÚNICAMENTE con un JSON válido con esta estructura exacta:\\n{\\n  \\\"garment_type\\\": \\\"tipo de prenda en una palabra\\\",\\n  \\\"silhouette\\\": \\\"silueta o corte del producto\\\",\\n  \\\"primary_color\\\": \\\"color principal en nombre y hex\\\",\\n  \\\"secondary_colors\\\": [],\\n  \\\"patterns\\\": null,\\n  \\\"materials\\\": \\\"materiales o texturas aparentes\\\",\\n  \\\"design_details\\\": {\\n    \\\"neckline\\\": null,\\n    \\\"sleeves\\\": null,\\n    \\\"closures\\\": null,\\n    \\\"pockets\\\": null,\\n    \\\"other\\\": null\\n  },\\n  \\\"fit\\\": \\\"ajustado | regular | holgado | oversize\\\",\\n  \\\"suggested_category\\\": \\\"VESTIDO | CAMISA | PANTALON | FALDA | ZAPATOS | CONJUNTO | CHAQUETA | ACCESORIO\\\"\\n}\\nReglas:\\n- suggested_category: usa SOLO una de estas 8 opciones exactas en mayúsculas: VESTIDO, CAMISA, PANTALON, FALDA, ZAPATOS, CONJUNTO, CHAQUETA, ACCESORIO.\\n- secondary_colors: array vacío [] si no hay colores secundarios.\\n- Campos sin valor en design_details: usar null.\\n- NO incluyas bloques de código, NO uses comillas triples, NO uses asteriscos.\\n- Responde SOLO con el JSON.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4544,
        1088
      ],
      "id": "bdf87c96-b8ac-4bd8-a2bc-49e638b57878",
      "name": "Analyze an image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "o1vK6DeyLsHSl8aT",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst rawText = response?.choices?.[0]?.message?.content || '';\nif (!rawText) throw new Error('OpenRouter no devolvio texto. Respuesta: ' + JSON.stringify(response).substring(0, 300));\n\nlet clean = rawText\n  .replace(/```json|```/g, '')\n  .replace(/^\\s*\\*+\\s*/gm, '')\n  .replace(/^\\s*-+\\s*/gm, '')\n  .trim();\n\nlet jsonStr = null;\nlet depth = 0;\nlet start = -1;\n\nfor (let i = 0; i < clean.length; i++) {\n  if (clean[i] === '{') {\n    if (depth === 0) start = i;\n    depth++;\n  } else if (clean[i] === '}') {\n    depth--;\n    if (depth === 0 && start !== -1) {\n      jsonStr = clean.substring(start, i + 1);\n      break;\n    }\n  }\n}\n\nif (!jsonStr) {\n  throw new Error('No se encontro JSON en la respuesta | Raw: ' + clean.substring(0, 300));\n}\n\njsonStr = jsonStr\n  .replace(/\\}\\s*\\n\\s*\\*[^\\n]*/g, '}')\n  .replace(/,\\s*\\n\\s*\\*[^\\n]*/g, ',')\n  .trim();\n\nlet d;\ntry {\n  d = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error('JSON invalido: ' + e.message + ' | Raw: ' + jsonStr.substring(0, 300));\n}\n\nconst { productName, category: originalCategory } = $('Extraer parametros').first().json;\nconst dd = d.design_details || {};\n\nconst enrichedPrompt = [\n  'Photorealistic virtual try-on image.',\n  `Product: ${productName}${originalCategory ? ' (' + originalCategory + ')' : ''}.`,\n  `Garment type: ${d.garment_type}, ${d.silhouette} silhouette, ${d.fit} fit.`,\n  `Primary color: ${d.primary_color}.`,\n  d.secondary_colors?.length ? `Secondary colors: ${d.secondary_colors.join(', ')}.` : '',\n  d.patterns ? `Patterns and graphics: ${d.patterns}.` : '',\n  `Material/texture: ${d.materials}.`,\n  `Design details - neckline: ${dd.neckline || 'n/a'}, sleeves: ${dd.sleeves || 'n/a'}, closures: ${dd.closures || 'n/a'}${dd.pockets ? ', pockets: ' + dd.pockets : ''}${dd.other ? ', other: ' + dd.other : ''}.`,\n  'CRITICAL RULES:',\n  '1. Reproduce the product EXACTLY: same colors, patterns, textures, logos, cuts and design details.',\n  '2. Keep the persons face, skin tone, hair and body proportions identical to the selfie.',\n  '3. The product must fit naturally on the persons body, respecting their pose and lighting.',\n  '4. Maintain photorealistic quality with consistent lighting between person and product.',\n  '5. Output only the final LOOKITRY image.',\n].filter(Boolean).join(' ');\n\n// Fix 1 & 3: Detect accessory and use specific prompt\nconst isAccessory = ['ACCESORIO', 'ACCESSORY', 'GAFAS', 'HELMET', 'RELOJ', 'BOLSO', 'ACCESORIOS']\n  .some(k => (d.garment_type || '').toUpperCase().includes(k) \n          || (d.suggested_category || '').toUpperCase().includes(k)\n          || (originalCategory || '').toUpperCase().includes(k));\n\nlet finalEnrichedPrompt;\n\nif (isAccessory) {\n  finalEnrichedPrompt = [\n    'Photorealistic virtual try-on image of an accessory.',\n    `Product: ${productName}. Type: ${d.garment_type}.`,\n    `Color: ${d.primary_color}.`,\n    d.materials ? `Material: ${d.materials}.` : '',\n    d.patterns ? `Details: ${d.patterns}.` : '',\n    'CRITICAL RULES FOR ACCESSORIES:',\n    '1. Place the accessory naturally on the person — glasses on the face, watch on wrist, bag on shoulder.',\n    '2. Respect the exact perspective, angle and lighting of the selfie.',\n    '3. The accessory must cast realistic shadows and blend with the persons skin/face.',\n    '4. Do NOT distort or alter the persons face, eyes, or facial features.',\n    '5. Reproduce EXACT colors, frame shape, lens tint and brand details of the product.',\n    '6. The result must look like a real photo, not a 3D render or illustration.',\n    '7. Output only the final photorealistic image.',\n  ].filter(Boolean).join(' ');\n} else {\n  finalEnrichedPrompt = enrichedPrompt;\n}\n\n// Map the suggested category correctly to VALID_CATEGORIES to prevent it from falling to \"Otros\"\nlet mappedCategory = d.suggested_category;\nif (mappedCategory === 'ACCESORIO') mappedCategory = 'Accesorios';\nif (mappedCategory === 'PANTALON') mappedCategory = 'Pantalones';\nif (mappedCategory === 'ZAPATO' || mappedCategory === 'ZAPATOS') mappedCategory = 'Zapatos';\nif (mappedCategory === 'CAMISA') mappedCategory = 'Camiseta';\nif (mappedCategory === 'CHAQUETA') mappedCategory = 'Chaqueta';\n\nconst VALID_CATEGORIES = ['Camiseta', 'Hoodie', 'Chaqueta', 'Pantalones', 'Zapatos', 'Accesorios', 'Otros'];\nconst isValidOriginal = VALID_CATEGORIES.includes(originalCategory);\nconst category = isValidOriginal\n  ? originalCategory\n  : (VALID_CATEGORIES.includes(mappedCategory) ? mappedCategory : 'Otros');\n\nreturn [{ json: { description: d, category, enrichedPrompt: finalEnrichedPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        1088
      ],
      "id": "53698c6e-a4aa-4e53-b519-8686b5deada9",
      "name": "Construir prompt enriquecido"
    },
    {
      "parameters": {
        "jsCode": "const { enrichedPrompt, description: d, category: mappedCategory } = $input.first().json;\n\nconst parts = [];\nif (d.garment_type) parts.push(d.garment_type + (d.silhouette ? ' de silueta ' + d.silhouette : ''));\nif (d.primary_color) parts.push('Color principal: ' + d.primary_color);\nif (d.secondary_colors?.length) parts.push('Colores secundarios: ' + d.secondary_colors.join(', '));\nif (d.patterns) parts.push('Estampado: ' + d.patterns);\nif (d.materials) parts.push('Material: ' + d.materials);\nconst dd = d.design_details || {};\nconst details = [\n  dd.neckline && 'cuello ' + dd.neckline,\n  dd.sleeves && 'mangas ' + dd.sleeves,\n  dd.closures && 'cierre ' + dd.closures,\n  dd.pockets && 'bolsillos: ' + dd.pockets,\n  dd.other || null\n].filter(Boolean);\nif (details.length) parts.push('Detalles: ' + details.join(', '));\nif (d.fit) parts.push('Fit: ' + d.fit);\n\nconst CATEGORY_MAP = {\n  vestido: 'VESTIDO', dress: 'VESTIDO',\n  camisa: 'CAMISA', shirt: 'CAMISA', top: 'TOP', blusa: 'BLUSA', blouse: 'BLUSA',\n  pantalon: 'PANTALON', 'pantalón': 'PANTALON', pants: 'PANTS', jeans: 'JEANS', pantalones: 'PANTALON',\n  falda: 'FALDA', skirt: 'FALDA',\n  zapatos: 'ZAPATOS', shoes: 'ZAPATOS', calzado: 'ZAPATOS', footwear: 'ZAPATOS', zapato: 'ZAPATOS',\n  conjunto: 'CONJUNTO', set: 'SET', outfit: 'CONJUNTO',\n  chaqueta: 'CHAQUETA', jacket: 'JACKET', abrigo: 'ABRIGO', coat: 'ABRIGO',\n  hoodie: 'HOODIE', sudadera: 'HOODIE',\n  accesorio: 'ACCESORIO', accesorios: 'ACCESORIO', accessory: 'ACCESORIO', accessories: 'ACCESORIO',\n  casco: 'HELMET', helmet: 'HELMET', reloj: 'ACCESORIO', bolso: 'ACCESORIO', gafas: 'ACCESORIO'\n};\n\nconst rawType = (d.garment_type || '').toLowerCase().trim();\n\n// 2. Fix CATEGORY_MAP for accessories and use the mapped category correctly\nlet finalCategory = CATEGORY_MAP[rawType] || d.garment_type?.toUpperCase() || null;\n\n// If we still didn't map to ACCESORIO but it is one, force it\nif (mappedCategory === 'Accesorios' && finalCategory !== 'ACCESORIO') {\n   finalCategory = 'ACCESORIO';\n}\n\nreturn [{ json: { description: parts.join('. ') + '.', category: finalCategory, enrichedPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1088
      ],
      "id": "06ef02ea-b8f9-404b-8cd5-88d34e028a2c",
      "name": "Formatear respuesta"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5200,
        1088
      ],
      "id": "9616af98-09f4-41f1-853e-c31bfe51180e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.wilkiedevs.com",
            "user-agent": "node",
            "content-length": "131",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n.wilkiedevs.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "ebb2277de8f1",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "image_url": "https://minio.wilkiedevs.com/images/products/1777223227102-80daa666f3a8.webp",
            "product_name": "T",
            "category": "tshirt"
          },
          "webhookUrl": "https://n8n.wilkiedevs.com/webhook/descriptor",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extraer parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer parametros": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Construir prompt enriquecido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir prompt enriquecido": {
      "main": [
        [
          {
            "node": "Formatear respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear respuesta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed"
  },
  "versionId": "bd268e91-079d-478f-ba8d-b0ce369b15eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
  },
  "id": "ZjVTV3QxoPEi60GX",
  "tags": [
    {
      "updatedAt": "2026-03-15T19:05:45.164Z",
      "createdAt": "2026-03-15T19:05:45.164Z",
      "id": "bidpNCaxW9N10X8S",
      "name": "SaaS"
    }
  ]
}