Lookitry_Brain_Vault/Cerebro/n8n/Obsidian → Knowledge Base Sync (Rebecca).json
{
  "name": "Obsidian → Knowledge Base Sync (Rebecca)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Genera embedding usando Vertex AI con autenticación por service account\n// El service account firma un JWT para obtener un access token\n\nconst item = $input.item.json;\n\n// Service account credentials\nconst SA = {\n  client_email: 'vertex-express@gen-lang-client-0591001769.iam.gserviceaccount.com',\n  private_key: '-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCTZaIsuVB6ICb5\\nwCfUBPLdDh5I7JIUQprh/VhnywHGdNvF7dt5ixz5MqUD6DqQmL1ynf6ubFsG8px7\\nH0rN1YqrNin4aHciKgtx77m7ExMo9l68VorEqT41ycHbrS8cyF5Qx0a8m8g37wfW\\ntI0JkViHbAStORcM79R/o/Mx+9w+61Sgj7K4WOTFO0ANwffAGFkXyOgYrNNzbJxV\\nFBYusDakmcGm8isBbv4UODvAsfRq2VBy9BT/E001sXAHyxvNVLlof58TsCtfdxbD\\nT9W8jO6DIGWmfAoDLKHbV+XwYvaL4Y2KbLG6MHJ5zLzexZ8S0/UoSjzKzGQ1QTDz\\niu1PdBtvAgMBAAECggEAPQHMeZFsJ1gmeanYck9oDCm7TDiqj7svqwj2reMfBXq5\\nujckZ662G8ij9zWIA/BMPWP6lUwg8wO409cUWZSglBPTlE78vEXFve9Yov8Wp5Yt\\niOuS/SoFpzKuS9PnE5U1QF7yvr8FxGzphCrv0z129Ho3h1EBYufjPr9nudECjIGv\\nE2TMGxotnQChIznFoXUzyP+MGHPot+qwCj7Ahne/1wxDD/2fGj/gbl/0ZqMm3ck5\\nRLUkq5fQNG8yW1VkT/o3mO5mexO2uNcVWv+yUKy7COrfzUW+HlJAEHPRT3lYgyXB\\njkAq6RqMV+r3ex9GbwxZ5wLRuMlJmnxdYObMPYvdvQKBgQDDpf5UyX8/I6J6OgqT\\nOaLFVZNBWHA4n8iAfoZn/onQFj0Bix/jKtSc7vSULd+ijmZQ7iIOaaJcm5kw1KL1\\nyMZwLRW+ujslhuPhiCiX9mOVxAhy6iJLihyNrjkRDGy0nymAXfIIYlgd8rHlOHLh\\nexTuWaoIoLE1G+DIGs1CJMxrswKBgQDA3U/7rwVa8x8N9ccPexCgHYPuR1Jtewqn\\nTsuaT3YfOBZfgybwmllKkE6IlsaCMRW6+pMJF4i75mOqMZtRrWw5mhxRolGBmwsq\\n59GT7THu06PdC/YNAxpydfhyQ8CTlW2MjGakjkNBDusrUp+RJKzm8Tx0lt/l3r7n\\nqrKk5snDVQKBgGdRlJLP6du9BMOJPSZsbHHLdD0w5+pvLuH0byQh/kMeS08yWj+L\\n0cWiRxSteQkOLCgW6XM1A6HmJarsz7X+NhTtKiuTi0KRDmx+i/lcC1D+uft9e2jq\\n4ZNMayR+rDViS/dXJUaaMLB4Bsvm2HwMlIweW7W8rng+ZaEmzjhc2HsTAoGAOYnN\\nMukkT934hdGtcZDlhN9JXO0qSj9LDl8TnxXVx7qT8irOkzl5KiWjSFyzHGRId2AK\\nPcwnnuc9FKl4DQYQI582k6Q5bNE0o7hFbjx1iSra2DeZUIh8e2l2laBg86bA6A17\\nEdzfc6lfv60GreajLsMJpj7czVeG3NawNUIlL4ECgYEAphhfrv5/eXh0OfHtIvz3\\ntdCG9r0d2XCbVWwfHp2hzb34CKqejxN1BJjNfI6sfQcXlaYaems01nuzcWIyo2UR\\nCy2tKWk2L+a12tI3Dzk/m9TFUmq6YB5ejTL5RmempxtzW57QXdysfRAo8AK9f5Cp\\n3qtwBg2ENoFAfE1Ez0gdqZ8=\\n-----END PRIVATE KEY-----\\n',\n  project_id: 'gen-lang-client-0591001769'\n};\n\n// Crear JWT para obtener access token\nfunction base64url(str) {\n  return btoa(str).replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n}\n\nfunction base64urlFromBuffer(buf) {\n  let binary = '';\n  const bytes = new Uint8Array(buf);\n  for (let i = 0; i < bytes.byteLength; i++) {\n    binary += String.fromCharCode(bytes[i]);\n  }\n  return btoa(binary).replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = base64url(JSON.stringify({ alg: 'RS256', typ: 'JWT' }));\nconst payload = base64url(JSON.stringify({\n  iss: SA.client_email,\n  scope: 'https://www.googleapis.com/auth/cloud-platform',\n  aud: 'https://oauth2.googleapis.com/token',\n  exp: now + 3600,\n  iat: now\n}));\n\nconst signingInput = `${header}.${payload}`;\n\n// Importar la clave privada y firmar\nconst pemKey = SA.private_key\n  .replace('-----BEGIN PRIVATE KEY-----', '')\n  .replace('-----END PRIVATE KEY-----', '')\n  .replace(/\\n/g, '')\n  .trim();\n\nconst binaryKey = Uint8Array.from(atob(pemKey), c => c.charCodeAt(0));\n\nconst cryptoKey = await crypto.subtle.importKey(\n  'pkcs8',\n  binaryKey.buffer,\n  { name: 'RSASSA-PKCS1-v1_5', hash: 'SHA-256' },\n  false,\n  ['sign']\n);\n\nconst encoder = new TextEncoder();\nconst signature = await crypto.subtle.sign(\n  'RSASSA-PKCS1-v1_5',\n  cryptoKey,\n  encoder.encode(signingInput)\n);\n\nconst jwt = `${signingInput}.${base64urlFromBuffer(signature)}`;\n\n// Obtener access token\nconst tokenRes = await $http.request({\n  method: 'POST',\n  url: 'https://oauth2.googleapis.com/token',\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: `grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=${jwt}`\n});\n\nconst accessToken = tokenRes.access_token;\nif (!accessToken) throw new Error('No se pudo obtener access token: ' + JSON.stringify(tokenRes));\n\n// Llamar a Vertex AI Embeddings\nconst textToEmbed = `${item.title}\\n\\n${item.content}`.slice(0, 2000);\n\nconst vertexRes = await $http.request({\n  method: 'POST',\n  url: `https://us-central1-aiplatform.googleapis.com/v1/projects/${SA.project_id}/locations/us-central1/publishers/google/models/text-embedding-004:predict`,\n  headers: {\n    'Authorization': `Bearer ${accessToken}`,\n    'Content-Type': 'application/json'\n  },\n  body: {\n    instances: [{\n      task_type: 'RETRIEVAL_DOCUMENT',\n      content: textToEmbed\n    }]\n  }\n});\n\nconst embedding = vertexRes.predictions?.[0]?.embeddings?.values;\nif (!embedding || !Array.isArray(embedding)) {\n  throw new Error(`Embedding inválido para \"${item.id}\": ${JSON.stringify(vertexRes).slice(0, 300)}`);\n}\n\nconsole.log(`✓ Embedding para \"${item.id}\": ${embedding.length} dims`);\n\nreturn {\n  json: {\n    id: item.id,\n    category: item.category,\n    title: item.title,\n    content: item.content,\n    is_active: item.is_active,\n    embedding: JSON.stringify(embedding)\n  }\n};"
      },
      "id": "03b500cf-15b4-444d-870c-000eda44ed55",
      "name": "🧠 Generar embedding (Vertex)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// El embedding ya viene incluido del nodo anterior\n// Solo pasamos el item completo\nreturn $input.item;"
      },
      "id": "29942854-f35c-46c1-8d70-a100718e6694",
      "name": "🔗 Combinar con embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "id": "b1da5e4c-2382-49f0-870d-c45bcc134fa7",
      "name": "💾 Upsert en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2240,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FRE0anooe2qI1LJP",
          "name": "Supabase Lookitry"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "428f72c7-4e6e-44ef-b876-8db49d2fa540",
      "name": "📦 Agregar",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2512,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.first().json.data || [];\nconst synced = allItems.length;\n\nconst summary = {\n  ok: true,\n  synced,\n  timestamp: new Date().toISOString(),\n  items: allItems.map(i => ({ id: i.id, title: i.title }))\n};\n\nconsole.log(`✅ Sync completado: ${synced} items`);\nreturn [{ json: summary }];"
      },
      "id": "3236e843-6979-42b0-b791-396420979426",
      "name": "📊 Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "00c85502-dc02-48f5-ad7b-0813fe4d0dd8",
      "name": "✅ Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3056,
        -64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-knowledge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2f0e025d-f194-42ea-9c78-17aa290f58c7",
      "name": "Recibir notas desde local",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1152,
        -64
      ],
      "webhookId": "sync-knowledge-base"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || !Array.isArray(body.items)) {\n  throw new Error('Body inválido. Esperado: { items: [{id, category, title, content, is_active}] }');\n}\n\nconst valid = body.items.filter(item => {\n  if (!item.id || !item.category || !item.title || !item.content) {\n    console.log(`Saltando item inválido: ${JSON.stringify(item).slice(0, 100)}`);\n    return false;\n  }\n  return true;\n});\n\nconsole.log(`Items válidos: ${valid.length}/${body.items.length}`);\nreturn valid.map(item => ({ json: item }));"
      },
      "id": "65fcd5aa-460f-43ec-95f2-446e1f3d904a",
      "name": "Validar items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🧠 Generar embedding (Vertex)": {
      "main": [
        [
          {
            "node": "🔗 Combinar con embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Combinar con embedding": {
      "main": [
        [
          {
            "node": "💾 Upsert en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Upsert en Supabase": {
      "main": [
        [
          {
            "node": "📦 Agregar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Agregar": {
      "main": [
        [
          {
            "node": "📊 Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Resumen": {
      "main": [
        [
          {
            "node": "✅ Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir notas desde local": {
      "main": [
        [
          {
            "node": "Validar items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar items": {
      "main": [
        [
          {
            "node": "🧠 Generar embedding (Vertex)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7825f082-3f1f-44bd-9232-9fc50d01bd04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
  },
  "id": "MiNJ0btYSDBWES4A",
  "tags": []
}