Lookitry_Brain_Vault/Cerebro/Knowledge Base/_n8n_workflow_obsidian_sync.json
{
  "name": "Obsidian → Knowledge Base Sync (Rebecca)",
  "nodes": [
    {
      "parameters": {
        "path": "sync-knowledge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "🔗 Recibir notas desde local",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 300],
      "webhookId": "sync-knowledge-base"
    },
    {
      "parameters": {
        "jsCode": "// Valida y normaliza los items recibidos desde el script local\nconst body = $input.first().json.body;\n\nif (!body || !Array.isArray(body.items)) {\n  throw new Error('Body inválido. Esperado: { items: [{id, category, title, content, is_active}] }');\n}\n\nconst valid = body.items.filter(item => {\n  if (!item.id || !item.category || !item.title || !item.content) {\n    console.log(`Saltando item inválido: ${JSON.stringify(item).slice(0, 100)}`);\n    return false;\n  }\n  return true;\n});\n\nconsole.log(`Items válidos: ${valid.length}/${body.items.length}`);\nreturn valid.map(item => ({ json: item }));"
      },
      "id": "validate-items",
      "name": "✅ Validar items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://us-central1-aiplatform.googleapis.com/v1/projects/gen-lang-client-0591001769/locations/us-central1/publishers/google/models/text-embedding-004:predict",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    {\n      \"task_type\": \"RETRIEVAL_DOCUMENT\",\n      \"content\": {{ JSON.stringify($json.title + '\\n\\n' + $json.content.slice(0, 2000)) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "generate-embedding",
      "name": "🧠 Generar embedding (Vertex)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 300],
      "credentials": {
        "googleApi": {
          "id": "anSUCJJxgytfDRRD",
          "name": "Vertex API -- LOOKITRY"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combina el item original con el embedding generado por Vertex\nconst item = $('✅ Validar items').item.json;\nconst vertexResponse = $input.item.json;\n\nconst embedding = vertexResponse.predictions?.[0]?.embeddings?.values;\n\nif (!embedding || !Array.isArray(embedding)) {\n  throw new Error(`Embedding inválido para \"${item.id}\": ${JSON.stringify(vertexResponse).slice(0, 300)}`);\n}\n\nconsole.log(`Embedding generado para \"${item.id}\": ${embedding.length} dimensiones`);\n\nreturn { json: { ...item, embedding } };"
      },
      "id": "merge-embedding",
      "name": "🔗 Combinar con embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "lookitry_knowledge",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $json.is_active }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ JSON.stringify($json.embedding) }}"
            }
          ]
        }
      },
      "id": "upsert-supabase",
      "name": "💾 Upsert en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [400, 300],
      "credentials": {
        "supabaseApi": {
          "id": "FRE0anooe2qI1LJP",
          "name": "Supabase Lookitry"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate",
      "name": "📦 Agregar resultados",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.first().json.data || [];\nconst synced = allItems.length;\n\nconst summary = {\n  ok: true,\n  synced,\n  timestamp: new Date().toISOString(),\n  items: allItems.map(i => ({ id: i.id, title: i.title }))\n};\n\nconsole.log(`✅ Sync completado: ${synced} items`);\nreturn [{ json: summary }];"
      },
      "id": "summary",
      "name": "📊 Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "✅ Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "🔗 Recibir notas desde local": {
      "main": [[{ "node": "✅ Validar items", "type": "main", "index": 0 }]]
    },
    "✅ Validar items": {
      "main": [[{ "node": "🧠 Generar embedding (Vertex)", "type": "main", "index": 0 }]]
    },
    "🧠 Generar embedding (Vertex)": {
      "main": [[{ "node": "🔗 Combinar con embedding", "type": "main", "index": 0 }]]
    },
    "🔗 Combinar con embedding": {
      "main": [[{ "node": "💾 Upsert en Supabase", "type": "main", "index": 0 }]]
    },
    "💾 Upsert en Supabase": {
      "main": [[{ "node": "📦 Agregar resultados", "type": "main", "index": 0 }]]
    },
    "📦 Agregar resultados": {
      "main": [[{ "node": "📊 Resumen", "type": "main", "index": 0 }]]
    },
    "📊 Resumen": {
      "main": [[{ "node": "✅ Respuesta", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["SaaS", "Rebecca", "Knowledge Base"]
}
