Lookitry_Brain_Vault/Cerebro/Knowledge Base/_n8n_workflow_sync_final.json
{
  "name": "Obsidian → Knowledge Base Sync (Rebecca)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-knowledge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "596ef6e2-931b-4659-b5d3-06aed38e0697",
      "name": "🔗 Recibir notas desde local",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "sync-knowledge-base"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || !Array.isArray(body.items)) {\n  throw new Error('Body inválido. Esperado: { items: [{id, category, title, content, is_active}] }');\n}\n\nconst valid = body.items.filter(item => {\n  if (!item.id || !item.category || !item.title || !item.content) {\n    console.log(`Saltando item inválido: ${JSON.stringify(item).slice(0, 100)}`);\n    return false;\n  }\n  return true;\n});\n\nconsole.log(`Items válidos: ${valid.length}/${body.items.length}`);\nreturn valid.map(item => ({ json: item }));"
      },
      "id": "51043bea-945a-433d-aca4-0b360947fcf0",
      "name": "✅ Validar items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, 0]
    },
    {
      "parameters": {
        "jsCode": "// Genera embedding usando Vertex AI con autenticación JWT via Node.js crypto\nconst crypto = require('crypto');\nconst item = $input.item.json;\n\nconst SA_EMAIL   = 'vertex-express@gen-lang-client-0591001769.iam.gserviceaccount.com';\nconst SA_KEY     = '-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCTZaIsuVB6ICb5\\nwCfUBPLdDh5I7JIUQprh/VhnywHGdNvF7dt5ixz5MqUD6DqQmL1ynf6ubFsG8px7\\nH0rN1YqrNin4aHciKgtx77m7ExMo9l68VorEqT41ycHbrS8cyF5Qx0a8m8g37wfW\\ntI0JkViHbAStORcM79R/o/Mx+9w+61Sgj7K4WOTFO0ANwffAGFkXyOgYrNNzbJxV\\nFBYusDakmcGm8isBbv4UODvAsfRq2VBy9BT/E001sXAHyxvNVLlof58TsCtfdxbD\\nT9W8jO6DIGWmfAoDLKHbV+XwYvaL4Y2KbLG6MHJ5zLzexZ8S0/UoSjzKzGQ1QTDz\\niu1PdBtvAgMBAAECggEAPQHMeZFsJ1gmeanYck9oDCm7TDiqj7svqwj2reMfBXq5\\nujckZ662G8ij9zWIA/BMPWP6lUwg8wO409cUWZSglBPTlE78vEXFve9Yov8Wp5Yt\\niOuS/SoFpzKuS9PnE5U1QF7yvr8FxGzphCrv0z129Ho3h1EBYufjPr9nudECjIGv\\nE2TMGxotnQChIznFoXUzyP+MGHPot+qwCj7Ahne/1wxDD/2fGj/gbl/0ZqMm3ck5\\nRLUkq5fQNG8yW1VkT/o3mO5mexO2uNcVWv+yUKy7COrfzUW+HlJAEHPRT3lYgyXB\\njkAq6RqMV+r3ex9GbwxZ5wLRuMlJmnxdYObMPYvdvQKBgQDDpf5UyX8/I6J6OgqT\\nOaLFVZNBWHA4n8iAfoZn/onQFj0Bix/jKtSc7vSULd+ijmZQ7iIOaaJcm5kw1KL1\\nyMZwLRW+ujslhuPhiCiX9mOVxAhy6iJLihyNrjkRDGy0nymAXfIIYlgd8rHlOHLh\\nexTuWaoIoLE1G+DIGs1CJMxrswKBgQDA3U/7rwVa8x8N9ccPexCgHYPuR1Jtewqn\\nTsuaT3YfOBZfgybwmllKkE6IlsaCMRW6+pMJF4i75mOqMZtRrWw5mhxRolGBmwsq\\n59GT7THu06PdC/YNAxpydfhyQ8CTlW2MjGakjkNBDusrUp+RJKzm8Tx0lt/l3r7n\\nqrKk5snDVQKBgGdRlJLP6du9BMOJPSZsbHHLdD0w5+pvLuH0byQh/kMeS08yWj+L\\n0cWiRxSteQkOLCgW6XM1A6HmJarsz7X+NhTtKiuTi0KRDmx+i/lcC1D+uft9e2jq\\n4ZNMayR+rDViS/dXJUaaMLB4Bsvm2HwMlIweW7W8rng+ZaEmzjhc2HsTAoGAOYnN\\nMukkT934hdGtcZDlhN9JXO0qSj9LDl8TnxXVx7qT8irOkzl5KiWjSFyzHGRId2AK\\nPcwnnuc9FKl4DQYQI582k6Q5bNE0o7hFbjx1iSra2DeZUIh8e2l2laBg86bA6A17\\nEdzfc6lfv60GreajLsMJpj7czVeG3NawNUIlL4ECgYEAphhfrv5/eXh0OfHtIvz3\\ntdCG9r0d2XCbVWwfHp2hzb34CKqejxN1BJjNfI6sfQcXlaYaems01nuzcWIyo2UR\\nCy2tKWk2L+a12tI3Dzk/m9TFUmq6YB5ejTL5RmempxtzW57QXdysfRAo8AK9f5Cp\\n3qtwBg2ENoFAfE1Ez0gdqZ8=\\n-----END PRIVATE KEY-----\\n';\nconst PROJECT   = 'gen-lang-client-0591001769';\n\n// Construir JWT con Node.js crypto (RS256)\nconst now = Math.floor(Date.now() / 1000);\nconst jwtHeader  = Buffer.from(JSON.stringify({ alg: 'RS256', typ: 'JWT' })).toString('base64url');\nconst jwtPayload = Buffer.from(JSON.stringify({\n  iss: SA_EMAIL,\n  scope: 'https://www.googleapis.com/auth/cloud-platform',\n  aud: 'https://oauth2.googleapis.com/token',\n  exp: now + 3600,\n  iat: now\n})).toString('base64url');\n\nconst signingInput = `${jwtHeader}.${jwtPayload}`;\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(signingInput);\nconst signature = sign.sign(SA_KEY, 'base64url');\nconst jwt = `${signingInput}.${signature}`;\n\n// Obtener access token de Google\nconst tokenRes = await $http.request({\n  method: 'POST',\n  url: 'https://oauth2.googleapis.com/token',\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: `grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=${jwt}`\n});\n\nconst accessToken = tokenRes.access_token;\nif (!accessToken) throw new Error('No se pudo obtener access token: ' + JSON.stringify(tokenRes));\n\n// Llamar a Vertex AI text-embedding-004\nconst textToEmbed = `${item.title}\\n\\n${item.content}`.slice(0, 2000);\n\nconst vertexRes = await $http.request({\n  method: 'POST',\n  url: `https://us-central1-aiplatform.googleapis.com/v1/projects/${PROJECT}/locations/us-central1/publishers/google/models/text-embedding-004:predict`,\n  headers: {\n    'Authorization': `Bearer ${accessToken}`,\n    'Content-Type': 'application/json'\n  },\n  body: {\n    instances: [{ task_type: 'RETRIEVAL_DOCUMENT', content: textToEmbed }]\n  }\n});\n\nconst embedding = vertexRes.predictions?.[0]?.embeddings?.values;\nif (!embedding || !Array.isArray(embedding)) {\n  throw new Error(`Embedding inválido para \"${item.id}\": ${JSON.stringify(vertexRes).slice(0, 300)}`);\n}\n\nconsole.log(`✓ \"${item.id}\": ${embedding.length} dims`);\n\nreturn { json: {\n  id: item.id, category: item.category, title: item.title,\n  content: item.content, is_active: item.is_active,\n  embedding: JSON.stringify(embedding)\n} };"
      },
      "id": "vertex-embedding",
      "name": "🧠 Generar embedding (Vertex)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [544, 0]
    },
    {
      "parameters": {
        "jsCode": "// El embedding ya viene incluido del nodo anterior\n// Solo pasamos el item completo\nreturn $input.item;"
      },
      "id": "merge-embedding",
      "name": "🔗 Combinar con embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 0]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "lookitry_knowledge",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "={{ $json.is_active }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ $json.embedding }}"
            }
          ]
        }
      },
      "id": "upsert-supabase",
      "name": "💾 Upsert en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1088, 0],
      "credentials": {
        "supabaseApi": {
          "id": "FRE0anooe2qI1LJP",
          "name": "Supabase Lookitry"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "📦 Agregar",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1360, 0]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.first().json.data || [];\nconst synced = allItems.length;\n\nconst summary = {\n  ok: true,\n  synced,\n  timestamp: new Date().toISOString(),\n  items: allItems.map(i => ({ id: i.id, title: i.title }))\n};\n\nconsole.log(`✅ Sync completado: ${synced} items`);\nreturn [{ json: summary }];"
      },
      "id": "cfac55b2-7a54-42d5-b358-785f98140084",
      "name": "📊 Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1632, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d690d00c-bfb7-41fc-820f-abd6212b0d89",
      "name": "✅ Respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1904, 0]
    }
  ],
  "connections": {
    "🔗 Recibir notas desde local": {
      "main": [[{ "node": "✅ Validar items", "type": "main", "index": 0 }]]
    },
    "✅ Validar items": {
      "main": [[{ "node": "🧠 Generar embedding (Vertex)", "type": "main", "index": 0 }]]
    },
    "🧠 Generar embedding (Vertex)": {
      "main": [[{ "node": "🔗 Combinar con embedding", "type": "main", "index": 0 }]]
    },
    "🔗 Combinar con embedding": {
      "main": [[{ "node": "💾 Upsert en Supabase", "type": "main", "index": 0 }]]
    },
    "💾 Upsert en Supabase": {
      "main": [[{ "node": "📦 Agregar", "type": "main", "index": 0 }]]
    },
    "📦 Agregar": {
      "main": [[{ "node": "📊 Resumen", "type": "main", "index": 0 }]]
    },
    "📊 Resumen": {
      "main": [[{ "node": "✅ Respuesta", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["SaaS", "Rebecca", "Knowledge Base"]
}
