docs/n8n/workflows/beta_launch_email_campaign.json
{
  "name": "Beta Launch Email Campaign",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cron", "crons": ["0 10 3 4 *"]}]
        },
        "triggerOn": "manual"
      },
      "id": "schedule",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email, contact_name FROM brands WHERE plan = 'TRIAL' AND email_verified = true AND created_at < '2026-03-31' LIMIT 200"
      },
      "id": "getBetaBrands",
      "name": "Obtener Marcas Beta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "loopBrands",
      "name": "Loop Marcas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst name = item.contact_name || item.name || 'Equipo';\nconst firstName = name.split(' ')[0];\n\nreturn {\n  json: {\n    ...item,\n    firstName,\n    emailSubject: 'Lookitry: Tu probador virtual está oficialmente lanzado 🎉',\n    preheader: 'Después de +18,000 pruebas, el probador virtual que Latam necesitaba ya está disponible para todos.',\n  }\n}"
      },
      "id": "prepareEmail",
      "name": "Preparar Datos Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "from": "Lookitry <info@lookitry.com>",
        "to": "={{ $json.email }}",
        "subject": "={{ $json.emailSubject }}",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0;padding:0;background:#f4f4f0;font-family:'Helvetica Neue',Arial,sans-serif\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f0;padding:40px 0\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px\">\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background:#0a0a0a;padding:30px 40px;border-radius:16px 16px 0 0;text-align:center\">\n              <h1 style=\"margin:0;color:#ffffff;font-size:28px;font-weight:700\">Lookitry</h1>\n              <p style=\"margin:8px 0 0;color:#FF5C3A;font-size:12px;font-weight:600;letter-spacing:0.1em\">VIRTUAL TRY-ON</p>\n            </td>\n          </tr>\n          <!-- BODY -->\n          <tr>\n            <td style=\"background:#ffffff;padding:40px;border-radius:0 0 16px 16px\">\n              <p style=\"color:#333333;font-size:16px;line-height:1.6;margin:0 0 20px\">Hola <strong>{{ $json.firstName }}</strong>,</p>\n              \n              <p style=\"color:#333333;font-size:16px;line-height:1.6;margin:0 0 20px\">Gracias a vos, <strong>{{ $json.name }}</strong>, durante el último año avons trabajado para construir el probador virtual que Latam necesitaba. Ahora, <strong>es oficial: Lookitry ya está lanzado</strong>.</p>\n              \n              <div style=\"background:#f9f9f9;padding:24px;border-radius:12px;margin:30px 0\">\n                <p style=\"margin:0;color:#333333;font-size:14px;line-height:1.6\"><strong>🎁 Oferta especial para vos:</strong></p>\n                <p style=\"margin:12px 0 0;color:#FF5C3A;font-size:20px;font-weight:700\">20% de descuento en tu primer año</p>\n                <p style=\"margin:8px 0 0;color:#666666;font-size:13px\">Válido hasta el 30 de Abril. Usa el código <strong>LOOKITRY20</strong></p>\n              </div>\n              \n              <p style=\"color:#333333;font-size:16px;line-height:1.6;margin:0 0 20px\">Procesamos más de <strong>18,000 generaciones</strong> durante nuestra fase beta. El widget funciona, la calidad mejoró y ahora está listo para ayudarte a reducir devoluciones y aumentar ventas.</p>\n              \n              <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:30px 0\">\n                <tr>\n                  <td style=\"background:#FF5C3A;padding:16px 32px;border-radius:8px\">\n                    <a href=\"https://lookitry.com/dashboard/subscription?code=LOOKITRY20\" style=\"color:#ffffff;text-decoration:none;font-weight:600;font-size:16px\">Activar mi descuento →</a>\n                  </td>\n                </tr>\n              </table>\n              \n              <p style=\"color:#666666;font-size:14px;line-height:1.6;margin:30px 0 0\">Si tenés alguna pregunta, respondé este email — siempre contestamos.</p>\n              \n              <p style=\"color:#333333;font-size:16px;margin:30px 0 0\">¡Gracias por confiar en nosotros desde el día uno!</p>\n              <p style=\"color:#666666;font-size:14px;margin:8px 0 0\">— El equipo de Lookitry</p>\n            </td>\n          </tr>\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"padding:20px;text-align:center\">\n              <p style=\"color:#999999;font-size:12px;margin:0\">\n                <a href=\"https://lookitry.com/unsubscribe?email={{ $json.email }}\" style=\"color:#999999\">Unsubscribe</a> · \n                <a href=\"https://lookitry.com/sobre-nosotros\" style=\"color:#999999\">Sobre Nosotros</a> · \n                <a href=\"https://lookitry.com/contacto\" style=\"color:#999999\">Contacto</a>\n              </p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "additionalFields": {}
      },
      "id": "sendEmail",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "console.log('Email enviado a: ' + $json.email);\nreturn { json: { sent: true, email: $json.email } };"
      },
      "id": "logSent",
      "name": "Log Envío",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Trigger Manual": {"main": [[{"node": "Obtener Marcas Beta", "type": "main", "index": 0}]]},
    "Obtener Marcas Beta": {"main": [[{"node": "Loop Marcas", "type": "main", "index": 0}]]},
    "Loop Marcas": {"main": [[{"node": "Preparar Datos Email", "type": "main", "index": 0}]]},
    "Preparar Datos Email": {"main": [[{"node": "Enviar Email", "type": "main", "index": 0}]]},
    "Enviar Email": {"main": [[{"node": "Log Envío", "type": "main", "index": 0}]]}
  }
}