docs/n8n/workflows/flujo-blog-mejorado.json
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "use-replicate",
                    "leftValue": "={{ String($json.image_provider || 'openrouter').toLowerCase() }}",
                    "rightValue": "replicate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Replicate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "use-openrouter",
                    "leftValue": "={{ String($json.image_provider || 'openrouter').toLowerCase() }}",
                    "rightValue": "openrouter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OpenRouter"
            }
          ]
        },
        "options": {}
      },
      "id": "d1adf755-32c0-4904-acd3-79ecaf724b57",
      "name": "Switch Proveedor Imagen",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        96672,
        36336
      ]
    },
    {
      "parameters": {
        "jsCode": "let articuloCompleto = '';\ntry {\n  articuloCompleto = $input.first().json.data || $input.first().json || '';\n} catch(e) {\n  articuloCompleto = 'No se pudo acceder a la noticia completa. Basate únicamente en el titular y el resumen proporcionado.';\n}\n\nconst temaActual = $('Loop Temas Pendientes').item.json;\nconst textoLimpio = typeof articuloCompleto === 'string' ? articuloCompleto.substring(0, 15000) : 'Sin información adicional.';\n\nreturn [{\n  json: {\n    ...temaActual,\n    investigacion_profunda: textoLimpio\n  }\n}];"
      },
      "id": "ec2d0e0a-a754-4e1b-8dbc-5b63cdad4280",
      "name": "Adjuntar Investigación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98304,
        36560
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.source_url ? 'https://r.jina.ai/' + $json.source_url : 'https://r.jina.ai/https://lookitry.com' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_96124a0c401a47afa44fdb5a3c669d16YETHc9iUQn3qq93gWcU24efhtAMc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          }
        }
      },
      "id": "5a2060d4-0d6e-47d3-8fb4-7c80355c5fcd",
      "name": "Jina Lector de Noticias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        98304,
        36272
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Trend Hunter"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: \"meta-llama/llama-3.3-70b-instruct\",\n  messages: [{\n    role: \"user\",\n    content: [\n      \"Eres el Editor Jefe de Estrategia para Lookitry, el SaaS líder en probadores virtuales de moda con IA en COLOMBIA.\",\n      \"Tu objetivo es generar 3 ideas de artículos ÚNICOS, VARIADOS y DINÁMICOS para nuestro blog, enfocados 100% en el mercado COLOMBIANO.\",\n      \"\",\n      $json.contextNoticias,\n      \"\",\n      \"CRITERIOS DE CREACIÓN:\",\n      \"1. NO HAGAS SOLO NOTICIAS. Genera exactamente:\",\n      \"   - 1 Tema de Noticias/Tendencias (basado en el RSS).\",\n      \"   - 1 Tema de Entretenimiento / Moda y Estilo (tips, curiosidades).\",\n      \"   - 1 Tema Comercial / Ofertas / Estrategia (cómo vender más).\",\n      \"2. Enfoque hiper-local colombiano.\",\n      \"3. Asigna SIEMPRE una de las 'URL' proporcionadas al campo 'source_url' de cada tema.\",\n      \"\",\n      \"CATEGORÍAS PERMITIDAS: 'ecommerce', 'ia', 'moda-y-estilo', 'negocios-y-saas'\",\n      \"\",\n      \"RESPUESTA: Devuelve SOLO un array JSON válido. Sin markdown.\",\n      \"Formato exacto:\",\n      \"[\\n  {\\\"title\\\": \\\"...\\\", \\\"keywords\\\": \\\"...\\\", \\\"category_slug\\\": \\\"ecommerce\\\", \\\"source_url\\\": \\\"https://ejemplo.com/noticia\\\"}\\n]\"\n    ].join('\\n')\n  }],\n  temperature: 0.8,\n  max_tokens: 4000\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "3944f78a-027a-4fed-b79e-7cd947600ba2",
      "name": "AI Trend Hunter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        93600,
        36528
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().slice(0, 10);\nlet newsText = 'ÚLTIMAS NOTICIAS REALES DE HOY EN COLOMBIA:\\n\\n';\n\nitems.forEach((item, i) => {\n  const titulo = item.json.title || 'Sin título';\n  const url = item.json.link || '';\n  let resumen = item.json.contentSnippet || item.json.content || item.json.description || '';\n  resumen = resumen.replace(/<[^>]*>?/gm, '').trim();\n\n  newsText += `--- NOTICIA ${i+1} ---\\n`;\n  newsText += `TÍTULO: ${titulo}\\n`;\n  newsText += `URL: ${url}\\n`;\n  newsText += `RESUMEN: ${resumen}\\n\\n`;\n});\n\nreturn [{ json: { contextNoticias: newsText } }];"
      },
      "id": "5259afb7-ac02-4c0b-85cd-67a10ea8e04b",
      "name": "Preparar Contexto Real",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        93376,
        36528
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=(ecommerce+OR+retail+OR+\"inteligencia+artificial\"+OR+\"probador+virtual\")+moda+(colombia+OR+LATAM)&hl=es-419&gl=CO&ceid=CO:es-419",
        "options": {}
      },
      "id": "55ca9561-4c44-4cae-b90b-76a0cdc63e34",
      "name": "Google Noticias Colombia",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        93136,
        36528
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        95856,
        36080
      ],
      "id": "d005d6cc-ddc0-4406-bcae-e4bb42908e4c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "dc8d354a-d43d-4e8a-b60e-41474d569bc3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        92816,
        36736
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-blog-generation",
        "options": {}
      },
      "id": "e49774a2-b205-42a9-98ec-daa5084b740c",
      "name": "Webhook Trigger Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        92800,
        36528
      ],
      "webhookId": "lookitry-blog-trigger-v3"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\nlet rawText = '';\nif (typeof source?.choices?.[0]?.message?.content === 'string') {\n  rawText = source.choices[0].message.content;\n} else if (Array.isArray(source?.choices?.[0]?.message?.content)) {\n  rawText = source.choices[0].message.content.map(p => p?.text || '').join('');\n} else {\n  rawText = JSON.stringify(source);\n}\nrawText = rawText.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\nlet topics;\ntry { topics = JSON.parse(rawText); } catch(e) {\n  const m = rawText.match(/\\[([\\s\\S]+?)\\]/);\n  if (!m) throw new Error('No se pudo parsear array de temas: ' + rawText.substring(0, 500));\n  try { topics = JSON.parse('[' + m[1] + ']'); } catch(e2) {\n    throw new Error('Parse fallido incluso con extracción manual: ' + rawText.substring(0, 500));\n  }\n}\nif (!Array.isArray(topics) || topics.length === 0) throw new Error('El AI no devolvió temas válidos.');\nconst result = topics.slice(0, 3).map(t => ({ json: { title: (t.title || '').trim(), keywords: (t.keywords || '').trim(), category_slug: (t.category_slug || 'ia').trim(), source_url: (t.source_url || '').trim() } }));\nconsole.log('Temas parseados del AI:', result.map(r => r.json.title));\nreturn result;"
      },
      "id": "8a5ef892-6ccf-4ecc-bf75-a105ec1a8489",
      "name": "Parsear Temas AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        93920,
        36528
      ]
    },
    {
      "parameters": {
        "url": "https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics?select=title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "4e4706e5-2801-4cc7-8e5e-a455a50a5c4a",
      "name": "GET Temas Existentes Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        93920,
        36720
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "3f1323cd-40e3-4d0e-8b5a-4c5ea9a05e23",
      "name": "Merge Para Deduplicar",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        94192,
        36544
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst aiTopics = allItems.filter(i => i.json.keywords !== undefined);\nconst supabaseItems = allItems.filter(i => i.json.keywords === undefined);\n\nconsole.log(`Items del AI: ${aiTopics.length}, Items de Supabase: ${supabaseItems.length}`);\n\nconst existingTitles = new Set();\nfor (const item of supabaseItems) {\n  const raw = item.json;\n  const arr = Array.isArray(raw) ? raw : (raw?.data || [raw]);\n  for (const t of arr) {\n    if (t?.title) existingTitles.add(t.title.toLowerCase().trim());\n  }\n}\n\nconsole.log(`Títulos existentes en Supabase: ${existingTitles.size}`, [...existingTitles]);\n\nconst newTopics = aiTopics.filter(item => {\n  const t = (item.json.title || '').toLowerCase().trim();\n  const isDup = existingTitles.has(t);\n  if (isDup) console.log(`Duplicado detectado, saltando: \"${item.json.title}\"`);\n  return t.length > 5 && !isDup;\n});\n\nif (newTopics.length === 0) {\n  console.log('Todos los temas propuestos ya existen. No se insertarán duplicados.');\n  return [{ json: { skipped: true, message: 'No hay temas nuevos para insertar.' } }];\n}\n\nconsole.log(`Temas nuevos a insertar: ${newTopics.length}`, newTopics.map(t => t.json.title));\nreturn newTopics.map(i => ({ json: i.json }));"
      },
      "id": "606a6ced-8ac0-4519-a4d7-a4e8121d072a",
      "name": "Deduplicar Temas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        94448,
        36544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skipped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cceaecd2-28ea-4dbd-9b38-a0aa2826ebcb",
      "name": "¿Hay temas nuevos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        94672,
        36544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, keywords: $json.keywords, category_slug: $json.category_slug, source_url: $json.source_url, status: 'pending' }) }}",
        "options": {}
      },
      "id": "7260917b-09db-43db-a75f-5ca88773ed65",
      "name": "INSERT Tema en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        94896,
        36528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verificar que el INSERT fue exitoso antes de continuar\nconst res = $input.first().json;\nconst inserted = Array.isArray(res) ? res[0] : res;\nif (!inserted?.id) {\n  console.warn('INSERT no devolvió id, respuesta:', JSON.stringify(res));\n} else {\n  console.log(`✓ Tema insertado correctamente: id=${inserted.id}, title=\"${inserted.title}\"`);\n}\nreturn [{ json: inserted || res }];"
      },
      "id": "0ed23470-b018-49f6-890d-3ca66536c19f",
      "name": "Verificar INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        95136,
        36528
      ]
    },
    {
      "parameters": {
        "url": "https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics?select=id,title,keywords,category_slug,source_url&status=eq.pending&order=created_at.asc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "1370b464-d89a-4580-9648-42e1ee12b565",
      "name": "GET Temas Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        95376,
        36528
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconsole.log('GET Temas Pendientes respuesta raw:', JSON.stringify(raw));\n\nlet topics = [];\nif (Array.isArray(raw)) {\n  topics = raw;\n} else if (raw?.data && Array.isArray(raw.data)) {\n  topics = raw.data;\n} else if (raw?.id) {\n  topics = [raw];\n}\n\nif (topics.length === 0 || Object.keys(raw).length === 0) {\n  console.log('No hay temas pendientes en Supabase. El flujo se detendrá aquí.');\n  return []; \n}\n\nreturn topics.map(t => ({\n  json: {\n    topic_id: t.id,\n    title: t.title,\n    keywords: t.keywords || '',\n    category_slug: t.category_slug || 'ia',\n    source_url: t.source_url || ''\n  }\n}));"
      },
      "id": "f01109f6-c4d3-4947-b43e-6a56cc7ea003",
      "name": "Preparar Loop Temas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        95616,
        36528
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "id": "31154fc2-782a-4cd6-85f6-e3d7dfbaf4b8",
      "name": "Loop Temas Pendientes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        95856,
        36528
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first()?.json?.content?.parts?.[0]?.text ||\n  $input.first()?.json?.choices?.[0]?.message?.content ||\n  $input.first()?.json?.text || '';\nconst text = raw.replace(/\\r/g, '').trim();\nfunction cleanPrompt(v) {\n  return (v || '').replace(/^[\"'`]+|[\"'`]+$/g,'').replace(/\\n+/g,' ').replace(/\\s+/g,' ').trim();\n}\nfunction extractLabeled(label, nextLabels=[]) {\n  const next = nextLabels.length ? `(?=\\\\(${nextLabels.join('|')}\\\\)|$)` : '$';\n  const rx = new RegExp(`\\\\(${label}\\\\)\\\\s*([\\\\s\\\\S]+?)${next}`,'i');\n  return cleanPrompt(text.match(rx)?.[1] || '');\n}\nfunction readWebhookPayload() {\n  try {\n    const payload = $('Webhook Trigger Manual').first()?.json || {};\n    return payload?.body && typeof payload.body === 'object' ? payload.body : payload;\n  } catch {\n    return {};\n  }\n}\nconst webhookPayload = readWebhookPayload();\nconst requestedProvider = String(webhookPayload.image_provider || 'openrouter').toLowerCase();\nconst requestedArticleModel = String(webhookPayload.openrouter_model || 'meta-llama/llama-3.3-70b-instruct:free');\nconst requestedImageModel = String(webhookPayload.openrouter_image_model || 'openai/dall-e-3');\nlet pA = extractLabeled('A',['B','C']);\nlet pB = extractLabeled('B',['C']);\nlet pC = extractLabeled('C',[]);\nconst bullets = text.split('\\n').map(l=>cleanPrompt(l.replace(/^[-*?\\d.)\\s]+/,''))).filter(Boolean);\nif (!pA && bullets[0]) pA = bullets[0];\nif (!pB && bullets[1]) pB = bullets[1];\nif (!pC && bullets[2]) pC = bullets[2];\nif (pA && !pB) pB = `${pA}, editorial lifestyle scene, fashion ecommerce context, different composition`;\nif (pA && !pC) pC = `${pA}, secondary supporting visual, alternate angle, AI virtual try-on detail`;\nif (!pA) throw new Error('No se pudieron extraer los prompts. Texto: ' + text.substring(0,500));\nconst topicData = $('Loop Temas Pendientes').item.json;\nconst sharedMeta = {\n  image_provider: requestedProvider,\n  openrouter_model: requestedArticleModel,\n  openrouter_image_model: requestedImageModel,\n};\nreturn [\n  { json: { prompt: pA, tipo: 'destacada', orden: 1, ...topicData, ...sharedMeta } },\n  { json: { prompt: pB, tipo: 'body1', orden: 2, ...topicData, ...sharedMeta } },\n  { json: { prompt: pC, tipo: 'body2', orden: 3, ...topicData, ...sharedMeta } }\n];"
      },
      "id": "50f81771-afc8-4dda-8cf8-1ace1246e881",
      "name": "Extraer Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96224,
        36064
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7d1877a9-569b-4f95-ad3a-8a1622c5e07c",
      "name": "Loop Imágenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96640,
        36064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait=10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  input: {\n    prompt: $json.prompt,\n    aspect_ratio: \"16:9\",\n    output_format: \"png\",\n    output_quality: 90,\n    num_inference_steps: 4,\n    go_fast: true,\n    megapixels: \"1\"\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "802a01c9-9276-4f47-a11b-6b0bde590520",
      "name": "Replicate FLUX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96896,
        36320
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Blog Automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: ($json.openrouter_image_model || 'google/gemini-2.5-flash-image'),\n  messages: [\n    {\n      role: 'user',\n      content: $json.prompt || `Editorial image for ${$json.title || 'fashion ecommerce article'}`\n    }\n  ],\n  modalities: ['image', 'text'],\n  stream: false,\n  image_config: {\n    aspect_ratio: '16:9'\n  }\n}) }}\n",
        "options": {
          "timeout": 120000
        }
      },
      "id": "067dca71-9a81-4885-84ee-e06a4ab55164",
      "name": "OpenRouter Generar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96688,
        36576
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.item.json;\nconst promptData = $('Loop Imágenes').item.json;\nlet imageValue = '';\nif (source?.choices?.[0]?.message?.images?.[0]?.image_url?.url) {\n  imageValue = source.choices[0].message.images[0].image_url.url;\n} else if (source?.choices?.[0]?.message?.images?.[0]?.imageUrl?.url) {\n  imageValue = source.choices[0].message.images[0].imageUrl.url;\n} else if (source?.choices?.[0]?.message?.content) {\n  const content = source.choices[0].message.content;\n  const match = content.match(/https:\\/\\/\\S+/);\n  imageValue = match ? match[0] : content;\n} else if (source?.imageUrl) {\n  imageValue = source.imageUrl;\n} else if (source?.data?.[0]?.url) {\n  imageValue = source.data[0].url;\n} else {\n  throw new Error('OpenRouter no devolvi? imagen utilizable: ' + JSON.stringify(source).slice(0, 800));\n}\nreturn [{ json: { ...promptData, imageUrl: imageValue } }];"
      },
      "id": "19315047-2f4a-4f64-bafa-ed0704551d20",
      "name": "Extraer URL OpenRouter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97376,
        36576
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst source = item.json.imageUrl || '';\nif (!source) {\n  throw new Error('OpenRouter no devolvi? imageUrl');\n}\nconst match = source.match(/^data:(image\\/[a-zA-Z0-9.+-]+);base64,(.+)$/);\nif (!match) {\n  throw new Error('OpenRouter devolvi? una imagen no compatible para conversi?n directa');\n}\nconst mimeType = match[1];\nconst base64 = match[2];\nreturn {\n  json: item.json,\n  binary: {\n    data: {\n      data: base64,\n      mimeType,\n      fileName: `${item.json.tipo || 'imagen'}.png`,\n    },\n  },\n};"
      },
      "id": "94217f70-ca9d-4142-a18e-42450249f378",
      "name": "Descargar Imagen OpenRouter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98032,
        36576
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst currentItem = $('Loop Imágenes').item.json;\nconst token = '***REMOVED-SECRET***';\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nasync function getPrediction(url) {\n  const res = await fetch(url, { headers: { Authorization: `Bearer ${token}`, 'Content-Type': 'application/json' } });\n  if (!res.ok) throw new Error(`Replicate lookup failed (${res.status}): ${await res.text()}`);\n  return await res.json();\n}\n\nasync function resolvePrediction(pred) {\n  let cur = pred;\n  for (let i = 0; i < 30; i++) {\n    if (cur?.error) throw new Error(`Replicate error en ${currentItem.tipo}: ${cur.error}`);\n    if (cur?.status === 'failed' || cur?.status === 'canceled') throw new Error(`Replicate ${cur.status}. ID: ${cur.id}`);\n    if (cur?.status === 'succeeded' && cur?.output) {\n      const imageUrl = Array.isArray(cur.output) ? cur.output[0] : cur.output;\n      await sleep(12000);\n      return [{ json: { ...currentItem, imageUrl, predictionId: cur.id } }];\n    }\n    const pollUrl = cur?.urls?.get;\n    if (!pollUrl) throw new Error(`Sin output ni poll URL. Status: ${cur?.status || 'unknown'}`);\n    await sleep(4000);\n    cur = await getPrediction(pollUrl);\n  }\n  throw new Error(`Replicate timeout para ${currentItem.tipo}`);\n}\n\nreturn await resolvePrediction(response);"
      },
      "id": "3ce22cc1-f1ef-4964-a7cd-aab98a809e56",
      "name": "Replicate Extraer URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97104,
        36320
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9bc31428-178e-4a3f-89c3-75eb5a875546",
      "name": "Descargar PNG Replicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        97312,
        36320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst tipo = item.json.tipo || 'imagen';\nif (item.binary?.data) {\n  item.binary.data.fileName = `${tipo}.png`;\n  item.binary.data.mimeType = 'image/png';\n}\nreturn { json: { ...item.json, tipo }, binary: item.binary };"
      },
      "id": "9a9fe3dc-7646-41fb-badb-1a70ee0755f1",
      "name": "Renombrar PNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97552,
        36320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_n8n"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "filename",
              "value": "={{ $('Renombrar PNG').item.binary.data.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb15a27d-3b97-4f5f-b5e8-9d606e363e42",
      "name": "Uploader Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        97776,
        36320
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().sort((a,b) => (a.json.orden||0)-(b.json.orden||0));\nconsole.log('Consolidar recibió', items.length, 'items del Done branch');\nif (items.length < 3) throw new Error(`Se esperaban 3 imágenes subidas, se recibieron ${items.length}.`);\nconst mapImg = i => ({\n  id:  i?.json?.path || i?.json?.url || null,\n  url: i?.json?.url || null\n});\nreturn [{ json: {\n  imagen_destacada: mapImg(items[0]),\n  imagen_body1:     mapImg(items[1]),\n  imagen_body2:     mapImg(items[2])\n} }];"
      },
      "id": "1e8abd0b-0f5c-4418-91c4-12c3a5eb10fa",
      "name": "Consolidar URLs Imágenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98000,
        36048
      ]
    },
    {
      "parameters": {
        "url": "https://lookitry.com/api/blog",
        "options": {}
      },
      "id": "8b472818-83df-4177-9dd1-23b2871554cc",
      "name": "GET Blogs Existentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        98160,
        36048
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst source = rawItems.length === 1 && Array.isArray(rawItems[0].json?.data) ? rawItems[0].json.data : rawItems.map(i => i.json);\nconst enlacesBlogs = source.slice(0, 8).map(post => ({ titulo: post.title, url: `https://lookitry.com/blog/${post.slug}` }));\nreturn [{ json: { enlacesBlogs } }];"
      },
      "id": "29ce73b1-a17f-490b-ab21-15446337cf83",
      "name": "Extraer Links Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98336,
        36048
      ]
    },
    {
      "parameters": {
        "jsCode": "const enlaces = Array.isArray($input.first().json.enlacesBlogs) ? $input.first().json.enlacesBlogs : [];\n\nlet imagenes = {};\ntry {\n  imagenes = $('Consolidar URLs Im?genes').first().json || {};\n} catch (error) {\n  console.log('Advertencia: No se encontraron datos de im?genes en este ciclo.');\n}\n\nlet tema = {};\ntry {\n  tema = $('Loop Temas Pendientes').item.json || {};\n} catch (error) {\n  tema = $('Loop Temas Pendientes').first().json || {};\n}\n\nreturn [{\n  json: {\n    ...tema,\n    enlacesBlogs: enlaces,\n    imagen_destacada_url: imagenes.imagen_destacada?.url || '',\n    imagen_body1_url: imagenes.imagen_body1?.url || '',\n    imagen_body2_url: imagenes.imagen_body2?.url || '',\n    imagen_destacada_id: imagenes.imagen_destacada?.id || null,\n    imagen_body1_id: imagenes.imagen_body1?.id || null,\n    imagen_body2_id: imagenes.imagen_body2?.id || null,\n  },\n}];"
      },
      "id": "7b4607ee-f3f9-4a29-92ea-17608bb07d7b",
      "name": "Obtener Info Consolidada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98496,
        36048
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-001",
              "name": "Tema",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "ctx-002",
              "name": "Keywords",
              "value": "={{ $json.keywords }}",
              "type": "string"
            },
            {
              "id": "ctx-003",
              "name": "Categoria",
              "value": "={{ $json.category_slug }}",
              "type": "string"
            },
            {
              "id": "ctx-004",
              "name": "EnlacesBlogs",
              "value": "={{ $json.enlacesBlogs }}",
              "type": "string"
            },
            {
              "id": "e1e9a9ed-9148-4a01-80a6-73833441b6bc",
              "name": "openrouter_model",
              "value": "={{ $('Extraer Prompts').first().json.openrouter_model \n\n 'meta-llama/llama-3.3-70b-instruct' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4074babf-a15f-4792-a2cf-9b93ba1a6cc1",
      "name": "Preparar Contexto Editorial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        98064,
        36272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Blog Automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: ($json.openrouter_model || 'meta-llama/llama-3.3-70b-instruct'),\n  messages: [{\n    role: 'user',\n    content: [\n      'Eres un consultor experto en ecommerce y director de LOOKITRY. Tu misión es escribir un artículo de blog orientado a SEO moderno (2026), con un tono 100% humano, empático y conversacional para Colombia.',\n      '# DATOS DE ENTRADA',\n      '- Tema: ' + ($json.title || ''),\n      '- Investigación profunda (noticia/contexto): ' + ($json.investigacion_profunda || 'Usa tu conocimiento general'),\n      '- Categoría: ' + ($json.category_slug || 'ia'),\n      '- Keywords principales y LSI: ' + ($json.keywords || ''),\n      '- Blogs internos relacionados (usalos de verdad): ' + JSON.stringify($json.enlacesBlogs || []),\n      '- URL imagen cuerpo 1: ' + ($json.imagen_body1_url || ''),\n      '- URL imagen cuerpo 2: ' + ($json.imagen_body2_url || ''),\n      '',\n      '# REGLAS DE SEO 2026 Y MAQUETACION (CRITICO)',\n      '- Todo el contenido debe ir envuelto en una etiqueta <article>.',\n      '- Parrafos muy cortos (maximo 3 lineas) para facilitar la lectura en moviles.',\n      '- Usa la etiqueta <strong> de forma natural para resaltar ideas importantes, dolores del cliente y variaciones de tus palabras clave.',\n      '- Jerarquia estricta: usa <h2> para titulos principales y <h3> para subtemas.',\n      '- Usa al menos una lista <ul> o <ol> para hacer el texto escaneable.',\n      '- Inserta exactamente 2 backlinks internos hacia articulos del blog de LOOKITRY usando URLs de la lista Blogs internos relacionados.',\n      '- Cada backlink debe usar la URL exacta proporcionada y un anchor contextual, nunca la home.',\n      '- Debes usar exactamente las URLs de imagen entregadas en las dos etiquetas <img> del cuerpo.',\n      '- Esta prohibido devolver cualquier etiqueta <img> con src vacio.',\n      '- Las 3 imagenes del articulo deben ser distintas: portada, cuerpo 1 y cuerpo 2 no pueden repetir URL.',\n      '',\n      '# RESTRICCIONES TECNICAS',\n      '1. Devuelve solo un objeto JSON valido. Sin markdown, sin explicaciones extra.',\n      '2. El campo content debe ser HTML completo en una sola linea.',\n      '3. Prohibido envolver el CTA final en etiquetas <p>.',\n      '4. El CTA suave debe enlazar a https://lookitry.com/trial-checkout.',\n      '5. El CTA final debe enlazar a https://lookitry.com/trial-checkout.',\n      '',\n      '# ESTRUCTURA HTML ESTRICTA Y CALL TO ACTIONS (CTAs)',\n      '<article>',\n      '  <div data-blog-intro=\"lead\">[Parrafo de apertura super empatico que toque el dolor del cliente. Resalta algo en <strong>].</div>',\n      '  <h2>[Titulo atractivo seccion 1]</h2>',\n      '  <p>...[3-4 parrafos cortos desarrollando el tema]...</p>',\n      '  <p class=\"soft-cta\" style=\"background:#f9f9f9; padding:15px; border-left:4px solid #FF5C3A; font-style:italic;\"><strong>Te identificas con este problema?</strong> Descubre como LOOKITRY ayuda a las tiendas de moda a <a href=\"https://lookitry.com/trial-checkout\" style=\"color:#FF5C3A;\">activar una prueba paga y reducir devoluciones con IA</a>.</p>',\n      '  <figure><img src=\"' + ($json.imagen_body1_url || '') + '\" alt=\"Escena editorial relacionada con el articulo\" /><figcaption>[Descripcion corta]</figcaption></figure>',\n      '  <h2>[Titulo seccion 2]</h2>',\n      '  <p>...[Desarrollo con ejemplos de Colombia e integracion natural de 2 backlinks internos]...</p>',\n      '  <h3>[Subseccion de beneficios]</h3>',\n      '  <ul>[Lista de 3 a 5 puntos clave con negritas]</ul>',\n      '  <figure><img src=\"' + ($json.imagen_body2_url || '') + '\" alt=\"Tecnologia LOOKITRY aplicada al ecommerce de moda\" /><figcaption>[Descripcion corta]</figcaption></figure>',\n      '  <h2>[Conclusion motivadora]</h2>',\n      '  <p>...[Cierre]...</p>',\n      '  <div data-blog-cta=\"final\" style=\"text-align: center; padding: 40px; background: #0A0A0A; border-radius: 30px; margin: 50px 0;\"><h3 style=\"color: #FFFFFF; margin-bottom: 20px;\">Listo para ver como funcionaria LOOKITRY en tu tienda?</h3><a href=\"https://lookitry.com/trial-checkout\" style=\"background: #FF5C3A; color: white; padding: 15px 30px; border-radius: 50px; text-decoration: none; font-weight: bold; display: inline-block;\">Iniciar prueba de LOOKITRY</a></div>',\n      '</article>',\n      '',\n      '# FORMATO DE SALIDA',\n      '{\"title\":\"...\",\"content\":\"...\",\"excerpt\":\"...\",\"tags\":[\"...\",\"...\",\"...\"]}'\n    ].join('\\n')\n  }],\n  temperature: 0.5,\n  max_tokens: 6000\n}) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "c00dde00-a97a-4968-80a8-b5608f13db29",
      "name": "Redactor IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        98736,
        36560
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.item.json;\nlet rawText = '';\nif (typeof source?.choices?.[0]?.message?.content === 'string') {\n  rawText = source.choices[0].message.content;\n} else if (Array.isArray(source?.choices?.[0]?.message?.content)) {\n  rawText = source.choices[0].message.content.map(p => typeof p === 'string' ? p : p?.text || '').join('');\n} else if (source?.content?.parts?.[0]?.text) {\n  rawText = source.content.parts[0].text;\n} else {\n  rawText = JSON.stringify(source);\n}\nrawText = rawText.replace(/```json\\s*/gi,'').replace(/```\\s*/g,'').trim();\nlet parsed = null;\ntry { parsed = JSON.parse(rawText); } catch(_) {}\nif (!parsed) {\n  function extractFirstJson(text) {\n    const start = text.indexOf('{');\n    if (start === -1) return null;\n    let depth=0, inStr=false, esc=false;\n    for (let i=start;i<text.length;i++) {\n      const ch=text[i];\n      if(esc){esc=false;continue;}\n      if(ch==='\\\\'){esc=true;continue;}\n      if(ch==='\"'){inStr=!inStr;continue;}\n      if(inStr)continue;\n      if(ch==='{')depth++;\n      if(ch==='}')depth--;\n      if(depth===0)return text.slice(start,i+1);\n    }\n    return null;\n  }\n  const jsonStr = extractFirstJson(rawText);\n  if (!jsonStr) throw new Error('No JSON válido. Respuesta: '+rawText.substring(0,700));\n  parsed = JSON.parse(jsonStr);\n}\nconst missing=['title','excerpt','content'].filter(f=>!parsed[f]);\nif(missing.length>0) {\n  return [{ json: { error_ia: true, message: `Campos faltantes: ${missing.join(', ')}`, raw: rawText } }];\n}\nreturn [{ json: parsed }];"
      },
      "id": "16cf7dce-9d17-45fc-a716-33f13c9f4b87",
      "name": "Parsear Artículo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98736,
        36272
      ]
    },
    {
      "parameters": {
        "jsCode": "const article = $input.first().json;\nlet ctx = {};\ntry {\n  ctx = $('Preparar Contexto Editorial').first().json || {};\n} catch (e) {}\n\nconst rawTags = article.tags || article.Tags || ctx.Tags || [];\nconst tagsArray = Array.isArray(rawTags)\n  ? rawTags.map((tag) => String(tag || '').trim()).filter(Boolean)\n  : String(rawTags || '').split(',').map((tag) => tag.trim()).filter(Boolean);\n\nconst categorySlug = String(article.category_slug || ctx.category_slug || 'ia')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '') || 'ia';\n\nconst excerptSource = String(article.excerpt || article.meta_description || '');\nconst excerpt = excerptSource.length > 157 ? excerptSource.substring(0, 157) + '...' : excerptSource;\nconst metaSource = String(article.meta_description || article.excerpt || excerptSource || '');\nconst meta_description = metaSource.length > 157 ? metaSource.substring(0, 157) + '...' : metaSource;\n\nconst featuredImage = String(ctx.imagen_destacada_url || '').trim();\nconst bodyImage1 = String(ctx.imagen_body1_url || '').trim();\nconst bodyImage2 = String(ctx.imagen_body2_url || '').trim();\nif (!featuredImage || !bodyImage1 || !bodyImage2) {\n  throw new Error('Faltan imagenes generadas para publicar el articulo.');\n}\nif (new Set([featuredImage, bodyImage1, bodyImage2]).size < 3) {\n  throw new Error('Las imagenes generadas no son unicas. Deben existir portada, cuerpo 1 y cuerpo 2 distintas.');\n}\n\nlet content = String(article.content || '').trim();\nif (!content) {\n  throw new Error('El articulo no devolvio contenido HTML.');\n}\n\nconst figureRegex = /<figure>[\\s\\S]*?<img[^>]*>[\\s\\S]*?<\\/figure>/gi;\nconst figures = content.match(figureRegex) || [];\nif (figures.length < 2) {\n  throw new Error('El articulo debe incluir exactamente dos imagenes dentro del cuerpo.');\n}\nconst forcedFigures = [bodyImage1, bodyImage2];\nlet figureIndex = 0;\ncontent = content.replace(figureRegex, (figureHtml) => {\n  const targetImage = forcedFigures[figureIndex++];\n  if (!targetImage || figureIndex > 2) {\n    return figureHtml;\n  }\n  if (figureHtml.includes('<figcaption>')) {\n    return figureHtml.replace(/<img[^>]*>/i, '<img src=\"' + targetImage + '\" alt=\"Imagen editorial de LOOKITRY para ecommerce de moda\" />');\n  }\n  return '<figure><img src=\"' + targetImage + '\" alt=\"Imagen editorial de LOOKITRY para ecommerce de moda\" /></figure>';\n});\n\nconst emptyImages = content.match(/<img[^>]+src=[\"']\\s*[\"'][^>]*>/gi) || [];\nif (emptyImages.length > 0) {\n  throw new Error('El articulo quedo con imagenes vacias.');\n}\n\nconst bodyImages = Array.from(content.matchAll(/<img[^>]+src=[\"']([^\"']+)[\"'][^>]*>/gi)).map((match) => String(match[1] || '').trim());\nif (bodyImages.length < 2 || bodyImages[0] !== bodyImage1 || bodyImages[1] !== bodyImage2) {\n  throw new Error('El cuerpo del articulo no quedo con las dos imagenes correctas.');\n}\nif (bodyImages.includes(featuredImage)) {\n  throw new Error('La portada no puede repetirse dentro del cuerpo del articulo.');\n}\n\nconst normalizeSlug = (value) => String(value || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '');\nconst currentSlug = normalizeSlug(article.title);\nconst relatedLinks = Array.isArray(ctx.enlacesBlogs)\n  ? ctx.enlacesBlogs.filter((link) => {\n      const url = String(link?.url || '').trim();\n      return url && !url.endsWith('/' + currentSlug);\n    }).slice(0, 2)\n  : [];\n\nconst internalLinks = content.match(/https:\\/\\/lookitry\\.com\\/blog\\/[^\"'\\s<]+/gi) || [];\nif (internalLinks.length < 2) {\n  if (relatedLinks.length < 2) {\n    throw new Error('No hay suficientes backlinks internos para publicar el articulo.');\n  }\n\n  const backlinksBlock = '<div data-blog-block=\"impact\"><h3>Sigue aprendiendo con LOOKITRY</h3><ul>' + relatedLinks.map((link) => '<li><a href=\"' + String(link.url).trim() + '\">' + String(link.titulo || 'Articulo relacionado de LOOKITRY').trim() + '</a></li>').join('') + '</ul></div>';\n  if (content.includes('data-blog-cta=\"final\"')) {\n    content = content.replace(/<div data-blog-cta=\"final\"/i, backlinksBlock + '<div data-blog-cta=\"final\"');\n  } else {\n    content += backlinksBlock;\n  }\n}\n\nconst softCta = '<p class=\"soft-cta\" style=\"background:#f9f9f9; padding:15px; border-left:4px solid #FF5C3A; font-style:italic;\"><strong>Te identificas con este reto?</strong> Descubre como LOOKITRY ayuda a las tiendas de moda a <a href=\"https://lookitry.com/trial-checkout\" style=\"color:#FF5C3A;\">activar una prueba paga y mejorar la conversion con IA</a>.</p>';\nif (/<p class=\"soft-cta\"[\\s\\S]*?<\\/p>/i.test(content)) {\n  content = content.replace(/<p class=\"soft-cta\"[\\s\\S]*?<\\/p>/i, softCta);\n} else {\n  content = content.replace(/(<h2[^>]*>)/i, softCta + '$1');\n}\n\nconst finalCta = '<div data-blog-cta=\"final\" style=\"text-align: center; padding: 40px; background: #0A0A0A; border-radius: 30px; margin: 50px 0;\"><h3 style=\"color: #FFFFFF; margin-bottom: 20px;\">Quieres ver como funcionaria LOOKITRY en tu tienda?</h3><a href=\"https://lookitry.com/trial-checkout\" style=\"background: #FF5C3A; color: white; padding: 15px 30px; border-radius: 50px; text-decoration: none; font-weight: bold; display: inline-block;\">Iniciar prueba de LOOKITRY</a></div>';\nif (/<div data-blog-cta=\"final\"[\\s\\S]*?<\\/div>/i.test(content)) {\n  content = content.replace(/<div data-blog-cta=\"final\"[\\s\\S]*?<\\/div>/i, finalCta);\n} else {\n  content += finalCta;\n}\n\nconst wpBody = {\n  title: article.title,\n  excerpt,\n  content,\n  status: 'published',\n  category_slug: categorySlug,\n  tags: tagsArray,\n  featured_image: featuredImage,\n  meta_description,\n  topic_id: ctx.topic_id || '',\n  author_id: 'LOOKITRY Editorial',\n};\n\nreturn [{\n  json: {\n    wpBody,\n    ...ctx,\n    tags: tagsArray,\n    category_slug: categorySlug,\n    title: article.title,\n    excerpt,\n    content,\n    meta_description,\n  },\n}];"
      },
      "id": "b830a7ae-bc56-4bdf-a242-7aaee9d06954",
      "name": "Preparar JSON Lookitry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98960,
        36272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.wpBody) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "382f1086-3a53-4647-a985-065b8e59f477",
      "name": "Publicar en Lookitry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        99184,
        36272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "=201",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "58b5b121-891e-49aa-9c7a-7f93f185a01d",
      "name": "¿Publicado OK (201)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        99440,
        36272
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics?id=eq.{{ $('Loop Temas Pendientes').item.json.topic_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"published\" }",
        "options": {}
      },
      "id": "72d390bc-4288-4b75-962f-c333245749b4",
      "name": "PATCH status published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        99440,
        36112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const topicId = $('Preparar Contexto Editorial').first().json?.topic_id || 'desconocido';\nconst title = $('Preparar Contexto Editorial').first().json?.title || 'desconocido';\nconst respuesta = $input.first().json;\nconsole.log(`ERROR AL PUBLICAR: topic_id=${topicId}, title=${title}`);\nconsole.log('Respuesta Lookitry:', JSON.stringify(respuesta));\nreturn [{ json: { error: true, topic_id: topicId, title, response: respuesta, timestamp: new Date().toISOString() } }];"
      },
      "id": "40a45a42-ea3f-46f1-8ce5-d337d7359722",
      "name": "Log Error Publicación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        99664,
        36288
      ]
    },
    {
      "parameters": {
        "jsCode": "const temaActual = $('Loop Temas Pendientes').item.json || {};\nconst topicId = temaActual.topic_id || 'N/A';\nconst title = temaActual.title || 'N/A';\n\nconsole.log(`✓ Artículo publicado en Lookitry y actualizado en Supabase. topic_id=${topicId}, title=${title}`);\nreturn [{ json: { success: true, topic_id: topicId, title, timestamp: new Date().toISOString() } }];"
      },
      "id": "a6ba697d-fce5-4161-a196-a300a03b258e",
      "name": "Log Éxito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        99664,
        36112
      ]
    },
    {
      "parameters": {},
      "id": "88a5920f-e8a2-4fca-832f-6d9e6151f9ab",
      "name": "NoOp Trend Insertado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        95024,
        36848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Trend Hunter"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: \"meta-llama/llama-3.3-70b-instruct\",\n  messages: [{\n    role: \"user\",\n    content: [\n      \"Eres el Director de Fotografía de Lookitry Editorial. Tu misión es escribir 3 'prompts' (instrucciones visuales para una IA generadora de imágenes) hiper-realistas.\",\n      \"\",\n      \"DATOS DEL ARTÍCULO:\",\n      \"- Tema: \" + ($('Loop Temas Pendientes').item.json.title || ''),\n      \"- Categoría: \" + ($('Loop Temas Pendientes').item.json.category_slug || 'ia'),\n      \"\",\n      \"REGLAS ESTRICTAS PARA LAS FOTOS:\",\n      \"1. ESCRIBE LOS PROMPTS EN INGLÉS (las IA de imágenes entienden mucho mejor el inglés).\",\n      \"2. NO uses conceptos abstractos (como 'comercio electrónico', 'pagos', 'tecnología abstracta'). Describe ESCENAS FÍSICAS (ej. a beautiful young woman in a boutique looking at her smartphone, fashion studio lighting, elegant clothing on a rack).\",\n      \"3. PROHIBIDO incluir texto, logos, tarjetas de crédito, marcas de agua, ilustraciones o gráficos. Solo FOTOGRAFÍA REALISTA (Photorealistic, 8k, editorial fashion photography).\",\n      \"4. Usa la paleta de colores de Lookitry de forma sutil: orange, white, black, gray.\",\n      \"\",\n      \"FORMATO DE SALIDA OBLIGATORIO (Devuelve SOLO estas 3 líneas numeradas, sin introducciones):\",\n      \"A) [Prompt en inglés describiendo la imagen de portada]\",\n      \"B) [Prompt en inglés describiendo una foto de apoyo para el cuerpo del texto]\",\n      \"C) [Prompt en inglés describiendo otra foto de apoyo o detalle]\"\n    ].join('\\n')\n  }],\n  temperature: 0.6,\n  max_tokens: 1000\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "3ae537ec-6994-4a12-a4ae-ea777f4c522b",
      "name": "Generar Prompt imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96224,
        36544
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    }
  ],
  "connections": {
    "Switch Proveedor Imagen": {
      "main": [
        [
          {
            "node": "Replicate FLUX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter Generar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar Investigación": {
      "main": [
        [
          {
            "node": "Redactor IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Lector de Noticias": {
      "main": [
        [
          {
            "node": "Adjuntar Investigación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Trend Hunter": {
      "main": [
        [
          {
            "node": "Parsear Temas AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Temas Existentes Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Real": {
      "main": [
        [
          {
            "node": "AI Trend Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Noticias Colombia": {
      "main": [
        [
          {
            "node": "Preparar Contexto Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Noticias Colombia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger Manual": {
      "main": [
        [
          {
            "node": "Google Noticias Colombia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Temas AI": {
      "main": [
        [
          {
            "node": "Merge Para Deduplicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Temas Existentes Supabase": {
      "main": [
        [
          {
            "node": "Merge Para Deduplicar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Para Deduplicar": {
      "main": [
        [
          {
            "node": "Deduplicar Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicar Temas": {
      "main": [
        [
          {
            "node": "¿Hay temas nuevos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay temas nuevos?": {
      "main": [
        [
          {
            "node": "INSERT Tema en Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp Trend Insertado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Tema en Supabase": {
      "main": [
        [
          {
            "node": "Verificar INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar INSERT": {
      "main": [
        [
          {
            "node": "GET Temas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Temas Pendientes": {
      "main": [
        [
          {
            "node": "Preparar Loop Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Loop Temas": {
      "main": [
        [
          {
            "node": "Loop Temas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Temas Pendientes": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Prompt imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Prompts": {
      "main": [
        [
          {
            "node": "Loop Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Imágenes": {
      "main": [
        [
          {
            "node": "Consolidar URLs Imágenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Proveedor Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate FLUX": {
      "main": [
        [
          {
            "node": "Replicate Extraer URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Generar Imagen": {
      "main": [
        [
          {
            "node": "Extraer URL OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer URL OpenRouter": {
      "main": [
        [
          {
            "node": "Descargar Imagen OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen OpenRouter": {
      "main": [
        [
          {
            "node": "Consolidar URLs Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate Extraer URL": {
      "main": [
        [
          {
            "node": "Descargar PNG Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar PNG Replicate": {
      "main": [
        [
          {
            "node": "Renombrar PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renombrar PNG": {
      "main": [
        [
          {
            "node": "Uploader Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploader Imagen": {
      "main": [
        [
          {
            "node": "Loop Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar URLs Imágenes": {
      "main": [
        [
          {
            "node": "GET Blogs Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Blogs Existentes": {
      "main": [
        [
          {
            "node": "Extraer Links Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Links Blog": {
      "main": [
        [
          {
            "node": "Obtener Info Consolidada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Info Consolidada": {
      "main": [
        [
          {
            "node": "Preparar Contexto Editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Editorial": {
      "main": [
        [
          {
            "node": "Jina Lector de Noticias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redactor IA": {
      "main": [
        [
          {
            "node": "Parsear Artículo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Artículo": {
      "main": [
        [
          {
            "node": "Preparar JSON Lookitry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar JSON Lookitry": {
      "main": [
        [
          {
            "node": "Publicar en Lookitry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar en Lookitry": {
      "main": [
        [
          {
            "node": "¿Publicado OK (201)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Publicado OK (201)?": {
      "main": [
        [
          {
            "node": "PATCH status published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error Publicación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH status published": {
      "main": [
        [
          {
            "node": "Log Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Publicación": {
      "main": [
        []
      ]
    },
    "Log Éxito": {
      "main": [
        []
      ]
    },
    "NoOp Trend Insertado": {
      "main": [
        [
          {
            "node": "GET Temas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Prompt imagen": {
      "main": [
        [
          {
            "node": "Extraer Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook Trigger Manual": [
      {
        "headers": {
          "host": "n8n.wilkiedevs.com",
          "user-agent": "axios/1.13.6",
          "content-length": "154",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "172.19.0.1",
          "x-forwarded-host": "n8n.wilkiedevs.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "05d31d08392c",
          "x-n8n-secret": "Travis2305**_blog_n8n",
          "x-real-ip": "172.19.0.1"
        },
        "params": {},
        "query": {},
        "body": {
          "triggered_by": "admin_manual",
          "openrouter_model": "meta-llama/llama-3.3-70b-instruct",
          "openrouter_image_model": "nano banana",
          "image_provider": "replicate"
        },
        "webhookUrl": "https://n8n.wilkiedevs.com/webhook/trigger-blog-generation",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
  }
}
