docs/n8n/workflows/flujo-blog-mejorado.json
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "use-replicate",
                    "leftValue": "={{ String($json.image_provider || 'openrouter').toLowerCase() }}",
                    "rightValue": "replicate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Replicate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "use-openrouter",
                    "leftValue": "={{ String($json.image_provider || 'openrouter').toLowerCase() }}",
                    "rightValue": "openrouter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OpenRouter"
            }
          ]
        },
        "options": {}
      },
      "id": "d1adf755-32c0-4904-acd3-79ecaf724b57",
      "name": "Switch Proveedor Imagen",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        96464,
        36336
      ]
    },
    {
      "parameters": {
        "jsCode": "let articuloCompleto = '';\ntry {\n  articuloCompleto = $input.first().json.data || $input.first().json || '';\n} catch(e) {\n  articuloCompleto = 'No se pudo acceder a la noticia completa. Basate únicamente en el titular y el resumen proporcionado.';\n}\n\nconst temaActual = $('Loop Temas Pendientes').item.json;\nconst textoLimpio = typeof articuloCompleto === 'string' ? articuloCompleto.substring(0, 15000) : 'Sin información adicional.';\n\nreturn [{\n  json: {\n    ...temaActual,\n    investigacion_profunda: textoLimpio\n  }\n}];"
      },
      "id": "ec2d0e0a-a754-4e1b-8dbc-5b63cdad4280",
      "name": "Adjuntar Investigación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98096,
        36560
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.source_url ? 'https://r.jina.ai/' + $json.source_url : 'https://r.jina.ai/https://lookitry.com' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_96124a0c401a47afa44fdb5a3c669d16YETHc9iUQn3qq93gWcU24efhtAMc"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          }
        }
      },
      "id": "5a2060d4-0d6e-47d3-8fb4-7c80355c5fcd",
      "name": "Jina Lector de Noticias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        98096,
        36272
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Trend Hunter"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: \"meta-llama/llama-3.3-70b-instruct\",\n  messages: [{\n    role: \"user\",\n    content: [\n      \"Eres el Editor Jefe de Estrategia para Lookitry, el SaaS líder en probadores virtuales de moda con IA en COLOMBIA.\",\n      \"Tu objetivo es generar 3 ideas de artículos ÚNICOS, VARIADOS y DINÁMICOS para nuestro blog, enfocados 100% en el mercado COLOMBIANO.\",\n      \"\",\n      $json.contextNoticias,\n      \"\",\n      \"CRITERIOS DE CREACIÓN:\",\n      \"1. NO HAGAS SOLO NOTICIAS. Genera exactamente:\",\n      \"   - 1 Tema de Noticias/Tendencias (basado en el RSS).\",\n      \"   - 1 Tema de Entretenimiento / Moda y Estilo (tips, curiosidades).\",\n      \"   - 1 Tema Comercial / Ofertas / Estrategia (cómo vender más).\",\n      \"2. Enfoque hiper-local colombiano.\",\n      \"3. Asigna SIEMPRE una de las 'URL' proporcionadas al campo 'source_url' de cada tema.\",\n      \"\",\n      \"CATEGORÍAS PERMITIDAS: 'ecommerce', 'ia', 'moda-y-estilo', 'negocios-y-saas'\",\n      \"\",\n      \"RESPUESTA: Devuelve SOLO un array JSON válido. Sin markdown.\",\n      \"Formato exacto:\",\n      \"[\\n  {\\\"title\\\": \\\"...\\\", \\\"keywords\\\": \\\"...\\\", \\\"category_slug\\\": \\\"ecommerce\\\", \\\"source_url\\\": \\\"https://ejemplo.com/noticia\\\"}\\n]\"\n    ].join('\\n')\n  }],\n  temperature: 0.8,\n  max_tokens: 4000\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "3944f78a-027a-4fed-b79e-7cd947600ba2",
      "name": "AI Trend Hunter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        93600,
        36528
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().slice(0, 10);\nlet newsText = 'ÚLTIMAS NOTICIAS REALES DE HOY EN COLOMBIA:\\n\\n';\n\nitems.forEach((item, i) => {\n  const titulo = item.json.title || 'Sin título';\n  const url = item.json.link || '';\n  let resumen = item.json.contentSnippet || item.json.content || item.json.description || '';\n  resumen = resumen.replace(/<[^>]*>?/gm, '').trim();\n\n  newsText += `--- NOTICIA ${i+1} ---\\n`;\n  newsText += `TÍTULO: ${titulo}\\n`;\n  newsText += `URL: ${url}\\n`;\n  newsText += `RESUMEN: ${resumen}\\n\\n`;\n});\n\nreturn [{ json: { contextNoticias: newsText } }];"
      },
      "id": "5259afb7-ac02-4c0b-85cd-67a10ea8e04b",
      "name": "Preparar Contexto Real",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        93376,
        36528
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=(ecommerce+OR+retail+OR+\"inteligencia+artificial\"+OR+\"probador+virtual\")+moda+(colombia+OR+LATAM)&hl=es-419&gl=CO&ceid=CO:es-419",
        "options": {}
      },
      "id": "55ca9561-4c44-4cae-b90b-76a0cdc63e34",
      "name": "Google Noticias Colombia",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        93136,
        36528
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        95872,
        36080
      ],
      "id": "d005d6cc-ddc0-4406-bcae-e4bb42908e4c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "dc8d354a-d43d-4e8a-b60e-41474d569bc3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        92816,
        36736
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-blog-generation",
        "options": {}
      },
      "id": "e49774a2-b205-42a9-98ec-daa5084b740c",
      "name": "Webhook Trigger Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        92800,
        36528
      ],
      "webhookId": "lookitry-blog-trigger-v3"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\nlet rawText = '';\nif (typeof source?.choices?.[0]?.message?.content === 'string') {\n  rawText = source.choices[0].message.content;\n} else if (Array.isArray(source?.choices?.[0]?.message?.content)) {\n  rawText = source.choices[0].message.content.map(p => p?.text || '').join('');\n} else {\n  rawText = JSON.stringify(source);\n}\nrawText = rawText.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\nlet topics;\ntry { topics = JSON.parse(rawText); } catch(e) {\n  const m = rawText.match(/\\[([\\s\\S]+?)\\]/);\n  if (!m) throw new Error('No se pudo parsear array de temas: ' + rawText.substring(0, 500));\n  try { topics = JSON.parse('[' + m[1] + ']'); } catch(e2) {\n    throw new Error('Parse fallido incluso con extracción manual: ' + rawText.substring(0, 500));\n  }\n}\nif (!Array.isArray(topics) || topics.length === 0) throw new Error('El AI no devolvió temas válidos.');\nconst result = topics.slice(0, 3).map(t => ({ json: { title: (t.title || '').trim(), keywords: (t.keywords || '').trim(), category_slug: (t.category_slug || 'ia').trim(), source_url: (t.source_url || '').trim() } }));\nconsole.log('Temas parseados del AI:', result.map(r => r.json.title));\nreturn result;"
      },
      "id": "8a5ef892-6ccf-4ecc-bf75-a105ec1a8489",
      "name": "Parsear Temas AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        93920,
        36528
      ]
    },
    {
      "parameters": {
        "url": "https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics?select=title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "4e4706e5-2801-4cc7-8e5e-a455a50a5c4a",
      "name": "GET Temas Existentes Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        93920,
        36720
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "3f1323cd-40e3-4d0e-8b5a-4c5ea9a05e23",
      "name": "Merge Para Deduplicar",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        94192,
        36544
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst aiTopics = allItems.filter(i => i.json.keywords !== undefined);\nconst supabaseItems = allItems.filter(i => i.json.keywords === undefined);\n\nconsole.log(`Items del AI: ${aiTopics.length}, Items de Supabase: ${supabaseItems.length}`);\n\nconst existingTitles = new Set();\nfor (const item of supabaseItems) {\n  const raw = item.json;\n  const arr = Array.isArray(raw) ? raw : (raw?.data || [raw]);\n  for (const t of arr) {\n    if (t?.title) existingTitles.add(t.title.toLowerCase().trim());\n  }\n}\n\nconsole.log(`Títulos existentes en Supabase: ${existingTitles.size}`, [...existingTitles]);\n\nconst newTopics = aiTopics.filter(item => {\n  const t = (item.json.title || '').toLowerCase().trim();\n  const isDup = existingTitles.has(t);\n  if (isDup) console.log(`Duplicado detectado, saltando: \"${item.json.title}\"`);\n  return t.length > 5 && !isDup;\n});\n\nif (newTopics.length === 0) {\n  console.log('Todos los temas propuestos ya existen. No se insertarán duplicados.');\n  return [{ json: { skipped: true, message: 'No hay temas nuevos para insertar.' } }];\n}\n\nconsole.log(`Temas nuevos a insertar: ${newTopics.length}`, newTopics.map(t => t.json.title));\nreturn newTopics.map(i => ({ json: i.json }));"
      },
      "id": "606a6ced-8ac0-4519-a4d7-a4e8121d072a",
      "name": "Deduplicar Temas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        94448,
        36544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skipped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cceaecd2-28ea-4dbd-9b38-a0aa2826ebcb",
      "name": "¿Hay temas nuevos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        94672,
        36544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, keywords: $json.keywords, category_slug: $json.category_slug, source_url: $json.source_url, status: 'pending' }) }}",
        "options": {}
      },
      "id": "7260917b-09db-43db-a75f-5ca88773ed65",
      "name": "INSERT Tema en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        94896,
        36528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verificar que el INSERT fue exitoso antes de continuar\nconst res = $input.first().json;\nconst inserted = Array.isArray(res) ? res[0] : res;\nif (!inserted?.id) {\n  console.warn('INSERT no devolvió id, respuesta:', JSON.stringify(res));\n} else {\n  console.log(`✓ Tema insertado correctamente: id=${inserted.id}, title=\"${inserted.title}\"`);\n}\nreturn [{ json: inserted || res }];"
      },
      "id": "0ed23470-b018-49f6-890d-3ca66536c19f",
      "name": "Verificar INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        95136,
        36528
      ]
    },
    {
      "parameters": {
        "url": "https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics?select=id,title,keywords,category_slug,source_url&status=eq.pending&order=created_at.asc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "1370b464-d89a-4580-9648-42e1ee12b565",
      "name": "GET Temas Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        95376,
        36528
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconsole.log('GET Temas Pendientes respuesta raw:', JSON.stringify(raw));\n\nlet topics = [];\nif (Array.isArray(raw)) {\n  topics = raw;\n} else if (raw?.data && Array.isArray(raw.data)) {\n  topics = raw.data;\n} else if (raw?.id) {\n  topics = [raw];\n}\n\nif (topics.length === 0 || Object.keys(raw).length === 0) {\n  console.log('No hay temas pendientes en Supabase. El flujo se detendrá aquí.');\n  return []; \n}\n\nreturn topics.map(t => ({\n  json: {\n    topic_id: t.id,\n    title: t.title,\n    keywords: t.keywords || '',\n    category_slug: t.category_slug || 'ia',\n    source_url: t.source_url || ''\n  }\n}));"
      },
      "id": "f01109f6-c4d3-4947-b43e-6a56cc7ea003",
      "name": "Preparar Loop Temas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        95616,
        36528
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "id": "31154fc2-782a-4cd6-85f6-e3d7dfbaf4b8",
      "name": "Loop Temas Pendientes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        95856,
        36528
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first()?.json?.content?.parts?.[0]?.text ||\n  $input.first()?.json?.choices?.[0]?.message?.content ||\n  $input.first()?.json?.text || '';\nconst text = raw.replace(/\\r/g, '').trim();\nfunction cleanPrompt(v) {\n  return (v || '').replace(/^[\"'`]+|[\"'`]+$/g,'').replace(/\\n+/g,' ').replace(/\\s+/g,' ').trim();\n}\nfunction extractLabeled(label, nextLabels=[]) {\n  const next = nextLabels.length ? `(?=\\\\(${nextLabels.join('|')}\\\\)|$)` : '$';\n  const rx = new RegExp(`\\\\(${label}\\\\)\\\\s*([\\\\s\\\\S]+?)${next}`,'i');\n  return cleanPrompt(text.match(rx)?.[1] || '');\n}\nfunction readWebhookPayload() {\n  try {\n    const payload = $('Webhook Trigger Manual').first()?.json || {};\n    return payload?.body && typeof payload.body === 'object' ? payload.body : payload;\n  } catch {\n    return {};\n  }\n}\nconst webhookPayload = readWebhookPayload();\nconst requestedProvider = String(webhookPayload.image_provider || 'openrouter').toLowerCase();\nconst requestedArticleModel = String(webhookPayload.openrouter_model || 'meta-llama/llama-3.3-70b-instruct:free');\nconst requestedImageModel = String(webhookPayload.openrouter_image_model || 'openai/dall-e-3');\nlet pA = extractLabeled('A',['B','C']);\nlet pB = extractLabeled('B',['C']);\nlet pC = extractLabeled('C',[]);\nconst bullets = text.split('\\n').map(l=>cleanPrompt(l.replace(/^[-*?\\d.)\\s]+/,''))).filter(Boolean);\nif (!pA && bullets[0]) pA = bullets[0];\nif (!pB && bullets[1]) pB = bullets[1];\nif (!pC && bullets[2]) pC = bullets[2];\nif (pA && !pB) pB = `${pA}, editorial lifestyle scene, fashion ecommerce context, different composition`;\nif (pA && !pC) pC = `${pA}, secondary supporting visual, alternate angle, AI virtual try-on detail`;\nif (!pA) throw new Error('No se pudieron extraer los prompts. Texto: ' + text.substring(0,500));\nconst topicData = $('Loop Temas Pendientes').item.json;\nconst sharedMeta = {\n  image_provider: requestedProvider,\n  openrouter_model: requestedArticleModel,\n  openrouter_image_model: requestedImageModel,\n};\nreturn [\n  { json: { prompt: pA, tipo: 'destacada', orden: 1, ...topicData, ...sharedMeta } },\n  { json: { prompt: pB, tipo: 'body1', orden: 2, ...topicData, ...sharedMeta } },\n  { json: { prompt: pC, tipo: 'body2', orden: 3, ...topicData, ...sharedMeta } }\n];"
      },
      "id": "50f81771-afc8-4dda-8cf8-1ace1246e881",
      "name": "Extraer Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96224,
        36064
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7d1877a9-569b-4f95-ad3a-8a1622c5e07c",
      "name": "Loop Imágenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96432,
        36064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait=10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  input: {\n    prompt: $json.prompt,\n    aspect_ratio: \"16:9\",\n    output_format: \"png\",\n    output_quality: 90,\n    num_inference_steps: 4,\n    go_fast: true,\n    megapixels: \"1\"\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "802a01c9-9276-4f47-a11b-6b0bde590520",
      "name": "Replicate FLUX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96688,
        36320
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Blog Automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: ($json.openrouter_image_model || 'google/gemini-2.5-flash-image'),\n  messages: [\n    {\n      role: 'user',\n      content: $json.prompt || `Editorial image for ${$json.title || 'fashion ecommerce article'}`\n    }\n  ],\n  modalities: ['image', 'text'],\n  stream: false,\n  image_config: {\n    aspect_ratio: '16:9'\n  }\n}) }}\n",
        "options": {
          "timeout": 120000
        }
      },
      "id": "067dca71-9a81-4885-84ee-e06a4ab55164",
      "name": "OpenRouter Generar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96480,
        36576
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.item.json;\nconst promptData = $('Loop Imágenes').item.json;\nlet imageValue = '';\nif (source?.choices?.[0]?.message?.images?.[0]?.image_url?.url) {\n  imageValue = source.choices[0].message.images[0].image_url.url;\n} else if (source?.choices?.[0]?.message?.images?.[0]?.imageUrl?.url) {\n  imageValue = source.choices[0].message.images[0].imageUrl.url;\n} else if (source?.choices?.[0]?.message?.content) {\n  const content = source.choices[0].message.content;\n  const match = content.match(/https:\\/\\/\\S+/);\n  imageValue = match ? match[0] : content;\n} else if (source?.imageUrl) {\n  imageValue = source.imageUrl;\n} else if (source?.data?.[0]?.url) {\n  imageValue = source.data[0].url;\n} else {\n  throw new Error('OpenRouter no devolvi? imagen utilizable: ' + JSON.stringify(source).slice(0, 800));\n}\nreturn [{ json: { ...promptData, imageUrl: imageValue } }];"
      },
      "id": "19315047-2f4a-4f64-bafa-ed0704551d20",
      "name": "Extraer URL OpenRouter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97168,
        36576
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst source = item.json.imageUrl || '';\nif (!source) {\n  throw new Error('OpenRouter no devolvi? imageUrl');\n}\nconst match = source.match(/^data:(image\\/[a-zA-Z0-9.+-]+);base64,(.+)$/);\nif (!match) {\n  throw new Error('OpenRouter devolvi? una imagen no compatible para conversi?n directa');\n}\nconst mimeType = match[1];\nconst base64 = match[2];\nreturn {\n  json: item.json,\n  binary: {\n    data: {\n      data: base64,\n      mimeType,\n      fileName: `${item.json.tipo || 'imagen'}.png`,\n    },\n  },\n};"
      },
      "id": "94217f70-ca9d-4142-a18e-42450249f378",
      "name": "Descargar Imagen OpenRouter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97824,
        36576
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst currentItem = $('Loop Imágenes').item.json;\nconst token = '***REMOVED-SECRET***';\n\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nasync function getPrediction(url) {\n  const res = await fetch(url, { headers: { Authorization: `Bearer ${token}`, 'Content-Type': 'application/json' } });\n  if (!res.ok) throw new Error(`Replicate lookup failed (${res.status}): ${await res.text()}`);\n  return await res.json();\n}\n\nasync function resolvePrediction(pred) {\n  let cur = pred;\n  for (let i = 0; i < 30; i++) {\n    if (cur?.error) throw new Error(`Replicate error en ${currentItem.tipo}: ${cur.error}`);\n    if (cur?.status === 'failed' || cur?.status === 'canceled') throw new Error(`Replicate ${cur.status}. ID: ${cur.id}`);\n    if (cur?.status === 'succeeded' && cur?.output) {\n      const imageUrl = Array.isArray(cur.output) ? cur.output[0] : cur.output;\n      await sleep(12000);\n      return [{ json: { ...currentItem, imageUrl, predictionId: cur.id } }];\n    }\n    const pollUrl = cur?.urls?.get;\n    if (!pollUrl) throw new Error(`Sin output ni poll URL. Status: ${cur?.status || 'unknown'}`);\n    await sleep(4000);\n    cur = await getPrediction(pollUrl);\n  }\n  throw new Error(`Replicate timeout para ${currentItem.tipo}`);\n}\n\nreturn await resolvePrediction(response);"
      },
      "id": "3ce22cc1-f1ef-4964-a7cd-aab98a809e56",
      "name": "Replicate Extraer URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96896,
        36320
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9bc31428-178e-4a3f-89c3-75eb5a875546",
      "name": "Descargar PNG Replicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        97104,
        36320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst tipo = item.json.tipo || 'imagen';\nif (item.binary?.data) {\n  item.binary.data.fileName = `${tipo}.png`;\n  item.binary.data.mimeType = 'image/png';\n}\nreturn { json: { ...item.json, tipo }, binary: item.binary };"
      },
      "id": "9a9fe3dc-7646-41fb-badb-1a70ee0755f1",
      "name": "Renombrar PNG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97344,
        36320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_n8n"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "filename",
              "value": "={{ $('Renombrar PNG').item.binary.data.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb15a27d-3b97-4f5f-b5e8-9d606e363e42",
      "name": "Uploader Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        97568,
        36320
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().sort((a,b) => (a.json.orden||0)-(b.json.orden||0));\nconsole.log('Consolidar recibió', items.length, 'items del Done branch');\nif (items.length < 3) throw new Error(`Se esperaban 3 imágenes subidas, se recibieron ${items.length}.`);\nconst mapImg = i => ({\n  id:  i?.json?.path || i?.json?.url || null,\n  url: i?.json?.url || null\n});\nreturn [{ json: {\n  imagen_destacada: mapImg(items[0]),\n  imagen_body1:     mapImg(items[1]),\n  imagen_body2:     mapImg(items[2])\n} }];"
      },
      "id": "1e8abd0b-0f5c-4418-91c4-12c3a5eb10fa",
      "name": "Consolidar URLs Imágenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97792,
        36048
      ]
    },
    {
      "parameters": {
        "url": "https://lookitry.com/api/blog",
        "options": {}
      },
      "id": "8b472818-83df-4177-9dd1-23b2871554cc",
      "name": "GET Blogs Existentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        97952,
        36048
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst source = rawItems.length === 1 && Array.isArray(rawItems[0].json?.data) ? rawItems[0].json.data : rawItems.map(i => i.json);\nconst enlacesBlogs = source.slice(0, 8).map(post => ({ titulo: post.title, url: `https://lookitry.com/blog/${post.slug}` }));\nreturn [{ json: { enlacesBlogs } }];"
      },
      "id": "29ce73b1-a17f-490b-ab21-15446337cf83",
      "name": "Extraer Links Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98128,
        36048
      ]
    },
    {
      "parameters": {
        "jsCode": "const enlaces = $input.first().json.enlacesBlogs || [];\n\nlet imagenes = {};\ntry { \n  imagenes = $('Consolidar URLs Imágenes').first().json || {}; \n} catch(error) {\n  console.log(\"Advertencia: No se encontraron datos de imágenes en este ciclo.\");\n}\n\nlet tema = {};\ntry {\n\n  tema = $('Loop Temas Pendientes').item.json || {};\n} catch(error) {\n\n  tema = $('Loop Temas Pendientes').first().json || {};\n}\n\nreturn [{\n  json: {\n    ...tema,\n    enlacesBlogs: enlaces,\n    imagen_destacada_url: imagenes.imagen_destacada?.url || '',\n    imagen_body1_url:     imagenes.imagen_body1?.url     || '',\n    imagen_body2_url:     imagenes.imagen_body2?.url     || '',\n    imagen_destacada_id:  imagenes.imagen_destacada?.id  || null,\n    imagen_body1_id:      imagenes.imagen_body1?.id      || null,\n    imagen_body2_id:      imagenes.imagen_body2?.id      || null\n  }\n}];"
      },
      "id": "7b4607ee-f3f9-4a29-92ea-17608bb07d7b",
      "name": "Obtener Info Consolidada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98288,
        36048
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-001",
              "name": "Tema",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "ctx-002",
              "name": "Keywords",
              "value": "={{ $json.keywords }}",
              "type": "string"
            },
            {
              "id": "ctx-003",
              "name": "Categoria",
              "value": "={{ $json.category_slug }}",
              "type": "string"
            },
            {
              "id": "ctx-004",
              "name": "EnlacesBlogs",
              "value": "={{ $json.enlacesBlogs }}",
              "type": "string"
            },
            {
              "id": "e1e9a9ed-9148-4a01-80a6-73833441b6bc",
              "name": "openrouter_model",
              "value": "={{ $('Extraer Prompts').first().json.openrouter_model \n\n 'meta-llama/llama-3.3-70b-instruct' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4074babf-a15f-4792-a2cf-9b93ba1a6cc1",
      "name": "Preparar Contexto Editorial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        97856,
        36272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Blog Automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: ($json.openrouter_model || 'meta-llama/llama-3.3-70b-instruct'),\n  messages: [\n    {\n      role: 'system',\n      content: [\n        'Eres el Redactor Jefe de Lookitry — el SaaS de probador virtual con IA líder en Colombia.',\n        'Escribes artículos de blog con SEO moderno 2026, lenguaje 100% humano, empático y conversacional para audiencias colombianas y latinoamericanas.',\n        'NUNCA usas lenguaje robótico, genérico ni de ChatGPT.',\n        'NUNCA resumes. SIEMPRE desarrollas cada idea con profundidad, ejemplos reales y datos concretos.',\n        'CRÍTICO: Los textos entre corchetes como [Párrafo 1], [Título H2] son INSTRUCCIONES DE FORMATO, NO texto literal. Debes REEMPLAZARLOS con contenido real generado por ti. NUNCA copies los corchetes al output.',\n        'Tu salida es SIEMPRE un objeto JSON válido y nada más. Sin markdown, sin bloques de código, sin explicaciones previas.',\n        'CRÍTICO JSON: El campo \"content\" debe contener el HTML completo y real del artículo. NUNCA escribas placeholders, NUNCA dejes campos vacíos.'\n      ].join('\\n')\n    },\n    {\n      role: 'user',\n      content: [\n        '# DATOS DE ENTRADA',\n        '- Tema del artículo: ' + ($json.title || ''),\n        '- Investigación fuente: ' + ($json.investigacion_profunda || 'Usa tu conocimiento experto actualizado'),\n        '- Keyword principal: ' + ($json.keywords || ''),\n        '- Categoría: ' + ($json.category_slug || 'ecommerce'),\n        '- Blogs internos para enlazar: ' + JSON.stringify($json.enlacesBlogs || []),\n        '- URL imagen cuerpo 1: ' + ($json.imagen_body1_url || ''),\n        '- URL imagen cuerpo 2: ' + ($json.imagen_body2_url || ''),\n        '- URL imagen hero/portada: ' + ($json.imagen_hero_url || ''),\n        '',\n        '# REQUISITOS SEO 2026',\n        '',\n        '## METADATA (incluir en el JSON de salida)',\n        '- meta_title: Título SEO 50-60 caracteres. Keyword al inicio.',\n        '- meta_description: 145-160 caracteres. Keyword + beneficio + CTA.',\n        '- slug: URL amigable, minúsculas, guiones, sin tildes, máx 60 caracteres.',\n        '- og_title: Para redes sociales. Máx 60 caracteres.',\n        '- og_description: Para redes sociales. 120-200 caracteres.',\n        '',\n        '## ESTRUCTURA DEL ARTÍCULO',\n        '- Entre 2000 y 2500 palabras.',\n        '- Exactamente 5 secciones con etiquetas h2.',\n        '- Cada h2 debe tener un atributo id en slug.',\n        '- Mínimo 4 párrafos reales y detallados debajo de cada h2.',\n        '- Usar h3 para subsecciones cuando aplique.',\n        '- Tono: amigo experto colombiano, no manual corporativo.',\n        '- Incluye ejemplos de tiendas reales colombianas.',\n        '- Incluye datos y cifras concretas plausibles para Colombia 2026.',\n        '',\n        '## IMÁGENES',\n        'Todas las etiquetas img deben incluir:',\n        '- alt con descripción detallada en español que incluya la keyword',\n        '- title con frase corta descriptiva',\n        '- loading=\"lazy\"',\n        '- width=\"800\" height=\"450\"',\n        '',\n        '## LEGIBILIDAD',\n        '- Párrafos máx 3-4 oraciones.',\n        '- Usa strong para destacar conceptos clave.',\n        '- Incluye listas ul u ol donde sea natural.',\n        '',\n        '# HTML A GENERAR',\n        'Genera el siguiente HTML completo con contenido real. Reemplaza cada descripción con texto real:',\n        '',\n        'SECCIÓN INTRO (3 párrafos empáticos que conecten con el dolor del dueño de tienda colombiano):',\n        '<div data-blog-intro=\"lead\" itemprop=\"description\">',\n        '  <p>ESCRIBE AQUÍ EL PÁRRAFO 1 REAL: Engancha con una situación real que vive el dueño de tienda colombiano.</p>',\n        '  <p>ESCRIBE AQUÍ EL PÁRRAFO 2 REAL: Amplía el problema con datos del mercado colombiano 2026.</p>',\n        '  <p>ESCRIBE AQUÍ EL PÁRRAFO 3 REAL: Presenta el artículo como la solución. Incluye keyword.</p>',\n        '</div>',\n        '',\n        'TABLA DE CONTENIDOS con los títulos reales de tus 5 secciones:',\n        '<nav aria-label=\"Tabla de contenidos\" style=\"background:#f5f5f5; padding:20px; border-radius:8px; margin:30px 0;\">',\n        '  <strong>En este artículo encontrarás:</strong>',\n        '  <ol>',\n        '    <li><a href=\"#seccion-1\">TÍTULO REAL SECCIÓN 1</a></li>',\n        '    <li><a href=\"#seccion-2\">TÍTULO REAL SECCIÓN 2</a></li>',\n        '    <li><a href=\"#seccion-3\">TÍTULO REAL SECCIÓN 3</a></li>',\n        '    <li><a href=\"#seccion-4\">TÍTULO REAL SECCIÓN 4</a></li>',\n        '    <li><a href=\"#seccion-5\">TÍTULO REAL SECCIÓN 5</a></li>',\n        '  </ol>',\n        '</nav>',\n        '',\n        'SECCIÓN 1 - El problema real (incluye la keyword en el título):',\n        '<h2 id=\"seccion-1\">ESCRIBE AQUÍ EL TÍTULO REAL DE LA SECCIÓN 1</h2>',\n        '<p>ESCRIBE PÁRRAFO 1 REAL Y DETALLADO</p>',\n        '<p>ESCRIBE PÁRRAFO 2 REAL con ejemplo de tienda colombiana</p>',\n        '<p>ESCRIBE PÁRRAFO 3 REAL con dato estadístico concreto</p>',\n        '<p>ESCRIBE PÁRRAFO 4 REAL sobre consecuencias del problema</p>',\n        '',\n        '<p class=\"soft-cta\" style=\"background:#fff8f6; padding:18px 20px; border-left:4px solid #FF5C3A; font-style:italic; border-radius:0 8px 8px 0;\">',\n        '  <strong>¿Te suena familiar esta situación?</strong> Descubre cómo miles de tiendas en Colombia están usando <a href=\"https://lookitry.com\" style=\"color:#FF5C3A; font-weight:bold;\">Lookitry para reducir devoluciones y aumentar su conversión con IA</a>.',\n        '</p>',\n        '',\n        '<figure style=\"margin:30px 0;\">',\n        '  <img src=\"' + ($json.imagen_body1_url) + '\" alt=\"ESCRIBE DESCRIPCIÓN REAL DE LA IMAGEN CON KEYWORD\" title=\"ESCRIBE TÍTULO CORTO REAL\" loading=\"lazy\" width=\"800\" height=\"450\" itemprop=\"image\" />',\n        '  <figcaption style=\"font-size:0.85em; color:#666; text-align:center; margin-top:8px;\">ESCRIBE PIE DE FOTO REAL</figcaption>',\n        '</figure>',\n        '',\n        'SECCIÓN 2 - Análisis profundo:',\n        '<h2 id=\"seccion-2\">ESCRIBE AQUÍ EL TÍTULO REAL DE LA SECCIÓN 2</h2>',\n        '<p>ESCRIBE PÁRRAFO 1 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 2 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 3 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 4 REAL</p>',\n        '',\n        'SECCIÓN 3 - La solución con IA y Lookitry:',\n        '<h2 id=\"seccion-3\">ESCRIBE AQUÍ EL TÍTULO REAL DE LA SECCIÓN 3</h2>',\n        '<p>ESCRIBE PÁRRAFO 1 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 2 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 3 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 4 REAL</p>',\n        '',\n        '<figure style=\"margin:30px 0;\">',\n        '  <img src=\"' + ($json.imagen_body2_url) + '\" alt=\"ESCRIBE DESCRIPCIÓN REAL DIFERENTE A LA PRIMERA IMAGEN\" title=\"ESCRIBE TÍTULO CORTO REAL\" loading=\"lazy\" width=\"800\" height=\"450\" itemprop=\"image\" />',\n        '  <figcaption style=\"font-size:0.85em; color:#666; text-align:center; margin-top:8px;\">ESCRIBE PIE DE FOTO REAL</figcaption>',\n        '</figure>',\n        '',\n        'SECCIÓN 4 - Casos de uso y resultados reales:',\n        '<h2 id=\"seccion-4\">ESCRIBE AQUÍ EL TÍTULO REAL DE LA SECCIÓN 4</h2>',\n        '<p>ESCRIBE PÁRRAFO 1 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 2 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 3 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 4 REAL</p>',\n        '',\n        'SECCIÓN 5 - Conclusión y futuro del ecommerce colombiano:',\n        '<h2 id=\"seccion-5\">ESCRIBE AQUÍ EL TÍTULO REAL DE LA SECCIÓN 5</h2>',\n        '<p>ESCRIBE PÁRRAFO 1 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 2 REAL</p>',\n        '<p>ESCRIBE PÁRRAFO 3 REAL con cierre empático e invitación a actuar</p>',\n        '',\n        'FAQ (3 preguntas y respuestas reales relacionadas con el tema y la keyword):',\n        '<div itemscope itemtype=\"https://schema.org/FAQPage\" style=\"background:#f9f9f9; padding:30px; border-radius:12px; margin:40px 0;\">',\n        '  <h3>Preguntas Frecuentes</h3>',\n        '  <div itemscope itemprop=\"mainEntity\" itemtype=\"https://schema.org/Question\">',\n        '    <h4 itemprop=\"name\">ESCRIBE PREGUNTA REAL 1 CON KEYWORD</h4>',\n        '    <div itemscope itemprop=\"acceptedAnswer\" itemtype=\"https://schema.org/Answer\">',\n        '      <p itemprop=\"text\">ESCRIBE RESPUESTA REAL 1 en 2-3 oraciones claras</p>',\n        '    </div>',\n        '  </div>',\n        '  <div itemscope itemprop=\"mainEntity\" itemtype=\"https://schema.org/Question\">',\n        '    <h4 itemprop=\"name\">ESCRIBE PREGUNTA REAL 2</h4>',\n        '    <div itemscope itemprop=\"acceptedAnswer\" itemtype=\"https://schema.org/Answer\">',\n        '      <p itemprop=\"text\">ESCRIBE RESPUESTA REAL 2</p>',\n        '    </div>',\n        '  </div>',\n        '  <div itemscope itemprop=\"mainEntity\" itemtype=\"https://schema.org/Question\">',\n        '    <h4 itemprop=\"name\">ESCRIBE PREGUNTA REAL 3</h4>',\n        '    <div itemscope itemprop=\"acceptedAnswer\" itemtype=\"https://schema.org/Answer\">',\n        '      <p itemprop=\"text\">ESCRIBE RESPUESTA REAL 3</p>',\n        '    </div>',\n        '  </div>',\n        '</div>',\n        '',\n        '<div data-blog-cta=\"final\" style=\"text-align:center; padding:50px 30px; background:linear-gradient(135deg, #0A0A0A 0%, #1a1a1a 100%); border-radius:24px; margin:50px 0;\">',\n        '  <h3 style=\"color:#FFFFFF; font-size:1.5rem; margin-bottom:12px;\">¿Listo para vender más y devolver menos?</h3>',\n        '  <p style=\"color:#aaaaaa; margin-bottom:24px;\">Únete a las tiendas colombianas que ya transformaron su ecommerce con Lookitry.</p>',\n        '  <a href=\"https://lookitry.com/trial-checkout\" style=\"background:#FF5C3A; color:white; padding:16px 36px; border-radius:50px; text-decoration:none; font-weight:bold; font-size:1.1rem; display:inline-block;\">Probar Lookitry Gratis</a>',\n        '</div>',\n        '',\n        '# FORMATO DE SALIDA — DEVUELVE SOLO ESTE JSON, SIN NADA MÁS:',\n        '{',\n        '  \"title\": \"EL TÍTULO H1 REAL DEL ARTÍCULO con keyword al inicio, 55-65 chars\",',\n        '  \"meta_title\": \"EL META TITLE REAL 50-60 chars\",',\n        '  \"meta_description\": \"LA META DESCRIPTION REAL 145-160 chars con keyword y CTA\",',\n        '  \"slug\": \"el-slug-real-sin-tildes-maximo-60-chars\",',\n        '  \"og_title\": \"EL OG TITLE REAL para redes sociales\",',\n        '  \"og_description\": \"LA OG DESCRIPTION REAL 120-200 chars enfocada en beneficio emocional\",',\n        '  \"excerpt\": \"EL RESUMEN REAL del artículo en 2-3 oraciones humanas y empáticas de 80-120 palabras\",',\n        '  \"content\": \"EL HTML COMPLETO Y REAL DEL ARTÍCULO empezando desde el div data-blog-intro hasta el div data-blog-cta final, todo en una sola línea con saltos escapados como \\\\n\",',\n        '  \"tags\": [\"tag-real-1\", \"tag-real-2\", \"tag-real-3\", \"tag-real-4\", \"tag-real-5\"],',\n        '  \"faq_q1\": \"PREGUNTA REAL 1 CON KEYWORD\",',\n        '  \"faq_a1\": \"RESPUESTA REAL 1 en 2-3 oraciones\",',\n        '  \"faq_q2\": \"PREGUNTA REAL 2\",',\n        '  \"faq_a2\": \"RESPUESTA REAL 2\",',\n        '  \"faq_q3\": \"PREGUNTA REAL 3\",',\n        '  \"faq_a3\": \"RESPUESTA REAL 3\",',\n        '  \"reading_time_minutes\": 8,',\n        '  \"word_count\": 2200',\n        '}'\n      ].join('\\n')\n    }\n  ],\n  temperature: 0.72,\n  max_tokens: 7000\n}) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "c00dde00-a97a-4968-80a8-b5608f13db29",
      "name": "Redactor IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        98528,
        36560
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.item.json;\nlet rawText = '';\n\nif (typeof source?.choices?.[0]?.message?.content === 'string') {\n  rawText = source.choices[0].message.content;\n} else if (Array.isArray(source?.choices?.[0]?.message?.content)) {\n  rawText = source.choices[0].message.content\n    .map(p => typeof p === 'string' ? p : p?.text || '')\n    .join('');\n} else if (source?.content?.parts?.[0]?.text) {\n  rawText = source.content.parts[0].text;\n} else {\n  rawText = JSON.stringify(source);\n}\n\n// Limpiar markdown\nrawText = rawText\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/g, '')\n  .trim();\n\n// Extraer campos clave uno por uno con regex — más robusto que JSON.parse\nfunction extractField(text, key) {\n  const pattern = new RegExp('\"' + key + '\"\\\\s*:\\\\s*\"((?:[^\"\\\\\\\\]|\\\\\\\\.)*)\"','s');\n  const match = text.match(pattern);\n  return match ? match[1]\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\t/g, '\\t')\n    .replace(/\\\\r/g, '')\n    .replace(/\\\\\"'/g, '\"')\n    .replace(/\\\\\\\\/g, '\\\\') : '';\n}\n\nfunction extractArray(text, key) {\n  const pattern = new RegExp('\"' + key + '\"\\\\s*:\\\\s*\\\\[([^\\\\]]*(?:\\\\[[^\\\\]]*\\\\][^\\\\]]*)*)\\\\]', 's');\n  const match = text.match(pattern);\n  if (!match) return [];\n  try {\n    return JSON.parse('[' + match[1] + ']');\n  } catch(_) {\n    return match[1]\n      .split(',')\n      .map(s => s.trim().replace(/^\"|\"$/g, ''))\n      .filter(Boolean);\n  }\n}\n\nfunction extractNumber(text, key) {\n  const pattern = new RegExp('\"' + key + '\"\\\\s*:\\\\s*(\\\\d+)');\n  const match = text.match(pattern);\n  return match ? parseInt(match[1]) : 0;\n}\n\n// Extraer cada campo individualmente\nconst title           = extractField(rawText, 'title');\nconst meta_title      = extractField(rawText, 'meta_title');\nconst meta_description= extractField(rawText, 'meta_description');\nconst slug            = extractField(rawText, 'slug');\nconst og_title        = extractField(rawText, 'og_title');\nconst og_description  = extractField(rawText, 'og_description');\nconst excerpt         = extractField(rawText, 'excerpt');\nconst content         = extractField(rawText, 'content');\nconst faq_q1          = extractField(rawText, 'faq_q1');\nconst faq_a1          = extractField(rawText, 'faq_a1');\nconst faq_q2          = extractField(rawText, 'faq_q2');\nconst faq_a2          = extractField(rawText, 'faq_a2');\nconst faq_q3          = extractField(rawText, 'faq_q3');\nconst faq_a3          = extractField(rawText, 'faq_a3');\nconst reading_time    = extractNumber(rawText, 'reading_time_minutes');\nconst word_count      = extractNumber(rawText, 'word_count');\nconst tags            = extractArray(rawText, 'tags');\n\n// Validar campos obligatorios\nconst missing = [];\nif (!title)   missing.push('title');\nif (!excerpt) missing.push('excerpt');\nif (!content) missing.push('content');\n\nif (missing.length > 0) {\n  return [{ json: { \n    error_ia: true, \n    message: `Campos faltantes: ${missing.join(', ')}`, \n    raw: rawText.substring(0, 500) \n  }}];\n}\n\n// Construir schema_faq desde campos planos\nconst schema_faq = [\n  { question: faq_q1, answer: faq_a1 },\n  { question: faq_q2, answer: faq_a2 },\n  { question: faq_q3, answer: faq_a3 },\n].filter(f => f.question && f.answer);\n\nreturn [{ json: {\n  title,\n  meta_title,\n  meta_description,\n  slug,\n  og_title,\n  og_description,\n  excerpt,\n  content,\n  tags,\n  schema_faq,\n  reading_time_minutes: reading_time,\n  word_count\n}}];"
      },
      "id": "16cf7dce-9d17-45fc-a716-33f13c9f4b87",
      "name": "Parsear Artículo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98528,
        36272
      ]
    },
    {
      "parameters": {
        "jsCode": "const article = $input.first().json;\nlet ctx = {};\ntry { ctx = $('Preparar Contexto Editorial').first().json || {}; } catch(e) {}\n\nconst rawTags = article.tags || article.Tags || ctx.Tags || [];\nconst tagsArray = Array.isArray(rawTags) ? rawTags.map(t=>String(t||'').trim()).filter(Boolean) : String(rawTags||'').split(',').map(t=>t.trim()).filter(Boolean);\n\nconst categorySlug = String(article.category_slug || ctx.category_slug || 'ia').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').replace(/[^a-z0-9]+/g,'-').replace(/^-+|-+$/g,'') || 'ia';\n\nconst excerpt = (article.excerpt || '').substring(0,157) + ((article.excerpt||'').length > 157 ? '...' : '');\nconst meta_description = (article.meta_description || article.excerpt || '').substring(0,157) + '...';\n\nconst wpBody = {\n  title: article.title,\n  excerpt,\n  content: article.content,\n  status: 'published',\n  category_slug: categorySlug,\n  tags: tagsArray,\n  featured_image: ctx.imagen_destacada_url || '',\n  meta_description,\n  topic_id: ctx.topic_id || '',\n  author_id: 'LOOKITRY Editorial' \n};\n\nreturn [{ json: { wpBody, ...ctx, tags: tagsArray, category_slug: categorySlug, title: article.title, excerpt, content: article.content, meta_description } }];"
      },
      "id": "b830a7ae-bc56-4bdf-a242-7aaee9d06954",
      "name": "Preparar JSON Lookitry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        98752,
        36272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.wpBody) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "382f1086-3a53-4647-a985-065b8e59f477",
      "name": "Publicar en Lookitry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        98976,
        36272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "=201",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "58b5b121-891e-49aa-9c7a-7f93f185a01d",
      "name": "¿Publicado OK (201)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        99232,
        36272
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics?id=eq.{{ $('Loop Temas Pendientes').item.json.topic_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"published\" }",
        "options": {}
      },
      "id": "72d390bc-4288-4b75-962f-c333245749b4",
      "name": "PATCH status published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        99232,
        36112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const topicId = $('Preparar Contexto Editorial').first().json?.topic_id || 'desconocido';\nconst title = $('Preparar Contexto Editorial').first().json?.title || 'desconocido';\nconst respuesta = $input.first().json;\nconsole.log(`ERROR AL PUBLICAR: topic_id=${topicId}, title=${title}`);\nconsole.log('Respuesta Lookitry:', JSON.stringify(respuesta));\nreturn [{ json: { error: true, topic_id: topicId, title, response: respuesta, timestamp: new Date().toISOString() } }];"
      },
      "id": "40a45a42-ea3f-46f1-8ce5-d337d7359722",
      "name": "Log Error Publicación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        99456,
        36288
      ]
    },
    {
      "parameters": {
        "jsCode": "const temaActual = $('Loop Temas Pendientes').item.json || {};\nconst topicId = temaActual.topic_id || 'N/A';\nconst title = temaActual.title || 'N/A';\n\nconsole.log(`✓ Artículo publicado en Lookitry y actualizado en Supabase. topic_id=${topicId}, title=${title}`);\nreturn [{ json: { success: true, topic_id: topicId, title, timestamp: new Date().toISOString() } }];"
      },
      "id": "a6ba697d-fce5-4161-a196-a300a03b258e",
      "name": "Log Éxito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        99456,
        36112
      ]
    },
    {
      "parameters": {},
      "id": "88a5920f-e8a2-4fca-832f-6d9e6151f9ab",
      "name": "NoOp Trend Insertado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        94992,
        36880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Trend Hunter"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: \"meta-llama/llama-3.3-70b-instruct\",\n  messages: [{\n    role: \"user\",\n    content: [\n      \"Eres el Director de Fotografía Editorial de Lookitry. Creas prompts para Replicate (modelo Flux), una IA generadora de imágenes fotorrealistas.\",\n      \"\",\n      \"DATOS DEL ARTÍCULO:\",\n      \"- Tema: \" + ($('Loop Temas Pendientes').item.json.title || ''),\n      \"- Categoría: \" + ($('Loop Temas Pendientes').item.json.category_slug || 'ia'),\n      \"\",\n      \"CONTEXTO DE USO:\",\n      \"Los prompts serán enviados directamente a Flux en Replicate.\",\n      \"Flux entiende mejor prompts descriptivos, detallados y en inglés.\",\n      \"El negative prompt va en un campo separado — NO lo incluyas dentro del prompt principal.\",\n      \"\",\n      \"REGLAS PARA EL PROMPT PRINCIPAL:\",\n      \"1. SIEMPRE EN INGLÉS.\",\n      \"2. Describe la escena de forma cinematográfica y específica: quién, qué hace, dónde, con qué luz.\",\n      \"3. PERSONAS: Latina woman, 25-30 years old, natural beauty, light brown skin, dark hair, genuine smile, relaxed and confident posture.\",\n      \"4. PROHIBIDO mencionar: text, logo, watermark, credit card, money, abstract elements.\",\n      \"5. Escenas relacionadas al tema del artículo: moda, ecommerce, tiendas, ropa, compras online, tecnología de moda.\",\n      \"6. Las 3 escenas deben ser DIFERENTES entre sí.\",\n      \"7. Termina cada prompt con este bloque fijo de calidad:\",\n      \"   shot on Sony A7R V, 85mm portrait lens, f/1.8 aperture, natural window light, shallow depth of field, soft bokeh background, hyperrealistic, photorealistic, 8k uhd, sharp focus on subject, perfect skin texture, editorial fashion photography, award winning photo\",\n      \"\",\n      \"REGLAS PARA EL NEGATIVE PROMPT (campo separado):\",\n      \"Usa siempre este negative prompt fijo para las 3 imágenes:\",\n      \"extra fingers, missing fingers, six fingers, fused fingers, deformed hands, extra hands, extra arms, extra legs, missing limbs, poorly drawn hands, poorly drawn face, bad anatomy, malformed limbs, mutated body, long neck, double head, cloned face, disfigured face, asymmetric eyes, crossed eyes, blurry, out of focus, low quality, pixelated, watermark, text, logo, signature, oversaturated, plastic skin, unnatural pose, stiff pose, awkward pose, AI generated look\",\n      \"\",\n      \"FORMATO DE SALIDA OBLIGATORIO:\",\n      \"Devuelve SOLO un objeto JSON válido con esta estructura exacta, sin texto adicional:\",\n      \"{\",\n      \"  \\\"prompts\\\": [\",\n      \"    {\",\n      \"      \\\"id\\\": \\\"hero\\\",\",\n      \"      \\\"positive\\\": \\\"ESCRIBE EL PROMPT REAL DE LA IMAGEN DE PORTADA aquí\\\",\",\n      \"      \\\"negative\\\": \\\"extra fingers, missing fingers, six fingers, fused fingers, deformed hands, extra hands, extra arms, extra legs, missing limbs, poorly drawn hands, poorly drawn face, bad anatomy, malformed limbs, mutated body, long neck, double head, cloned face, disfigured face, asymmetric eyes, crossed eyes, blurry, out of focus, low quality, pixelated, watermark, text, logo, signature, oversaturated, plastic skin, unnatural pose, stiff pose, awkward pose, AI generated look\\\"\",\n      \"    },\",\n      \"    {\",\n      \"      \\\"id\\\": \\\"body1\\\",\",\n      \"      \\\"positive\\\": \\\"ESCRIBE EL PROMPT REAL DE LA IMAGEN CUERPO 1 aquí\\\",\",\n      \"      \\\"negative\\\": \\\"extra fingers, missing fingers, six fingers, fused fingers, deformed hands, extra hands, extra arms, extra legs, missing limbs, poorly drawn hands, poorly drawn face, bad anatomy, malformed limbs, mutated body, long neck, double head, cloned face, disfigured face, asymmetric eyes, crossed eyes, blurry, out of focus, low quality, pixelated, watermark, text, logo, signature, oversaturated, plastic skin, unnatural pose, stiff pose, awkward pose, AI generated look\\\"\",\n      \"    },\",\n      \"    {\",\n      \"      \\\"id\\\": \\\"body2\\\",\",\n      \"      \\\"positive\\\": \\\"ESCRIBE EL PROMPT REAL DE LA IMAGEN CUERPO 2 aquí\\\",\",\n      \"      \\\"negative\\\": \\\"extra fingers, missing fingers, six fingers, fused fingers, deformed hands, extra hands, extra arms, extra legs, missing limbs, poorly drawn hands, poorly drawn face, bad anatomy, malformed limbs, mutated body, long neck, double head, cloned face, disfigured face, asymmetric eyes, crossed eyes, blurry, out of focus, low quality, pixelated, watermark, text, logo, signature, oversaturated, plastic skin, unnatural pose, stiff pose, awkward pose, AI generated look\\\"\",\n      \"    }\",\n      \"  ]\",\n      \"}\"\n    ].join('\\n')\n  }],\n  temperature: 0.5,\n  max_tokens: 1000\n}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "3ae537ec-6994-4a12-a4ae-ea777f4c522b",
      "name": "Generar Prompt imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96224,
        36544
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "zoSkapW7VQMaPW6Y",
          "name": "Open Pruebalo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROL\nEres un Estratega de Contenido Senior para \"Lookitry\", un SaaS de probador virtual de ropa (lookitry.com) que ayuda a tiendas de ecommerce a aumentar sus ventas.\n\n# OBJETIVO\nGenerar un array de 10 ideas de temas para artículos de blog. Las ideas deben ser actuales, con alta intención comercial y enfocadas en dueños de tiendas de moda, emprendedores de ecommerce y marketing digital.\n\n# INSTRUCCIONES CLAVE\n1.  **Enfoque en el Problema del Cliente:** Los temas deben abordar problemas de conversión, devoluciones de ropa, experiencia de usuario y tendencias de IA en moda.\n2.  **Variedad de Formatos:** Genera una mezcla equilibrada de:\n    * `\"Tutorial Práctico\"` \n    * `\"Análisis de Tendencia\"` \n    * `\"Guía Completa\"` \n3.  **Ángulo de Monetización:** Los temas deben resaltar cómo usar Lookitry o herramientas similares mejora el negocio.\n\n# FORMATO DE SALIDA\nDevuelve ÚNICAMENTE un array JSON válido. Cada objeto del array debe incluir:\n- `title`: El título del artículo.\n- `keywords`: Una cadena de 4-5 palabras clave separadas por comas.\n- `category_slug`: El slug de la categoría (usa: 'ia', 'ecommerce', 'marketing', 'negocios' o 'moda').\n- `meta_description`: Una meta descripción de máximo 110 caracteres.\n\n# EJEMPLO DE SALIDA\n[\n  {\n    \"title\": \"Cómo la IA está reduciendo las devoluciones en tiendas de ropa online\",\n    \"keywords\": \"probador virtual, ia en moda, reducir devoluciones, ecommerce tips\",\n    \"category_slug\": \"ia\",\n    \"meta_description\": \"Descubre cómo los probadores virtuales ayudan a las tiendas a bajar su tasa de devoluciones y subir ventas.\"\n  }\n]\n\n# REGLAS FINALES\n- NO incluyas ```json ni ``` en la salida.\n- NO añadas texto extra.\n- El resultado debe ser un JSON puro.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        94544,
        36016
      ],
      "id": "f4540a5d-20aa-46ee-95f8-35748b60cfda",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMonth"
            }
          ]
        }
      },
      "id": "3aa8d634-1ed4-4620-bc87-d06aa288c02f",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        94352,
        36016
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        94480,
        36256
      ],
      "id": "d0d64bdb-66e9-436a-9166-dbe1b69f2b5a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "t38zPMWleOvlSpPc",
          "name": "Que movida cu"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const inputItem of $input.all()) {\n  let ideas = inputItem.json.output || inputItem.json.content;\n  if (typeof ideas === 'string') {\n    try {\n      ideas = JSON.parse(ideas);\n    } catch (e) {\n      continue;\n    }\n  }\n  if (!Array.isArray(ideas)) continue;\n\n  for (const idea of ideas) {\n    results.push({\n      json: {\n        title: idea.title || '',\n        keywords: idea.keywords || '',\n        category_slug: idea.category_slug || 'ecommerce',\n        meta_description: idea.meta_description || '',\n        status: 'pending'\n      }\n    });\n  }\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        94880,
        36016
      ],
      "id": "9867772f-5e56-4903-8496-75918b502482",
      "name": "formatear"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vkdooutklowctuudjnkl.supabase.co/rest/v1/blog_topics?on_conflict=title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVED-SECRET***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"keywords\": {{ JSON.stringify($json.keywords) }},\n  \"category_slug\": {{ JSON.stringify($json.category_slug) }},\n  \"meta_description\": {{ JSON.stringify($json.meta_description) }},\n  \"status\": \"pending\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d7244061-90f5-4f37-b9c7-56fe5fdcec91",
      "name": "Insert Idea1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        95104,
        36016
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Switch Proveedor Imagen": {
      "main": [
        [
          {
            "node": "Replicate FLUX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter Generar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar Investigación": {
      "main": [
        [
          {
            "node": "Redactor IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Lector de Noticias": {
      "main": [
        []
      ]
    },
    "AI Trend Hunter": {
      "main": [
        [
          {
            "node": "Parsear Temas AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Temas Existentes Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Real": {
      "main": [
        [
          {
            "node": "AI Trend Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Noticias Colombia": {
      "main": [
        [
          {
            "node": "Preparar Contexto Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Noticias Colombia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger Manual": {
      "main": [
        [
          {
            "node": "Google Noticias Colombia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Temas AI": {
      "main": [
        [
          {
            "node": "Merge Para Deduplicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Temas Existentes Supabase": {
      "main": [
        [
          {
            "node": "Merge Para Deduplicar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Para Deduplicar": {
      "main": [
        [
          {
            "node": "Deduplicar Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicar Temas": {
      "main": [
        [
          {
            "node": "¿Hay temas nuevos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay temas nuevos?": {
      "main": [
        [
          {
            "node": "INSERT Tema en Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp Trend Insertado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Tema en Supabase": {
      "main": [
        [
          {
            "node": "Verificar INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar INSERT": {
      "main": [
        [
          {
            "node": "GET Temas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Temas Pendientes": {
      "main": [
        [
          {
            "node": "Preparar Loop Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Loop Temas": {
      "main": [
        [
          {
            "node": "Loop Temas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Temas Pendientes": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Prompt imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Prompts": {
      "main": [
        [
          {
            "node": "Loop Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Imágenes": {
      "main": [
        [
          {
            "node": "Consolidar URLs Imágenes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Proveedor Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate FLUX": {
      "main": [
        [
          {
            "node": "Replicate Extraer URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Generar Imagen": {
      "main": [
        [
          {
            "node": "Extraer URL OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer URL OpenRouter": {
      "main": [
        [
          {
            "node": "Descargar Imagen OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen OpenRouter": {
      "main": [
        [
          {
            "node": "Consolidar URLs Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate Extraer URL": {
      "main": [
        [
          {
            "node": "Descargar PNG Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar PNG Replicate": {
      "main": [
        [
          {
            "node": "Renombrar PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renombrar PNG": {
      "main": [
        [
          {
            "node": "Uploader Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploader Imagen": {
      "main": [
        [
          {
            "node": "Loop Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar URLs Imágenes": {
      "main": [
        [
          {
            "node": "GET Blogs Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Blogs Existentes": {
      "main": [
        [
          {
            "node": "Extraer Links Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Links Blog": {
      "main": [
        [
          {
            "node": "Obtener Info Consolidada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Info Consolidada": {
      "main": [
        [
          {
            "node": "Preparar Contexto Editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Editorial": {
      "main": [
        [
          {
            "node": "Jina Lector de Noticias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redactor IA": {
      "main": [
        [
          {
            "node": "Parsear Artículo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Artículo": {
      "main": [
        [
          {
            "node": "Preparar JSON Lookitry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar JSON Lookitry": {
      "main": [
        [
          {
            "node": "Publicar en Lookitry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar en Lookitry": {
      "main": [
        [
          {
            "node": "¿Publicado OK (201)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Publicado OK (201)?": {
      "main": [
        [
          {
            "node": "PATCH status published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error Publicación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH status published": {
      "main": [
        [
          {
            "node": "Log Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Publicación": {
      "main": [
        []
      ]
    },
    "Log Éxito": {
      "main": [
        []
      ]
    },
    "NoOp Trend Insertado": {
      "main": [
        [
          {
            "node": "GET Temas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Prompt imagen": {
      "main": [
        [
          {
            "node": "Extraer Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "formatear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "formatear": {
      "main": [
        [
          {
            "node": "Insert Idea1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Adjuntar Investigación": [
      {
        "topic_id": "a5bbc5f4-54ef-4c9d-8d11-22109a2742bb",
        "title": "Guía Completa: Claves para una Experiencia de Usuario Inolvidable en tu Ecommerce de Moda",
        "keywords": "ux ecommerce, experiencia cliente, probador virtual, fidelizar clientes",
        "category_slug": "ecommerce",
        "source_url": "",
        "investigacion_profunda": "Title: Lookitry — Probador virtual con IA para tu tienda online\n\nURL Source: https://lookitry.com/\n\nMarkdown Content:\n# Lookitry — Probador virtual con IA para tu tienda online\n\n[![Image 1: Lookitry](https://lookitry.com/logo.svg)Look itry](https://lookitry.com/)COP USD\n\nCOP[Planes](https://lookitry.com/planes)[Blog](https://lookitry.com/blog)[Blog](https://lookitry.com/blog)[Iniciar sesión](https://lookitry.com/login)[Contratar ahora](https://lookitry.com/planes)\n\nLookitry es un probador virtual con inteligencia artificial para tiendas de ropa, accesorios y calzado en Latinoamérica.\n\nProbador virtual con IA\n\n# Tus clientes se prueban\n\ntu producto antes de comprar\n\nPara tiendas de ropa, accesorios y calzado en Latinoamérica. Intégralo en tu tienda en 10 minutos. Sin apps, sin desarrollo.\n\nEl widget de probador virtual IA Latam más fácil de integrar. Prueba ropa online con inteligencia artificial y aumenta tus conversiones.\n\n[Prueba $20.000 — 7 días](https://lookitry.com/trial-checkout)[Ver planes](https://lookitry.com/planes)\n\nActiva hoy tu prueba paga · Configuración en minutos\n\nlookitry.com/mi-marca\n\nTu foto\n\nSube una selfie\n\nElige producto\n\n![Image 2: Camisa lino beige](https://lookitry.com/_next/image?url=%2Fproducts%2Fcamisa_lino_beige.png&w=3840&q=75)\n\nCamisa lino beige\n\n$89.000\n\n![Image 3: Zapatillas blancas](https://lookitry.com/_next/image?url=%2Fproducts%2Fzapatilla_blanca.png&w=3840&q=75)\n\nZapatillas blancas\n\n$185.000\n\n![Image 4: Bolso cuero café](https://lookitry.com/_next/image?url=%2Fproducts%2Fbolso_cuero_cafe.png&w=3840&q=75)\n\nBolso cuero café\n\n$210.000\n\n[Generar prueba virtual](https://lookitry.com/planes)\n\n+30\n\nmarcas activas\n\n18K\n\ngeneraciones este mes\n\n4.8/5\n\nsatisfacción promedio\n\nPlanes\n\n## Precios simples\n\nBásico\n\n$180.000\n\n$220.000-18%\n\n/ mes\n\nPago directo — activación inmediata\n\n*   5 productos\n*   400 generaciones/mes\n*   Logo y colores\n*   Widget embebible\n*   Compartir con marca Lookitry\n\n[Contratar Básico](https://lookitry.com/checkout?plan=BASIC&currency=COP)\n\nMás popular\n\nPro\n\n$350.000\n\n$420.000-17%\n\n/ mes\n\nPago directo — activación inmediata\n\n*   15 productos\n*   1000 generaciones/mes\n*   Plugin WooCommerce\n*   Templates avanzados\n*   Compartir con tu nombre de marca\n*   URL personalizada del widget\n*   Soporte prioritario\n\n[Contratar Pro](https://lookitry.com/checkout?plan=PRO&currency=COP)\n\nEnterprise\n\nPersonalizado\n\nImplementación consultiva a medida\n\n*   +50 productos\n*   Volumen a medida\n*   Marca Blanca\n*   Panel de Analítica Avanzado\n*   Acceso a API\n\n[Hablar con ventas](https://lookitry.com/contacto?plan=enterprise)\n\nComparativa completa\n\n| Característica | Básico | Pro | Enterprise |\n| --- | --- | --- | --- |\n| Productos en el probador | 5 | 15 | +50 |\n| Generaciones por mes | 400 | 1.000 | A medida |\n| Plugin WooCommerce | No | Sí | Sí |\n| Marca Blanca | No | No | Sí |\n| Panel de Analítica Avanzado | No | No | Sí |\n| Acceso a API | No | No | Sí |\n\nPagos 100% Seguros\n\n## Medios de pago aceptados\n\nProcesamos tus pagos de forma segura a través de Wompi y PayPal con encriptación de grado bancario.\n\n![Image 5: Visa](https://lookitry.com/payment-visa.svg)![Image 6: Mastercard](https://lookitry.com/payment-mastercard.svg)![Image 7: PSE](https://lookitry.com/payment-pse.svg)![Image 8: Nequi](https://lookitry.com/payment-nequi.svg)![Image 9: Bancolombia](https://lookitry.com/payment-bancolombia.svg)![Image 10: PayPal](https://lookitry.com/payment-paypal.svg)\n\nSSL Encrypted PCI Compliance Activación Instantánea\n\nCómo funciona\n\n## Tres pasos. Sin complicaciones.\n\n![Image 11: Cliente subiendo una selfie al probador virtual](https://lookitry.com/_next/image?url=%2Fsteps%2Fpaso-1.webp&w=3840&q=75)\n\n01\n\n### Sube tu foto\n\nEl cliente toma una selfie o sube una imagen desde su celular o computador.\n\n![Image 12: Selección de producto en el catálogo del probador virtual](https://lookitry.com/_next/image?url=%2Fsteps%2Fpaso-2.webp&w=3840&q=75)\n\n02\n\n### Elige el producto\n\nSelecciona la prenda, accesorio o calzado del catálogo de tu marca.\n\n![Image 13: Resultado generado por IA del probador virtual de ropa](https://lookitry.com/_next/image?url=%2Fsteps%2Fpaso-3.webp&w=3840&q=75)\n\n03\n\n### Ve el resultado\n\nLa IA genera la imagen en segundos. El cliente puede descargarla y compartirla.\n\nServicio adicional · Pago único\n\n## Tu tienda online,\n\nsin pagar un diseñador\n\nPágina pública propia\n\nURL en lookitry.com/tu-marca. Compártela en redes, WhatsApp o tu bio de Instagram.\n\nCatálogo visual\n\nTus productos con foto, precio y badge. Tus clientes los ven y los prueban en segundos.\n\nProbador IA integrado\n\nEl widget de prueba virtual está embebido directamente. Sin redireccionamientos.\n\nWhatsApp flotante\n\nBotón de contacto siempre visible. Tus clientes te escriben con un clic.\n\n3 templates de diseño\n\nClásico, Editorial o Moderno. Cambia el diseño desde tu dashboard cuando quieras.\n\nActivación inmediata\n\nPagas y en minutos tu página está activa. Sin esperas, sin procesos manuales.\n\n![Image 14: Demo de Mini-Landing](https://lookitry.com/_next/image?url=%2Fhero%2Fpromo_landing.png&w=3840&q=75)\n\n$900.000 28% OFF\n\n$650.000\n\nPago único · Sin mensualidad adicional\n\n*   Página pública activa\n*   Probador IA integrado\n*   3 templates incluidos\n*   WhatsApp flotante\n*   Activación inmediata\n\nObtener mi mini-landing\nServicio adicional · Pago único\n\nReviews\n\n## Lo que dicen nuestras marcas\n\nOpiniones reales de marcas que ya usan Lookitry\n\nPRO\n\n“Desde que activamos el try-on virtual, nuestras clientas pasan más tiempo explorando la colección. Las devoluciones bajaron notablemente. Una herramienta que no sabíamos que necesitábamos.”\n\nMB\n\nMaison Bogotá\n\nfebrero de 2025\n\nBASIC\n\n“La integración con nuestra tienda fue sencilla y el soporte del equipo fue excelente. Los clientes aman poder verse con la ropa antes de comprar.”\n\nSM\n\nStudio Medellín\n\nmarzo de 2025\n\nPRO\n\n“Muy buena plataforma. El try-on es rápido y los resultados se ven naturales. Le damos 5 estrellas en experiencia de usuario.”\n\nVC\n\nVestidos Cali\n\nenero de 2025\n\nBASIC\n\n“La integración con nuestra tienda fue sencilla y el soporte del equipo fue excelente. Los clientes aman poder verse con la ropa antes de comprar.”\n\nSM\n\nStudio Medellín\n\nmarzo de 2025\n\nPRO\n\n“Muy buena plataforma. El try-on es rápido y los resultados se ven naturales. Le damos 5 estrellas en experiencia de usuario.”\n\nVC\n\nVestidos Cali\n\nenero de 2025\n\nBASIC\n\n“Probamos varios servicios similares y Lookitry fue el que mejor resultados dio con nuestras prendas. La calidad de la IA es sorprendente.”\n\nAB\n\nAtelier Barranquilla\n\nfebrero de 2025\n\nPRO\n\n“Muy buena plataforma. El try-on es rápido y los resultados se ven naturales. Le damos 5 estrellas en experiencia de usuario.”\n\nVC\n\nVestidos Cali\n\nenero de 2025\n\nBASIC\n\n“Probamos varios servicios similares y Lookitry fue el que mejor resultados dio con nuestras prendas. La calidad de la IA es sorprendente.”\n\nAB\n\nAtelier Barranquilla\n\nfebrero de 2025\n\nPRO\n\n“Nuestras ventas online aumentaron después de implementar el probador virtual. Los compradores sienten más confianza al ver cómo les queda la prenda.”\n\nCN\n\nColección Norte\n\nmarzo de 2025\n\nBASIC\n\n“Probamos varios servicios similares y Lookitry fue el que mejor resultados dio con nuestras prendas. La calidad de la IA es sorprendente.”\n\nAB\n\nAtelier Barranquilla\n\nfebrero de 2025\n\nPRO\n\n“Nuestras ventas online aumentaron después de implementar el probador virtual. Los compradores sienten más confianza al ver cómo les queda la prenda.”\n\nCN\n\nColección Norte\n\nmarzo de 2025\n\nPRO\n\n“Desde que activamos el try-on virtual, nuestras clientas pasan más tiempo explorando la colección. Las devoluciones bajaron notablemente. Una herramienta que no sabíamos que necesitábamos.”\n\nMB\n\nMaison Bogotá\n\nfebrero de 2025\n\nPRO\n\n“Nuestras ventas online aumentaron después de implementar el probador virtual. Los compradores sienten más confianza al ver cómo les queda la prenda.”\n\nCN\n\nColección Norte\n\nmarzo de 2025\n\nPRO\n\n“Desde que activamos el try-on virtual, nuestras clientas pasan más tiempo explorando la colección. Las devoluciones bajaron notablemente. Una herramienta que no sabíamos que necesitábamos.”\n\nMB\n\nMaison Bogotá\n\nfebrero de 2025\n\nBASIC\n\n“La integración con nuestra tienda fue sencilla y el soporte del equipo fue excelente. Los clientes aman poder verse con la ropa antes de comprar.”\n\nSM\n\nStudio Medellín\n\nmarzo de 2025\n\nPreguntas frecuentes\n\n## Todo lo que necesitas saber\n\nMini-Landing Pagos Generaciones Probador IA\n\n¿Qué es la mini-landing y para qué sirve?\n\nEs una página pública profesional en lookitry.com/tu-marca. Incluye tu catálogo de productos con probador virtual integrado, botón de WhatsApp flotante y hasta 3 templates de diseño. La puedes compartir en redes sociales, WhatsApp o en la bio de Instagram.\n\n¿Cuánto cuesta la mini-landing?\n\nEs un pago único. El precio actual está disponible en la sección de planes de esta página. No tiene mensualidad adicional: pagas una vez y la página queda activa mientras tengas un plan de suscripción activo.\n\n¿Cuánto tiempo tarda en activarse?\n\nLa activación es inmediata. En minutos después de confirmar el pago, tu página ya está disponible en la URL asignada.\n\n¿Puedo cambiar el diseño de mi mini-landing?\n\nSí. Desde tu dashboard puedes elegir entre 3 templates: Clásico, Editorial y Probador. También puedes actualizar tu logo, colores, slogan, ciudad, horario y mensaje de WhatsApp cuando quieras.\n\n¿La mini-landing incluye el probador virtual?\n\nSí, el probador de IA está integrado directamente en tu página. Tus clientes pueden seleccionar un producto y probárselo sin salir de tu mini-landing.\n\n¿Necesito saber programar para tener mi mini-landing?\n\nNo. Todo se configura desde tu dashboard con formularios simples. No necesitas tocar código ni contratar un desarrollador.\n\n¿No encontraste lo que buscabas?\n\nEscríbenos y te respondemos en minutos.\n\n[WhatsApp](https://wa.me/573105436281)[Correo](mailto:info@lookitry.com)\n\n[![Image 15: Lookitry](https://lookitry.com/logo.svg)Look itry](https://lookitry.com/)\nProbador virtual con IA para tiendas de ropa, accesorios y calzado en Latinoamérica.\n\nActivación en minutos Soporte por WhatsApp Pago seguro\n\n[](https://lookitry.com/#)[](https://lookitry.com/#)[](mailto:info@lookitry.com)[](https://wa.me/573105436281)\n\nProducto\n\n*   [Inicio](https://lookitry.com/)\n*   [Planes y precios](https://lookitry.com/planes)\n*   [Iniciar sesión](https://lookitry.com/login)\n*   [Activar prueba ahora](https://lookitry.com/trial-checkout)\n*   [Crear cuenta de marca](https://lookitry.com/register)\n\nEmpresa\n\n*   [Sobre nosotros](https://lookitry.com/sobre-nosotros)\n*   [Contacto](https://lookitry.com/contacto)\n*   [Aplicaciones reales](https://lookitry.com/aplicaciones)\n*   [Centro de ayuda](https://lookitry.com/ayuda)\n*   [Estado del servicio](https://lookitry.com/estado)\n\nConfianza legal\n\n*   [Términos y Condiciones](https://lookitry.com/terminos)\n*   [Política de Privacidad](https://lookitry.com/politicas-privacidad)\n*   [Política de uso](https://lookitry.com/politica-de-uso)\n*   [Política de cookies](https://lookitry.com/cookies)\n*   [Aviso legal](https://lookitry.com/aviso-legal)\n\n© 2026[Wilkie Devs SAS](https://wilkiedevs.com/)· Colombia\n\n[Admin](https://lookitry.com/admin/login)\n"
      }
    ],
    "Webhook Trigger Manual": [
      {
        "headers": {
          "host": "n8n.wilkiedevs.com",
          "user-agent": "axios/1.13.6",
          "content-length": "154",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "172.19.0.1",
          "x-forwarded-host": "n8n.wilkiedevs.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "05d31d08392c",
          "x-n8n-secret": "Travis2305**_blog_n8n",
          "x-real-ip": "172.19.0.1"
        },
        "params": {},
        "query": {},
        "body": {
          "triggered_by": "admin_manual",
          "openrouter_model": "meta-llama/llama-3.3-70b-instruct",
          "openrouter_image_model": "nano banana",
          "image_provider": "replicate"
        },
        "webhookUrl": "https://n8n.wilkiedevs.com/webhook/trigger-blog-generation",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
  }
}