docs/n8n/workflows/flujo1_campana_email.json
{
  "name": "VirtualTryOn — Campaña Email Masivo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "⏰ Cron — Lunes a Viernes 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nombre_empresa, nombre_contacto, email, ciudad, nicho, estado_lead FROM clientes WHERE campana_enviada = 'NO' AND email IS NOT NULL AND email != '' AND estado_lead != 'EMAIL_INVALIDO' AND estado_lead != 'BAJA' ORDER BY id ASC LIMIT 300;",
        "options": {}
      },
      "id": "supabase-fetch",
      "name": "🗄️ Supabase — Obtener 300 leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase VirtualTryOn"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items().length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-hay-leads",
      "name": "🔍 ¿Hay leads pendientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "message": "✅ No hay leads pendientes hoy. Base al día.",
        "options": {}
      },
      "id": "no-leads-log",
      "name": "📋 Log — Sin leads pendientes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 460]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-leads",
      "name": "🔄 SplitInBatches — 1 por 1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst nombre = item.nombre_contacto \n  ? item.nombre_contacto.split(' ')[0].charAt(0).toUpperCase() + item.nombre_contacto.split(' ')[0].slice(1).toLowerCase()\n  : 'Emprendedor';\n\nconst empresa = item.nombre_empresa || 'tu empresa';\nconst ciudad = item.ciudad || 'Colombia';\nconst id = item.id;\nconst email = item.email ? item.email.toLowerCase().trim() : null;\n\nif (!email || !email.includes('@')) {\n  return [{ json: { ...item, _skip: true, _skip_reason: 'email_invalido' } }];\n}\n\nconst registroUrl = `https://lookitry.com/register?utm_source=email_masivo&utm_campaign=campana_fria_01&utm_medium=email&ref=${id}`;\n\nconst emailHtml = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Probador virtual para ${empresa}</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f4f4f0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif\">\n\n<!-- Preheader invisible -->\n<span style=\"display:none;max-height:0;overflow:hidden\">Tus clientes pueden probarse la ropa antes de comprar — sin apps, sin instalación.</span>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f0;padding:32px 0\">\n  <tr>\n    <td align=\"center\">\n      <table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n        \n        <!-- HEADER -->\n        <tr>\n          <td style=\"background:#0a0a0a;border-radius:16px 16px 0 0;padding:28px 40px;text-align:center\">\n            <p style=\"margin:0;font-size:11px;font-weight:600;letter-spacing:.12em;text-transform:uppercase;color:#e8c97e\">Pruébalo AI · Virtual Try-On</p>\n            <h1 style=\"margin:10px 0 0;font-size:26px;font-weight:900;color:#ffffff;letter-spacing:-.02em;line-height:1.1\">El probador virtual que<br>tu tienda necesita</h1>\n          </td>\n        </tr>\n\n        <!-- BODY -->\n        <tr>\n          <td style=\"background:#ffffff;padding:40px 40px 32px\">\n            <p style=\"margin:0 0 20px;font-size:16px;color:#333;line-height:1.6\">Hola <strong>${nombre}</strong>,</p>\n            \n            <p style=\"margin:0 0 20px;font-size:15px;color:#555;line-height:1.7\">¿Sabías que el <strong style=\"color:#0a0a0a\">67% de los clientes</strong> no compran porque no saben cómo les quedará la prenda antes de recibirla?</p>\n\n            <p style=\"margin:0 0 28px;font-size:15px;color:#555;line-height:1.7\"><strong style=\"color:#0a0a0a\">${empresa}</strong> puede resolver eso hoy, sin desarrollar nada propio.</p>\n\n            <!-- FEATURE BOX -->\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8f8f6;border-radius:12px;margin-bottom:28px\">\n              <tr>\n                <td style=\"padding:24px 28px\">\n                  <p style=\"margin:0 0 16px;font-size:11px;font-weight:600;letter-spacing:.1em;text-transform:uppercase;color:#999\">Cómo funciona</p>\n                  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                    <tr>\n                      <td style=\"padding:8px 0;border-bottom:1px solid #ececea\">\n                        <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                          <td style=\"width:28px;height:28px;background:#0a0a0a;border-radius:50%;text-align:center;vertical-align:middle\"><span style=\"color:#e8c97e;font-size:13px;font-weight:700\">1</span></td>\n                          <td style=\"padding-left:12px;font-size:14px;color:#333\">Tu cliente sube una foto suya desde el celular</td>\n                        </tr></table>\n                      </td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding:8px 0;border-bottom:1px solid #ececea\">\n                        <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                          <td style=\"width:28px;height:28px;background:#0a0a0a;border-radius:50%;text-align:center;vertical-align:middle\"><span style=\"color:#e8c97e;font-size:13px;font-weight:700\">2</span></td>\n                          <td style=\"padding-left:12px;font-size:14px;color:#333\">Elige la prenda o accesorio de tu catálogo</td>\n                        </tr></table>\n                      </td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding:8px 0\">\n                        <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                          <td style=\"width:28px;height:28px;background:#0a0a0a;border-radius:50%;text-align:center;vertical-align:middle\"><span style=\"color:#e8c97e;font-size:13px;font-weight:700\">3</span></td>\n                          <td style=\"padding-left:12px;font-size:14px;color:#333\">La IA genera la imagen en <strong>~12 segundos</strong></td>\n                        </tr></table>\n                      </td>\n                    </tr>\n                  </table>\n                </td>\n              </tr>\n            </table>\n\n            <!-- BENEFICIOS -->\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px\">\n              <tr>\n                <td style=\"padding:6px 0;font-size:14px;color:#555\">✓ &nbsp;Sin apps, sin instalación — solo un enlace o iframe</td>\n              </tr>\n              <tr>\n                <td style=\"padding:6px 0;font-size:14px;color:#555\">✓ &nbsp;Listo para usar en menos de 10 minutos</td>\n              </tr>\n              <tr>\n                <td style=\"padding:6px 0;font-size:14px;color:#555\">✓ &nbsp;<strong style=\"color:#0a0a0a\">7 días gratis</strong>, sin tarjeta de crédito</td>\n              </tr>\n              <tr>\n                <td style=\"padding:6px 0;font-size:14px;color:#555\">✓ &nbsp;Funciona desde Cali, Bogotá, Medellín — toda Colombia</td>\n              </tr>\n            </table>\n\n            <!-- CTA BUTTON -->\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px\">\n              <tr>\n                <td align=\"center\">\n                  <a href=\"${registroUrl}\" style=\"display:inline-block;background:#0a0a0a;color:#e8c97e;font-size:15px;font-weight:700;padding:16px 36px;border-radius:100px;text-decoration:none;letter-spacing:.02em\">Activar prueba gratuita →</a>\n                </td>\n              </tr>\n            </table>\n\n            <p style=\"margin:0;font-size:12px;color:#aaa;text-align:center\">Sin tarjeta · Cancela cuando quieras · Soporte en español</p>\n          </td>\n        </tr>\n\n        <!-- TESTIMONIAL -->\n        <tr>\n          <td style=\"background:#f8f8f6;padding:24px 40px;border-top:1px solid #ececea\">\n            <p style=\"margin:0 0 8px;font-size:14px;color:#555;font-style:italic\">\"Mis clientes pasan más tiempo en el probador que en cualquier otra parte de mi tienda. Las ventas subieron desde el primer mes.\"</p>\n            <p style=\"margin:0;font-size:12px;color:#999\">— Laura M., Tienda de ropa · Instagram · Medellín</p>\n          </td>\n        </tr>\n\n        <!-- FOOTER -->\n        <tr>\n          <td style=\"background:#0a0a0a;border-radius:0 0 16px 16px;padding:24px 40px;text-align:center\">\n            <p style=\"margin:0 0 8px;font-size:13px;color:#666\">Pruébalo AI · Virtual Try-On para marcas colombianas</p>\n            <p style=\"margin:0;font-size:11px;color:#444\">\n              <a href=\"https://lookitry.com\" style=\"color:#e8c97e;text-decoration:none\">lookitry.com</a> &nbsp;·&nbsp;\n              <a href=\"https://lookitry.com/baja?ref=${id}\" style=\"color:#444;text-decoration:underline\">Darme de baja</a>\n            </p>\n          </td>\n        </tr>\n\n      </table>\n    </td>\n  </tr>\n</table>\n</body>\n</html>`;\n\nconst asunto = `${empresa} — probador virtual gratis para tu tienda`;\n\nreturn [{ \n  json: { \n    ...item,\n    _email_to: email,\n    _email_nombre: nombre,\n    _email_empresa: empresa,\n    _email_asunto: asunto,\n    _email_html: emailHtml,\n    _registro_url: registroUrl,\n    _skip: false\n  } \n}];"
      },
      "id": "prepare-email",
      "name": "🛠️ Code — Preparar email personalizado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-skip",
      "name": "🔍 ¿Email válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE clientes SET estado_lead = 'EMAIL_INVALIDO', ultimo_contacto = NOW(), notas = COALESCE(notas, '') || ' | Email inválido detectado por n8n ' || NOW()::date WHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "mark-invalid",
      "name": "🗄️ Supabase — Marcar email inválido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1560, 460],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase VirtualTryOn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $vars.BREVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": {\n    \"name\": \"Virtual Try-On | Pruébalo AI\",\n    \"email\": \"info@lookitry.com\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json._email_to }}\",\n      \"name\": \"{{ $json._email_empresa }}\"\n    }\n  ],\n  \"subject\": \"{{ $json._email_asunto }}\",\n  \"htmlContent\": {{ JSON.stringify($json._email_html) }},\n  \"headers\": {\n    \"X-Campaign-ID\": \"campana_fria_01\",\n    \"X-Lead-ID\": \"{{ $json.id }}\"\n  },\n  \"tags\": [\"campana_fria\", \"virtual_tryon\"]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-email-brevo",
      "name": "📧 Brevo — Enviar email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $response.statusCode }}",
              "operation": "equal",
              "value2": 201
            }
          ]
        }
      },
      "id": "check-sent",
      "name": "🔍 ¿Enviado OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE clientes SET campana_enviada = 'SI', fecha_campana = NOW(), estado_lead = 'CONTACTADO', ultimo_contacto = NOW() WHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "mark-sent",
      "name": "🗄️ Supabase — Marcar enviado ✅",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [2000, 140],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase VirtualTryOn"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE clientes SET estado_lead = 'ERROR_ENVIO', notas = COALESCE(notas, '') || ' | Error envío Brevo: ' || NOW()::date WHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "mark-error",
      "name": "🗄️ Supabase — Marcar error envío",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [2000, 280],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase VirtualTryOn"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-between",
      "name": "⏳ Esperar 2s (anti-spam)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 460],
      "webhookId": "wait-between-sends"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_WEBHOOK_STATS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"evento\": \"campana_diaria_completada\",\n  \"fecha\": \"{{ $now }}\",\n  \"enviados\": \"300\",\n  \"campana\": \"campana_fria_01\"\n}",
        "options": {}
      },
      "id": "notify-admin",
      "name": "📊 Notificar admin (opcional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 460]
    }
  ],
  "connections": {
    "⏰ Cron — Lunes a Viernes 9am": {
      "main": [[{ "node": "🗄️ Supabase — Obtener 300 leads", "type": "main", "index": 0 }]]
    },
    "🗄️ Supabase — Obtener 300 leads": {
      "main": [[{ "node": "🔍 ¿Hay leads pendientes?", "type": "main", "index": 0 }]]
    },
    "🔍 ¿Hay leads pendientes?": {
      "main": [
        [{ "node": "🔄 SplitInBatches — 1 por 1", "type": "main", "index": 0 }],
        [{ "node": "📋 Log — Sin leads pendientes", "type": "main", "index": 0 }]
      ]
    },
    "🔄 SplitInBatches — 1 por 1": {
      "main": [[{ "node": "🛠️ Code — Preparar email personalizado", "type": "main", "index": 0 }]]
    },
    "🛠️ Code — Preparar email personalizado": {
      "main": [[{ "node": "🔍 ¿Email válido?", "type": "main", "index": 0 }]]
    },
    "🔍 ¿Email válido?": {
      "main": [
        [{ "node": "🗄️ Supabase — Marcar email inválido", "type": "main", "index": 0 }],
        [{ "node": "📧 Brevo — Enviar email", "type": "main", "index": 0 }]
      ]
    },
    "📧 Brevo — Enviar email": {
      "main": [[{ "node": "🔍 ¿Enviado OK?", "type": "main", "index": 0 }]]
    },
    "🔍 ¿Enviado OK?": {
      "main": [
        [{ "node": "🗄️ Supabase — Marcar enviado ✅", "type": "main", "index": 0 }],
        [{ "node": "🗄️ Supabase — Marcar error envío", "type": "main", "index": 0 }]
      ]
    },
    "🗄️ Supabase — Marcar enviado ✅": {
      "main": [[{ "node": "⏳ Esperar 2s (anti-spam)", "type": "main", "index": 0 }]]
    },
    "🗄️ Supabase — Marcar error envío": {
      "main": [[{ "node": "⏳ Esperar 2s (anti-spam)", "type": "main", "index": 0 }]]
    },
    "🗄️ Supabase — Marcar email inválido": {
      "main": [[{ "node": "⏳ Esperar 2s (anti-spam)", "type": "main", "index": 0 }]]
    },
    "⏳ Esperar 2s (anti-spam)": {
      "main": [[{ "node": "📊 Notificar admin (opcional)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "last",
    "executionTimeout": 7200,
    "timezone": "America/Bogota"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "virtualtyon-campana-001"
  },
  "pinData": {},
  "versionId": "v1.0.0",
  "triggerCount": 1,
  "tags": [
    { "id": "marketing", "name": "marketing" },
    { "id": "email", "name": "email" },
    { "id": "campana", "name": "campana" }
  ]
}
