docs/n8n/workflows/flujo-blog.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROL\nEres el Director de Estrategia de Contenido para \"Lookitry\", la plataforma líder de probador virtual con IA en Latinoamérica (lookitry.com).\n\n# OBJETIVO\nGenerar un array de 15 ideas de temas para artículos de blog. Las ideas deben estar orientadas a la CONVERSIÓN (generar ventas del SaaS) y el POSICIONAMIENTO SEO. Deben despertar en el dueño de una tienda de moda (ecommerce) la necesidad imperativa de implementar un probador virtual para reducir devoluciones y aumentar ventas.\n\n# INSTRUCCIONES CLAVE\n1.  **Enfoque en ROI y Conversión:** Los temas deben abordar problemas reales de los ecommerce de moda: \"tasa de devolución alta\", \"baja conversión en fichas de producto\", \"falta de confianza del cliente al elegir talla\".\n2.  **Variedad de Formatos:** Genera una mezcla equilibrada de:\n    * `\"Tutorial Práctico\"`: Cómo implementar Lookitry o mejorar el SEO de una tienda de ropa.\n    * `\"Análisis de Negocio\"`: Datos sobre cómo la IA aumenta el ticket promedio.\n    * `\"Caso de Éxito/Inspiración\"`: Por qué las grandes marcas usan probadores virtuales.\n3.  **Ángulo de Venta Lookitry:** Cada tema debe posicionar a Lookitry como la solución definitiva. Ejemplo: \"Cómo reducir el 30% de tus devoluciones con IA\".\n4.  **Tags (Regla Estricta):** Usa un máximo de 3 tags por tema, seleccionados de esta lista o similares orientados a retail: `ecommerce moda`, `IA para ropa`, `probador virtual`, `vender más online`, `marketing para moda`, `shopify moda`, `woocommerce`, `tecnología retail`, `reducción de devoluciones`.\n\n# FORMATO DE SALIDA\nDevuelve ÚNICAMENTE un array JSON válido.\n- `tema`: El título atractivo.\n- `formato`: Uno de los tres tipos.\n- `palabras`: Keywords SEO de alta intención comercial.\n- `categoria`: Slug de la categoría (ej: 'ia', 'marketing', 'ecommerce').\n- `meta_descripcion`: Máximo 110 caracteres.\n- `tags`: Array de 1 a 3 tags.\n\n# EJEMPLO\n{\n  \"tema\": \"5 Razones por las que tu Tienda de Ropa pierde ventas sin un Probador Virtual\",\n  \"palabras\": \"probador virtual roral, aumentar ventas ecommerce moda\",\n  \"categoria\": \"ecommerce\",\n  \"tags\": [\"ecommerce moda\", \"probador virtual\"]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4336,
        4128
      ],
      "id": "817c3fe9-1fbd-4ce0-ad67-79da6ebd2013",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMonth"
            }
          ]
        }
      },
      "id": "a310e517-c170-436f-a0e9-f8f04cd2794a",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        4144,
        4128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4272,
        4368
      ],
      "id": "e933c9ac-fb11-49ef-a8b7-bb3c9822f7e4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "t38zPMWleOvlSpPc",
          "name": "Que movida cu"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "7JcERYGdRj0XYuYL",
          "mode": "list",
          "cachedResultName": "temas",
          "cachedResultUrl": "/projects/ZwHHlnZoKhyDqulQ/datatables/7JcERYGdRj0XYuYL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tema": "={{ $json.tema }}",
            "palabras": "={{ $json.palabras }}",
            "categoria": "={{ $json.categoria }}",
            "Meta_descripcion": "={{ $json.Meta_descripcion }}",
            "Tags": "={{ $json.Tags }}",
            "Estado": "Pendiente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tema",
              "displayName": "tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "palabras",
              "displayName": "palabras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta_descripcion",
              "displayName": "Meta_descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5024,
        4128
      ],
      "id": "6fcebdaf-844e-4525-ab4c-0e00273fe39c",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const inputItem of $input.all()) {\n  let ideas = inputItem.json.output || inputItem.json.content;\n  if (typeof ideas === 'string') {\n    ideas = ideas.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n    ideas = JSON.parse(ideas);\n  }\n  for (const idea of ideas) {\n    results.push({ json: { tema: idea.tema || '', palabras: idea.palabras || '', categoria: idea.categoria || '', Meta_descripcion: idea.meta_descripcion || idea.Meta_descripcion || '', tags: idea.tags || idea.Tags || [] } });\n  }\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        4128
      ],
      "id": "af08b839-8ac5-4b6d-92a8-d1ad889c0b0c",
      "name": "formatear"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, Estado: \"Pendiente\", Tags: Array.isArray(item.json.tags) ? item.json.tags.join(', ') : (item.json.tags || '') } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4848,
        4128
      ],
      "id": "39a1c9c4-b253-42ed-a50e-859bfa7074ed",
      "name": "traducir tags"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-blog-generation",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "30d43319-8be4-4c03-a0af-05847947cabb",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3232,
        3920
      ],
      "webhookId": "1270505d-fcc9-49ed-9360-018f97d71fbc",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lU8GncdQbT8nLleA",
          "name": "pruebalo.wilkiedevs"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "89348110-27ce-45f0-9e20-ec87cea96659",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        3760,
        4192
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "excerpt",
              "value": "={{ $json.excerpt }}"
            },
            {
              "name": "categories",
              "value": "14"
            },
            {
              "name": "Author",
              "value": "1"
            },
            {
              "name": "Tags",
              "value": "={{ $json.Tags }}"
            }
          ],
          "number": [
            {
              "name": "featured_media",
              "value": "={{ $json.featured_media }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6472a1f-0c22-4f3d-9594-30f09ff667f3",
      "name": "Prepare Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        7504,
        3888
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "7JcERYGdRj0XYuYL",
          "mode": "list",
          "cachedResultName": "temas",
          "cachedResultUrl": "/projects/ZwHHlnZoKhyDqulQ/datatables/7JcERYGdRj0XYuYL"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "publicado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tema",
              "displayName": "tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "palabras",
              "displayName": "palabras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Meta_descripcion",
              "displayName": "Meta_descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        8096,
        3888
      ],
      "id": "6d32cf8b-2fcc-4754-9504-afd0c96cc8e2",
      "name": "Actualizar tablas"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.item.json;\n\n// 1. Extraer el texto crudo de la respuesta de OpenRouter\nlet rawText = '';\nif (typeof source?.choices?.[0]?.message?.content === 'string') {\n  rawText = source.choices[0].message.content;\n} else if (Array.isArray(source?.choices?.[0]?.message?.content)) {\n  rawText = source.choices[0].message.content\n    .map((part) => (typeof part === 'string' ? part : part?.text || ''))\n    .join('');\n} else if (source?.content?.parts?.[0]?.text) {\n  rawText = source.content.parts[0].text;\n} else if (typeof source === 'string') {\n  rawText = source;\n} else {\n  rawText = JSON.stringify(source);\n}\n\n// 2. Limpiar markdown fences\nrawText = rawText\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/g, '')\n  .trim();\n\n// 3. Intentar parsear el JSON directamente primero\nlet parsed = null;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (_) {}\n\n// 4. Si falla, buscar el primer objeto JSON válido dentro del texto\nif (!parsed) {\n  function extractFirstJsonObject(text) {\n    const start = text.indexOf('{');\n    if (start === -1) return null;\n    let depth = 0, inString = false, escape = false;\n    for (let i = start; i < text.length; i++) {\n      const ch = text[i];\n      if (escape) { escape = false; continue; }\n      if (ch === '\\\\') { escape = true; continue; }\n      if (ch === '\"') { inString = !inString; continue; }\n      if (inString) continue;\n      if (ch === '{') depth++;\n      if (ch === '}') depth--;\n      if (depth === 0) return text.slice(start, i + 1);\n    }\n    return null;\n  }\n\n  const jsonString = extractFirstJsonObject(rawText);\n  if (!jsonString) {\n    throw new Error('No se encontró JSON válido. Respuesta: ' + rawText.substring(0, 700));\n  }\n  try {\n    parsed = JSON.parse(jsonString);\n  } catch (e) {\n    throw new Error('Parse fallido: ' + e.message + '. Texto: ' + rawText.substring(0, 700));\n  }\n}\n\n// 5. Validar que los campos críticos están presentes\nconst missing = ['title', 'excerpt', 'content'].filter(f => !parsed[f]);\nif (missing.length > 0) {\n  throw new Error(\n    `El modelo no devolvió los campos: ${missing.join(', ')}. ` +\n    `Respuesta parseada: ${JSON.stringify(parsed).substring(0, 500)}`\n  );\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7120,
        3888
      ],
      "id": "0ba3802e-be87-4e15-9ff7-69d38fc9f126",
      "name": "traductor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7309d54-d275-4146-9bee-f82c9298f9f5",
              "name": "Enlaces_Blogs",
              "value": "={{ $json.enlacesBlogs }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6592,
        3888
      ],
      "id": "8ba811ee-f56d-41af-b78a-daad9276a24e",
      "name": "Preparar contexto editorial"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://lookitry.com"
            },
            {
              "name": "X-Title",
              "value": "Lookitry Blog Automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: $json.openrouter_model || 'google/gemini-2.5-flash',\n  messages: [\n    {\n      role: 'user',\n      content: [\n        'Eres Lookitry Editorial. Escribe un articulo SEO people-first para ecommerce de moda.',\n        '',\n        '# DATOS DE ENTRADA',\n        '- Tema: ' + ($json.tema || ''),\n        '- Categoria: ' + ($json.categoria || 'ia'),\n        '- Keywords: ' + ($json.palabras || ''),\n        '- Meta descripcion: ' + ($json.meta_descripcion || $json.meta_description || ''),\n        '- Imagen destacada URL: ' + ($json.imagen_destacada_url || ''),\n        '- Imagen body1 URL: ' + ($json.imagen_body1_url || ''),\n        '- Imagen body2 URL: ' + ($json.imagen_body2_url || ''),\n        '',\n        '# OBJETIVO',\n        'Genera un articulo de 1200-1500 palabras, persuasivo, claro y orientado a conversion.',\n        'La estructura debe sentirse como un editorial premium de Lookitry, no como un post generico.',\n        '',\n        '# REGLAS CRITICAS',\n        '1. Devuelve SOLO un objeto JSON valido.',\n        '2. No uses markdown ni code fences.',\n        '3. No incluyas texto fuera del JSON.',\n        '4. NO incluyas el campo featured_media.',\n        '5. El campo content debe ser HTML completo en una sola linea.',\n        '6. Debes usar EXACTAMENTE dos imagenes dentro del HTML del articulo:',\n        '   - una figura usando ' + ($json.imagen_body1_url || ''),\n        '   - una segunda figura usando ' + ($json.imagen_body2_url || ''),\n        '7. La imagen destacada ' + ($json.imagen_destacada_url || '') + ' NO debe ir dentro del content; se usa como miniatura o hero externo.',\n        '8. No inventes categorias ni tags: el tema, categoria y keywords deben estar alineados entre si.',\n        '',\n        '# ESTRUCTURA HTML OBLIGATORIA',\n        '- <div data-blog-intro=\"lead\"> con un parrafo de apertura fuerte',\n        '- primer <h2> con un parrafo',\n        '- <section data-blog-block=\"impact\"> con subtitulo y lista o puntos concretos de impacto de negocio',\n        '- primer <figure> con la imagen body1 y <figcaption>',\n        '- segundo <h2> con 2 parrafos',\n        '- segundo <figure> con la imagen body2 y <figcaption>',\n        '- tercer <h2> con cierre',\n        '- <div data-blog-cta=\"final\"> con CTA final a https://lookitry.com/trial-checkout',\n        '',\n        '# ENFOQUE EDITORIAL',\n        '- La apertura debe parecerse a una pieza premium: directa, clara y con tension de negocio.',\n        '- El bloque de impacto debe verse consultivo y accionable.',\n        '- Las imagenes deben quedar integradas en momentos logicos del articulo.',\n        '- El CTA final debe cerrar la historia y empujar conversion.',\n        '',\n        '# FORMATO DE SALIDA',\n        '{',\n        '  \"title\": \"[Titulo SEO]\",',\n        '  \"content\": \"[HTML completo en una linea con la estructura pedida y las dos figuras indicadas]\",',\n        '  \"excerpt\": \"[Resumen enganchador]\"',\n        '}'\n      ].join('\\n')\n    }\n  ],\n  temperature: 0.2,\n  max_tokens: 3500,\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6848,
        3888
      ],
      "id": "4a991315-855e-45ee-ab46-d7d8b077fc82",
      "name": "redactor",
      "credentials": {
        "httpBearerAuth": {
          "id": "zfUV46xyt3CLaLh8",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst rawTags = data.tags || data.Tags || [];\nconst tagsArray = Array.isArray(rawTags)\n  ? rawTags.map(t => String(t || '').trim()).filter(Boolean)\n  : String(rawTags || '').split(',').map(t => t.trim()).filter(Boolean);\nconst categorySlug = String(data.categoria || data.category_slug || 'ia')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '') || 'ia';\nconst wpBody = { title: data.title, excerpt: data.excerpt, content: data.content, status: 'published', category_slug: categorySlug, tags: tagsArray, featured_image: data.imagen_destacada_url, meta_description: data.meta_description || data.meta_descripcion || data.excerpt.substring(0, 160) };\nreturn { json: { wpBody, ...data, tags: tagsArray, category_slug: categorySlug } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7696,
        3888
      ],
      "id": "9326afee-958b-49da-a8c9-663429326f48",
      "name": "Preparar JSON para Lookitry"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_live"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.wpBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7904,
        3888
      ],
      "id": "4e75b505-7e6c-4cc0-b957-e15eed7e8adb",
      "name": "Publicar en Lookitry"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.all()[0];\nlet content = item.json;\n\nif (typeof content === 'string') {\n  try {\n    content = JSON.parse(content);\n  } catch (e) {\n    throw new Error(`Parse error: ${e.message}`);\n  }\n}\n\nlet editorialContext = {};\ntry {\n  editorialContext = $('Preparar contexto editorial').first().json || {};\n} catch (e) {}\n\nif (!content.Tags) {\n  for (const i of $input.all()) {\n    if (i.json.Tags) {\n      content.Tags = i.json.Tags;\n      break;\n    }\n  }\n\n  if (!content.Tags && editorialContext.Tags) {\n    content.Tags = editorialContext.Tags;\n  }\n}\n\ncontent.categoria = content.categoria || editorialContext.categoria || 'ia';\ncontent.imagen_destacada_url = content.imagen_destacada_url || editorialContext.imagen_destacada_url || editorialContext.featured_image || '';\ncontent.imagen_body1_url = content.imagen_body1_url || editorialContext.imagen_body1_url || '';\ncontent.imagen_body2_url = content.imagen_body2_url || editorialContext.imagen_body2_url || '';\n\nconst missing = ['title', 'excerpt', 'content'].filter((f) => !content[f]);\nif (missing.length > 0) {\n  throw new Error(`Campos faltantes: ${missing.join(', ')}`);\n}\n\nif (!content.featured_media) content.featured_media = 1;\n\nif (!content.meta_description?.trim()) {\n  content.meta_description = editorialContext.meta_descripcion || content.excerpt.substring(0, 160);\n}\n\nif (content.excerpt?.length > 160) {\n  content.excerpt = content.excerpt.substring(0, 157) + '...';\n}\n\nif (content.meta_description?.length > 160) {\n  content.meta_description = content.meta_description.substring(0, 157) + '...';\n}\n\nreturn { json: content };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        3888
      ],
      "id": "038da26f-b2da-4372-b805-3ec2bd391cf7",
      "name": "Preparador"
    },
    {
      "parameters": {
        "url": "https://lookitry.com/api/blog",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6016,
        3584
      ],
      "id": "aa1ec3d2-cfc3-4dc9-89c0-2e6d54bbf3fd",
      "name": "conseguir Blogs"
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\nconst source = rawItems.length === 1 && Array.isArray(rawItems[0].json?.data) ? rawItems[0].json.data : rawItems.map(i => i.json);\nconst enlacesBlogs = source.map(post => ({ titulo: post.title, url: `https://lookitry.com/blog/${post.slug}` }));\nreturn [{ json: { enlacesBlogs } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6176,
        3584
      ],
      "id": "185fdf67-6cf9-4fc6-afcf-db37c5ffdc26",
      "name": "conseguir link blogs"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6176,
        3872
      ],
      "id": "fa1463db-cfd2-46fa-b454-6f3ff7911218",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst datosFinales = {};\nconst t = allItems.find(i => i.json.tema && i.json.palabras);\nif (t) Object.keys(t.json).forEach(k => { datosFinales[k] = t.json[k]; });\nconst img = allItems.find(i => i.json.imagen_destacada);\nif (img) {\n  ['imagen_destacada','imagen_body1','imagen_body2'].forEach(k => {\n    datosFinales[k] = img.json[k];\n    datosFinales[`${k}_url`] = img.json[k]?.url;\n    datosFinales[`${k}_id`] = img.json[k]?.id;\n  });\n}\nconst e = allItems.find(i => Array.isArray(i.json.enlacesBlogs));\nif (e) datosFinales.enlacesBlogs = e.json.enlacesBlogs;\nif (datosFinales.Tags) {\n  if (typeof datosFinales.Tags === 'string') datosFinales.Tags = datosFinales.Tags.split(',').map(t => t.trim()).filter(Boolean);\n  else if (Array.isArray(datosFinales.Tags)) datosFinales.Tags = datosFinales.Tags.filter(Boolean);\n}\nreturn [{ json: datosFinales }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6384,
        3888
      ],
      "id": "a7d54eaf-d2ef-4528-89c8-19dcb1a08f75",
      "name": "Obtener Info"
    },
    {
      "parameters": {
        "jsCode": "const imgs = $input.first().json;\nconst orig = $('Obtener Temas').first().json;\nreturn { json: { tema: orig.tema, palabras: orig.palabras, categoria: orig.categoria || 'ia', meta_descripcion: orig.Meta_descripcion || orig.meta_descripcion || '', Tags: orig.Tags || orig.tags || [], imagen_destacada_url: imgs.imagen_destacada.url, imagen_destacada_id: imgs.imagen_destacada.id, imagen_body1_url: imgs.imagen_body1.url, imagen_body1_id: imgs.imagen_body1.id, imagen_body2_url: imgs.imagen_body2.url, imagen_body2_id: imgs.imagen_body2.id } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5824,
        3584
      ],
      "id": "6f40b929-010f-44ee-a75d-8cc7aaa4f0b1",
      "name": "recuperar datos"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().sort((a, b) => (a.json.orden || 0) - (b.json.orden || 0));\nif (items.length < 3) {\n  throw new Error(`Filtrado recibi? ${items.length} im?genes; se esperaban 3.`);\n}\nconst mapImg = (item) => ({ id: item?.json?.id, url: item?.json?.file_url || item?.json?.url || item?.json?.source_url || null });\nreturn [{ json: { imagen_destacada: mapImg(items[0]), imagen_body1: mapImg(items[1]), imagen_body2: mapImg(items[2]) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5824,
        3168
      ],
      "id": "efd924db-3fb9-437e-b607-40e4cb41028d",
      "name": "Filtrado"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres el director de arte de Lookitry Editorial. Debes generar prompts de imagen editoriales que sí representen el tema elegido, no imágenes genéricas.\\n\\nIDENTIDAD VISUAL DE LOOKITRY:\\n- Paleta guía: naranja principal (#FF5C3A), blanco, negro, grises tecnológicos.\\n- Estilo: editorial premium, ecommerce de moda, tecnología aplicada a retail, fotografía realista.\\n\\nDATOS DEL ARTÍCULO:\\n- Tema: \\\"{{ $('Obtener Temas').first().json.tema }}\\\"\\n- Categoría: \\\"{{ $('Obtener Temas').first().json.categoria || 'ia' }}\\\"\\n- Keywords: \\\"{{ $('Obtener Temas').first().json.palabras || '' }}\\\"\\n\\nREGLAS GENERALES:\\n- Todas las imágenes deben ser horizontales 16:9, fotorrealistas, sin texto, sin logos, sin marcas de agua.\\n- Si aparecen personas: manos correctas, anatomía natural, ropa coherente, iluminación profesional.\\n- Cada prompt debe mostrar una escena distinta y útil para ese slot del artículo.\\n- Evita imágenes abstractas si el tema pide negocio, ecommerce, devoluciones, conversión, tallas o experiencia de compra.\\n- Prioriza escenas que expliquen visualmente el problema o la solución del tema.",
              "role": "model"
            },
            {
              "content": "=Transform the following blog topic into THREE distinct image prompts in English. Return ONLY in this exact format:\\n\\n(A) [First prompt here]\\n(B) [Second prompt here]\\n(C) [Third prompt here]\\n\\nTopic: \\\"{{ $('Obtener Temas').item.json.tema }}\\\"\\nCategory: \\\"{{ $('Obtener Temas').item.json.categoria || 'ia' }}\\\"\\nKeywords: \\\"{{ $('Obtener Temas').item.json.palabras || '' }}\\\"\\n\\nPrompt goals by slot:\\n(A) Featured image: create the main editorial hero for the article's central promise or tension.\\n(B) Body image 1: illustrate the pain point, friction, cost, returns problem, sizing issue, or business impact described in the article.\\n(C) Body image 2: illustrate the solution, implementation, virtual try-on experience, AI recommendation flow, or positive outcome.\\n\\nEnsure each prompt is specific to the topic, includes fashion ecommerce context when relevant, and feels like a premium magazine-style campaign image.\\nReturn EXACTLY three lines and nothing else:\\n(A) ...\\n(B) ...\\n(C) ...\\nDo not add intro text, explanations, markdown, bullets, or code fences.\n"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 250
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3712,
        3264
      ],
      "id": "3115a4f2-0ec9-4947-b92a-4d2287b3a98e",
      "name": "mejorar prompt",
      "credentials": {
        "googlePalmApi": {
          "id": "ZYbXBAz7cxAnp7Co",
          "name": "samu.wilkie"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $input.first()?.json?.content?.parts?.[0]?.text ||\n  $input.first()?.json?.choices?.[0]?.message?.content ||\n  $input.first()?.json?.text ||\n  '';\n\nif (!raw || typeof raw !== 'string') {\n  throw new Error('El nodo generador no devolvió texto utilizable para extraer prompts.');\n}\n\nconst text = raw.replace(/\\r/g, '').trim();\n\nfunction cleanPrompt(value) {\n  return (value || '')\n    .replace(/^[\"'`]+|[\"'`]+$/g, '')\n    .replace(/\\n+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction extractLabeled(label, nextLabels = []) {\n  const nextPart = nextLabels.length ? `(?=\\\\(${nextLabels.join('|')}\\\\)|$)` : '$';\n  const regex = new RegExp(`\\\\(${label}\\\\)\\\\s*([\\\\s\\\\S]+?)${nextPart}`, 'i');\n  return cleanPrompt(text.match(regex)?.[1] || '');\n}\n\nlet promptA = extractLabeled('A', ['B', 'C']);\nlet promptB = extractLabeled('B', ['C']);\nlet promptC = extractLabeled('C', []);\n\nconst bulletLines = text\n  .split('\\n')\n  .map((line) => cleanPrompt(line.replace(/^[-*•\\d.)\\s]+/, '')))\n  .filter(Boolean);\n\nif (!promptA && bulletLines[0]) promptA = bulletLines[0];\nif (!promptB && bulletLines[1]) promptB = bulletLines[1];\nif (!promptC && bulletLines[2]) promptC = bulletLines[2];\n\n// Fallback: si solo llegó un prompt válido, derivar variantes sin romper el flujo\nif (promptA && !promptB) {\n  promptB = `${promptA}, editorial lifestyle scene, supporting in-article visual, different composition`;\n}\nif (promptA && !promptC) {\n  promptC = `${promptA}, secondary supporting visual, alternate camera angle, contextual ecommerce detail`;\n}\n\n// Si no vino A, intentar usar cualquier texto completo razonable\nif (!promptA && text.length > 20) {\n  promptA = cleanPrompt(text);\n  promptB = promptB || `${promptA}, editorial lifestyle scene, supporting in-article visual`;\n  promptC = promptC || `${promptA}, alternate composition, ecommerce context`;\n}\n\nif (!promptA || !promptB || !promptC) {\n  throw new Error(\n    `Prompts no extraídos. A:${!!promptA} B:${!!promptB} C:${!!promptC}. Texto recibido: ${text.substring(0, 800)}`\n  );\n}\n\nreturn [\n  {\n    json: {\n      prompt: promptA,\n      tipo: 'destacada',\n      orden: 1,\n    },\n  },\n  {\n    json: {\n      prompt: promptB,\n      tipo: 'body1',\n      orden: 2,\n    },\n  },\n  {\n    json: {\n      prompt: promptC,\n      tipo: 'body2',\n      orden: 3,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        3264
      ],
      "id": "7a75ccd0-453b-4c42-b29b-4e8a2cad36e0",
      "name": "Extraer Prompts"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "7JcERYGdRj0XYuYL",
          "mode": "list",
          "cachedResultName": "temas",
          "cachedResultUrl": "/projects/ZwHHlnZoKhyDqulQ/datatables/7JcERYGdRj0XYuYL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Estado",
              "keyValue": "Pendiente"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3760,
        3920
      ],
      "id": "1bf82a66-709d-4cba-810e-ff71aab3d050",
      "name": "Obtener Temas"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": true,
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "bbd49596-5cf5-449d-93ab-6cf6d90b4bde"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Replicate (Testing)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "920381c6-aa55-4da9-8682-46db9d432346",
                    "leftValue": false,
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OpenRouter (Produccion)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4320,
        3552
      ],
      "id": "0fd62e42-8ca8-48e7-84af-768f08864285",
      "name": "tester"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED-SECRET***"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait=10"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"png\",\n    \"output_quality\": 90,\n    \"num_inference_steps\": 4,\n    \"go_fast\": true,\n    \"megapixels\": \"1\"\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4656,
        3360
      ],
      "id": "429e9c24-0de7-4bce-81b8-1451f87d0425",
      "name": "Replicate FLUX Schnell"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst currentItem = $('Loop Imagenes Replicate').first().json;\nconst token = '***REMOVED-SECRET***';\n\nasync function sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nasync function getPrediction(url) {\n  const res = await fetch(url, {\n    headers: {\n      Authorization: `Bearer ${token}`,\n      'Content-Type': 'application/json',\n    },\n  });\n\n  if (!res.ok) {\n    const body = await res.text();\n    throw new Error(`Replicate lookup failed (${res.status}): ${body}`);\n  }\n\n  return await res.json();\n}\n\nasync function resolvePrediction(prediction) {\n  let current = prediction;\n\n  for (let i = 0; i < 24; i++) {\n    if (current?.error) {\n      throw new Error(`Replicate error en ${currentItem.tipo}: ${current.error}`);\n    }\n\n    if (current?.status === 'failed' || current?.status === 'canceled') {\n      throw new Error(`Replicate termin? en ${current.status}. ID: ${current.id}`);\n    }\n\n    if (current?.status === 'succeeded' && current?.output) {\n      const imageUrl = Array.isArray(current.output) ? current.output[0] : current.output;\n      return [{\n        json: {\n          ...currentItem,\n          imageUrl,\n          predictionId: current.id,\n          predictionStatus: current.status,\n        },\n      }];\n    }\n\n    const pollUrl = current?.urls?.get;\n    if (!pollUrl) {\n      throw new Error(`Replicate no devolvi? output ni poll URL. Status: ${current?.status || 'unknown'}`);\n    }\n\n    await sleep(5000);\n    current = await getPrediction(pollUrl);\n  }\n\n  throw new Error(`Replicate no termin? a tiempo para ${currentItem.tipo}`);\n}\n\nreturn await resolvePrediction(response);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        3360
      ],
      "id": "08356892-88f6-4247-98e5-f67fcdf5e504",
      "name": "Replicate - Extraer URL"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5072,
        3360
      ],
      "id": "bfcd2159-f878-458f-8893-29e17292d467",
      "name": "Replicate - Descargar PNG"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst tipo = item.json.tipo || 'imagen';\nconst orden = item.json.orden || 1;\n\nif (item.binary?.data) {\n  item.binary.data.fileName = `${tipo}.png`;\n  item.binary.data.mimeType = 'image/png';\n}\n\nreturn {\n  json: {\n    ...item.json,\n    tipo,\n    orden,\n  },\n  binary: item.binary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        3360
      ],
      "id": "b0be0471-0a28-4729-84ef-92f0d2eb2f22",
      "name": "renombrar Replicate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_live"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "filename",
              "value": "={{ $('renombrar Replicate').item.binary.data.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5536,
        3360
      ],
      "id": "f2c56ed9-81f1-42c8-9b3b-33c58a7d1dda",
      "name": "Uploader Replicate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-5-image-mini\",\n  \"messages\": [{ \"role\": \"user\", \"content\": \"{{ $json.prompt.replace(/\\\"/g, '\\\\\\\"') }}\" }],\n  \"image_generation\": { \"n\": 1, \"size\": \"1792x1024\", \"output_format\": \"png\", \"quality\": \"hd\", \"style\": \"natural\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4656,
        3744
      ],
      "id": "c01f8043-6967-46fb-9b04-d3c549da041e",
      "name": "OpenRouter",
      "credentials": {
        "httpBearerAuth": {
          "id": "zfUV46xyt3CLaLh8",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\nconst inputData = $('Extraer Prompts').item.json;\nif (response.error) throw new Error(`Error OpenRouter '${inputData.tipo}': ${response.error.message}`);\nconst url = response.choices?.[0]?.message?.images?.[0]?.image_url?.url;\nif (!url) { console.log('Respuesta:', JSON.stringify(response, null, 2)); throw new Error(`No hay URL de imagen para '${inputData.tipo}'.`); }\nconst base64Data = url.split('base64,')[1];\nif (!base64Data) throw new Error(`No se pudo extraer base64 para '${inputData.tipo}'.`);\nconsole.log(`✓ OpenRouter ${inputData.tipo}: ${base64Data.length} chars`);\nreturn { json: { ...inputData, base64: base64Data } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        3744
      ],
      "id": "994c5248-17b3-4824-86b0-3f8b0a9bb0a9",
      "name": "extraer imagenes"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=data",
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        5088,
        3744
      ],
      "id": "aeeb3ace-e79c-4087-a4e1-b6ab8e2570a2",
      "name": "Traductor"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://image-converter:3000/convert-to-webp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        3744
      ],
      "id": "b82471d3-26d1-438a-bd4f-96f4c43a641e",
      "name": "convert to WEBP"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst itemIndex = $itemIndex;\nlet tipo, orden;\ntry { const d = $('Extraer Prompts').all()[itemIndex]?.json; if (d?.tipo) { tipo = d.tipo; orden = d.orden; } } catch(e) {}\nif (!tipo) { tipo = item.json.tipo || 'imagen'; orden = item.json.orden || itemIndex + 1; }\nif (item.binary?.data) { item.binary.data.fileName = `${tipo}.webp`; item.binary.data.mimeType = 'image/webp'; }\nconsole.log(`OpenRouter renombrado: ${tipo}.webp`);\nreturn { json: { ...item.json, tipo, orden }, binary: item.binary };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        3744
      ],
      "id": "3173095e-ede9-4e45-9db1-7ff63def5f68",
      "name": "renombrar OpenRouter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-blog-secret",
              "value": "Travis2305**_blog_live"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "filename",
              "value": "={{ $('renombrar OpenRouter').item.binary.data.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5808,
        3856
      ],
      "id": "8db36675-845b-43de-982a-d4077b31a79b",
      "name": "Uploader OpenRouter"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c71bdcb-9cab-4704-a230-609faf8a6fde",
      "name": "Loop Imagenes Replicate",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4288,
        3184
      ]
    },
    {
      "parameters": {
        "amount": 12
      },
      "id": "9633150f-9a42-4e36-b515-d585fb4c5253",
      "name": "Wait Replicate 12s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5824,
        3360
      ],
      "webhookId": "ed6ce2ba-d14a-45fe-b7b3-a53e3008aea5"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "formatear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "formatear": {
      "main": [
        [
          {
            "node": "traducir tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "traducir tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Obtener Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post": {
      "main": [
        [
          {
            "node": "Preparar JSON para Lookitry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "traductor": {
      "main": [
        [
          {
            "node": "Preparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto editorial": {
      "main": [
        [
          {
            "node": "redactor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redactor": {
      "main": [
        [
          {
            "node": "traductor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar JSON para Lookitry": {
      "main": [
        [
          {
            "node": "Publicar en Lookitry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar en Lookitry": {
      "main": [
        [
          {
            "node": "Actualizar tablas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparador": {
      "main": [
        [
          {
            "node": "Prepare Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conseguir Blogs": {
      "main": [
        [
          {
            "node": "conseguir link blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conseguir link blogs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Obtener Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Info": {
      "main": [
        [
          {
            "node": "Preparar contexto editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recuperar datos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "conseguir Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrado": {
      "main": [
        [
          {
            "node": "recuperar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mejorar prompt": {
      "main": [
        [
          {
            "node": "Extraer Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Prompts": {
      "main": [
        [
          {
            "node": "Loop Imagenes Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Temas": {
      "main": [
        [
          {
            "node": "mejorar prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "tester": {
      "main": [
        [
          {
            "node": "Replicate FLUX Schnell",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate FLUX Schnell": {
      "main": [
        [
          {
            "node": "Replicate - Extraer URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate - Extraer URL": {
      "main": [
        [
          {
            "node": "Replicate - Descargar PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate - Descargar PNG": {
      "main": [
        [
          {
            "node": "renombrar Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "renombrar Replicate": {
      "main": [
        [
          {
            "node": "Uploader Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploader Replicate": {
      "main": [
        [
          {
            "node": "Wait Replicate 12s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "main": [
        [
          {
            "node": "extraer imagenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer imagenes": {
      "main": [
        [
          {
            "node": "Traductor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traductor": {
      "main": [
        [
          {
            "node": "convert to WEBP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert to WEBP": {
      "main": [
        [
          {
            "node": "renombrar OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "renombrar OpenRouter": {
      "main": [
        [
          {
            "node": "Uploader OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploader OpenRouter": {
      "main": [
        [
          {
            "node": "Wait Replicate 12s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Imagenes Replicate": {
      "main": [
        [
          {
            "node": "Filtrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Replicate 12s": {
      "main": [
        [
          {
            "node": "Loop Imagenes Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook Trigger": [
      {
        "headers": {
          "host": "n8n.wilkiedevs.com",
          "user-agent": "axios/1.13.6",
          "content-length": "97",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "181.234.173.255",
          "x-forwarded-host": "n8n.wilkiedevs.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "05d31d08392c",
          "x-n8n-secret": "Travis2305**_blog_n8n",
          "x-real-ip": "181.234.173.255"
        },
        "params": {},
        "query": {},
        "body": {
          "triggered_by": "admin_manual",
          "openrouter_model": "openrouter/free",
          "image_provider": "replicate"
        },
        "webhookUrl": "https://n8n.wilkiedevs.com/webhook/trigger-blog-generation",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
  }
}