docs/n8n/workflows/notebooklm-drive-sync-workflow.json
{
  "name": "Lookitry - NotebookLM Google Drive Sync",
  "description": "Recibe archivos .md y los sincroniza a Google Drive para NotebookLM. Se ejecuta via webhook.",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook - Recibir archivos",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "notebooklm-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2,
      "webhookId": "notebooklm-sync"
    },
    {
      "id": "parse-input",
      "name": "Parsear entrada",
      "type": "n8n-nodes-base.code",
      "position": [470, 300],
      "parameters": {
        "jsCode": "// Parsear entrada del webhook\nconst body = $input.first().json.body ?? $input.first().json;\n\n// El script sync_project_knowledge.py envía archivos directamente\nconst files = Array.isArray(body.files) ? body.files : [body];\n\nconst processed = files.map(f => ({\n  file_name: f.file_name || f.file_path?.split('/').pop() || 'unknown.md',\n  file_path: f.file_path || f.file_name || '',\n  content: f.content || '',\n  commit_sha: f.commit_sha || f.version || new Date().toISOString()\n})).filter(f => f.content);\n\nif (processed.length === 0) {\n  throw new Error('No se proporcionaron archivos con contenido');\n}\n\nreturn processed.map(f => ({ json: f }));"
      },
      "typeVersion": 2
    },
    {
      "id": "filter-md",
      "name": "Filtrar archivos .md",
      "type": "n8n-nodes-base.if",
      "position": [690, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "md-check",
              "parameter1": "{{ $json.file_name }}",
              "parameter2": "",
              "type": "string",
              "operation": "endsWith",
              "value": ".md"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "prepare-file",
      "name": "Preparar archivo para Drive",
      "type": "n8n-nodes-base.code",
      "position": [910, 300],
      "parameters": {
        "jsCode": "// Preparar metadata y contenido para Google Drive\nconst data = $input.first().json;\n\n// Crear nombre de archivo con timestamp para evitar duplicados\nconst timestamp = data.commit_sha?.substring(0, 7) || new Date().toISOString().split('T')[0];\nconst baseName = data.file_name.replace('.md', '');\nconst fileName = `${baseName}_${timestamp}.md`;\n\nreturn [{ json: {\n  file_name: fileName,\n  original_name: data.file_name,\n  content: data.content,\n  mimeType: 'text/markdown',\n  description: `Lookitry docs - Commit: ${data.commit_sha}`\n} }];"
      },
      "typeVersion": 2
    },
    {
      "id": "gdrive-upload",
      "name": "Google Drive - Crear archivo",
      "type": "n8n-nodes-base.google.assistant",
      "position": [1130, 300],
      "parameters": {
        "operation": "create",
        "fileName": "={{ $json.file_name }}",
        "fileContent": "={{ $json.content }}",
        "folder": "={{ $env.GDRIVE_NOTEBOOKLM_FOLDER_ID || '0' }}",
        "options": {
          "mimeType": "={{ $json.mimeType }}"
        }
      }
    },
    {
      "id": "log-success",
      "name": "Log éxito",
      "type": "n8n-nodes-base.noOp",
      "position": [1350, 300],
      "parameters": {
        "jsCode": "// Log éxito\nconst data = $input.first().json;\nconsole.log('Archivo sincronizado:', data.file_name);"
      }
    },
    {
      "id": "log-skipped",
      "name": "Log omitido",
      "type": "n8n-nodes-base.noOp",
      "position": [910, 500],
      "parameters": {
        "jsCode": "// Log omitido\nconsole.log('Archivo omitido (no es .md):', $input.first().json.file_name);"
      }
    },
    {
      "id": "respond-success",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1570, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"synced_count\": 1, \"timestamp\": new Date().toISOString() }"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook - Recibir archivos": { "main": [[{ "node": "Parsear entrada", "type": "main", "index": 0 }]] },
    "Parsear entrada": { "main": [[{ "node": "Filtrar archivos .md", "type": "main", "index": 0 }]] },
    "Filtrar archivos .md": {
      "main": [
        [{ "node": "Preparar archivo para Drive", "type": "main", "index": 0 }],
        [{ "node": "Log omitido", "type": "main", "index": 0 }]
      ]
    },
    "Preparar archivo para Drive": { "main": [[{ "node": "Google Drive - Crear archivo", "type": "main", "index": 0 }]] },
    "Google Drive - Crear archivo": { "main": [[{ "node": "Log éxito", "type": "main", "index": 0 }]] },
    "Log éxito": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [{ "name": "SaaS" }]
}
