docs/n8n/workflows/notebooklm-drive-sync-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notebooklm-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fa0d28a3-bfa1-4d51-ab17-93a25f9d79d3",
      "name": "Webhook - Recibir archivos",
      "type": "n8n-nodes-base.webhook",
      "position": [
        288,
        -16
      ],
      "typeVersion": 2,
      "webhookId": "notebooklm-sync"
    },
    {
      "parameters": {
        "jsCode": "// Parsear entrada del webhook\nconst body = $input.first().json.body ?? $input.first().json;\n\n// El script sync_project_knowledge.py envía archivos directamente\nconst files = Array.isArray(body.files) ? body.files : [body];\n\nconst processed = files.map(f => ({\n  file_name: f.file_name || f.file_path?.split('/').pop() || 'unknown.md',\n  file_path: f.file_path || f.file_name || '',\n  content: f.content || '',\n  commit_sha: f.commit_sha || f.version || new Date().toISOString()\n})).filter(f => f.content);\n\nif (processed.length === 0) {\n  throw new Error('No se proporcionaron archivos con contenido');\n}\n\nreturn processed.map(f => ({ json: f }));"
      },
      "id": "e101884c-c559-4182-a705-025606bf83f2",
      "name": "Parsear entrada",
      "type": "n8n-nodes-base.code",
      "position": [
        496,
        -16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "md-check",
              "parameter1": "{{ $json.file_name }}",
              "parameter2": "",
              "type": "string",
              "operation": "endsWith",
              "value": ".md"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71c5dec6-5006-4f70-8999-f68312ed3d3b",
      "name": "Filtrar archivos .md",
      "type": "n8n-nodes-base.if",
      "position": [
        736,
        -16
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "// Preparar metadata y contenido para Google Drive\nconst data = $input.first().json;\n\n// Crear nombre de archivo con timestamp para evitar duplicados\nconst timestamp = data.commit_sha?.substring(0, 7) || new Date().toISOString().split('T')[0];\nconst baseName = data.file_name.replace('.md', '');\nconst fileName = `${baseName}_${timestamp}.md`;\n\nreturn [{ json: {\n  file_name: fileName,\n  original_name: data.file_name,\n  content: data.content,\n  mimeType: 'text/markdown',\n  description: `Lookitry docs - Commit: ${data.commit_sha}`\n} }];"
      },
      "id": "75ef586e-73c8-420b-a116-3cb66f70f2d0",
      "name": "Preparar archivo para Drive",
      "type": "n8n-nodes-base.code",
      "position": [
        960,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "b41c5c2b-cb62-4893-a427-3ddab2c4386f",
      "name": "Log éxito",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1392,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b2ecc2a0-ed89-41b3-86d2-c68808e24cdc",
      "name": "Log omitido",
      "type": "n8n-nodes-base.noOp",
      "position": [
        928,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"synced_count\": 1, \"timestamp\": new Date().toISOString() }",
        "options": {}
      },
      "id": "f23f610d-a15d-4797-9c18-e23a8b09033c",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1616,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "createFromText",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1184,
        -32
      ],
      "id": "46c11766-b471-4339-9f02-d2e431fc4387",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3JCkh9uFiAjVVrRA",
          "name": "Samwilkiedevs"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Recibir archivos": {
      "main": [
        [
          {
            "node": "Parsear entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear entrada": {
      "main": [
        [
          {
            "node": "Filtrar archivos .md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar archivos .md": {
      "main": [
        [
          {
            "node": "Preparar archivo para Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log omitido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar archivo para Drive": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log éxito": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Log éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
  }
}
