docs/n8n/workflows/project-knowledge-rag-workflow.json
{
  "name": "Project Knowledge RAG (Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-knowledge-rag",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "project-knowledge-rag"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// Validate & Prepare Documentation\n// =============================================\nconst body = $input.first().json.body ?? $input.first().json;\n\nconst fileName = body.file_name;\nconst filePath = body.file_path || body.file_name;\nconst content = body.content;\nconst version = body.version;\nconst timestamp = body.timestamp;\n\nif (!fileName) throw new Error('Missing required field: file_name');\nif (!content) throw new Error('Missing required field: content');\n\nlet docType = 'OTHER';\nconst upperFileName = fileName.toUpperCase();\nif (upperFileName.includes('PRD')) docType = 'PRD';\nelse if (upperFileName.includes('DESIGN')) docType = 'DESIGN';\nelse if (upperFileName.includes('TECH_STACK')) docType = 'TECH_STACK';\nelse if (upperFileName.includes('REGLAS')) docType = 'REGLAS';\nelse if (upperFileName.includes('CHANGELOG')) docType = 'CHANGELOG';\n\nconst crypto = require('crypto');\nconst contentHash = crypto.createHash('sha256').update(content).digest('hex');\n\n\nconst maxChars = 30000;\nlet embedText = content;\nif (embedText.length > maxChars) {\n  const chunkSize = Math.floor(maxChars / 2);\n  embedText = embedText.substring(0, chunkSize) + '\\n\\n...[truncated]...\\n\\n' + embedText.substring(embedText.length - chunkSize);\n}\n\nconst enrichedContent = `[${docType}] ${fileName}\\n\\n${embedText}`;\n\nreturn [{ json: {\n  file_name: fileName,\n  file_path: filePath,\n  content: content,\n  content_hash: contentHash,\n  version: version,\n  doc_type: docType,\n  enriched_content: enrichedContent\n} }];"
      },
      "id": "validate-prepare",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://vkdooutklowctuudjnkl.supabase.co/rest/v1/project_knowledge",
        "queryParameters": {
          "parameters": [
            { "name": "file_path", "value": "eq.{{ $json.file_path }}" },
            { "name": "select", "value": "id,content_hash" }
          ]
        },
        "options": { "timeout": 10000 },
        "headers": {
          "values": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      },
      "id": "check-existing",
      "name": "Check Existing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "hash-compare",
              "leftValue": "={{ $json.content_hash }}",
              "rightValue": "={{ $('Check Existing').first().json.content_hash }}",
              "operator": { "type": "different", "operation": "notEqual" }
            }
          ]
        },
        "options": {}
      },
      "id": "hash-changed-check",
      "name": "Hash Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key={{ $env.GEMINI_API_KEY }}",
        "body": {
          "model": "models/gemini-embedding-001",
          "content": { "parts": [{ "text": "={{ $json.enriched_content }}" }] },
          "taskType": "RETRIEVAL_DOCUMENT",
          "outputDimensionality": 768
        },
        "options": { "timeout": 60000 },
        "headers": { "values": [{ "name": "Content-Type", "value": "application/json" }] }
      },
      "id": "gemini-embedding",
      "name": "Gemini Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [980, 220]
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// Extract Embedding from Gemini Response\n// =============================================\nconst response = $input.first().json;\nconst embedding = response.embedding?.values || [];\n\nif (!Array.isArray(embedding) || embedding.length === 0) {\n  throw new Error('Gemini did not return valid embedding');\n}\n\nconst preparedData = $('Validate & Prepare').first().json;\nreturn [{ json: { ...preparedData, embedding: embedding } }];"
      },
      "id": "extract-embedding",
      "name": "Extract Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://vkdooutklowctuudjnkl.supabase.co/rest/v1/rpc/upsert_project_knowledge",
        "body": {
          "p_file_name": "={{ $json.file_name }}",
          "p_file_path": "={{ $json.file_path }}",
          "p_content": "={{ $json.content }}",
          "p_content_hash": "={{ $json.content_hash }}",
          "p_embedding": "={{ $json.embedding }}",
          "p_version": "={{ $json.version }}",
          "p_doc_type": "={{ $json.doc_type }}"
        },
        "options": { "timeout": 30000 },
        "headers": {
          "values": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        }
      },
      "id": "upsert-supabase",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1420, 220]
    },
    {
      "parameters": {
        "respondWith": {
          "responseBody": "={{ { \"status\": \"success\", \"file_name\": $json.file_name, \"doc_type\": $json.doc_type, \"dimensions\": $json.embedding?.length } }}"
        },
        "options": { "responseStatusCode": 200 }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 220]
    },
    {
      "parameters": {
        "respondWith": {
          "responseBody": "={{ { \"status\": \"skipped\", \"file_name\": $json.file_name, \"message\": \"Content unchanged\" } }}"
        },
        "options": { "responseStatusCode": 200 }
      },
      "id": "respond-skipped",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 480]
    },
    {
      "parameters": {
        "respondWith": {
          "responseBody": "={{ { \"status\": \"error\", \"message\": \"Failed to process document\" } }}"
        },
        "options": { "responseStatusCode": 500 }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate & Prepare", "type": "main", "index": 0 }]] },
    "Validate & Prepare": { "main": [[{ "node": "Check Existing", "type": "main", "index": 0 }]] },
    "Check Existing": { "main": [[{ "node": "Hash Changed?", "type": "main", "index": 0 }]] },
    "Hash Changed?": {
      "main": [
        [{ "node": "Gemini Embedding", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Embedding": { "main": [[{ "node": "Extract Embedding", "type": "main", "index": 0 }]] },
    "Extract Embedding": { "main": [[{ "node": "Upsert to Supabase", "type": "main", "index": 0 }]] },
    "Upsert to Supabase": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota"
  },
  "staticData": null,
  "tags": ["SaaS", "RAG", "embeddings", "Gemini"]
}
