docs/blog/IMAGE_GENERATOR_FINAL.json
{
  "name": "Lookitry Blog Images - FIXED Native Polling",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "lookitry-blog-images-v7",
        "options": {}
      }
    },
    {
      "id": "input",
      "name": "Preparar Imágenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json?.body || $input.first().json || {};\nconst topic_id = String(body.topic_id || '');\nconst title = body.title || 'Fashion Article';\nconst category = body.category_slug || 'moda-y-estilo';\n\n// Si el Article Producer envió image_prompts, usarlos\n// Si no, generar prompts por defecto según categoría\nif (body.image_prompts && Array.isArray(body.image_prompts) && body.image_prompts.length > 0) {\n  return body.image_prompts.map(ip => ({\n    json: {\n      tipo: ip.position,\n      prompt: ip.prompt,\n      topic_id: topic_id,\n      title: title\n    }\n  }));\n}\n\n// Prompts por defecto\nconst ctxMap = {\n  'ecommerce': 'Colombian ecommerce fashion',\n  'ia': 'AI technology and fashion innovation',\n  'moda-y-estilo': 'Colombian fashion and lifestyle',\n  'negocios-y-saas': 'business technology SaaS'\n};\nconst ctx = ctxMap[category] || ctxMap['moda-y-estilo'];\n\nreturn [\n  { json: { tipo: 'hero', prompt: `Cinematic editorial fashion photo: ${title}. ${ctx}. Studio lighting, professional model, ultra-realistic.`, topic_id, title } },\n  { json: { tipo: 'body1', prompt: `Lifestyle photo: person using smartphone app to try on clothes virtually. ${ctx}. Boutique setting, natural light.`, topic_id, title } },\n  { json: { tipo: 'body2', prompt: `Close-up fabric texture and fashion detail. ${ctx}. Luxury feel, macro shot, sharp focus.`, topic_id, title } },\n  { json: { tipo: 'body3', prompt: `Colombian fashion boutique interior. Warm ambient lighting, clothing display, elegant atmosphere.`, topic_id, title } }\n];"
      }
    },
    {
      "id": "loop",
      "name": "Loop Imágenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "replicate-post",
      "name": "Replicate: Iniciar Generación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 460],
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ***REMOVED-SECRET***" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "respond-async" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  input: {\n    prompt: $json.prompt,\n    aspect_ratio: \"16:9\",\n    output_format: \"webp\",\n    output_quality: 85,\n    num_inference_steps: 4,\n    go_fast: true,\n    megapixels: \"1\"\n  }\n}) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "save-poll-url",
      "name": "Guardar Poll URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 460],
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst loopItem = $('Loop Imágenes').item.json;\n\nconst pollUrl = response?.urls?.get;\nconst predId = response?.id;\n\nif (!pollUrl) {\n  throw new Error(`Replicate no devolvió poll URL. Response: ${JSON.stringify(response).substring(0, 300)}`);\n}\n\nreturn [{ json: { ...loopItem, pollUrl, predictionId: predId } }];"
      }
    },
    {
      "id": "wait-15s",
      "name": "Esperar 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 460],
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      }
    },
    {
      "id": "check-status",
      "name": "Verificar Estado Replicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 460],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.pollUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ***REMOVED-SECRET***" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "if-succeeded",
      "name": "IF: Imagen lista?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 460],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "merge-wait-data",
      "name": "Mantener datos para espera",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 560],
      "parameters": {
        "jsCode": "// Pasar la data completa al siguiente ciclo de espera\nconst statusResponse = $input.item.json;\nconst loopItem = $('Guardar Poll URL').item.json;\n\n// Preservar pollUrl y tipo para el siguiente poll\nreturn [{ json: { ...loopItem, _lastStatus: statusResponse.status } }];"
      }
    },
    {
      "id": "download",
      "name": "Descargar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 360],
      "parameters": {
        "url": "={{ $json.output?.[0] || $json.output }}",
        "options": {
          "response": { "response": { "responseFormat": "file" } },
          "timeout": 30000
        }
      }
    },
    {
      "id": "rename",
      "name": "Renombrar Archivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 360],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst tipo = $('Guardar Poll URL').item.json.tipo || 'imagen';\nconst topic_id = $('Guardar Poll URL').item.json.topic_id;\n\nif (item.binary?.data) {\n  item.binary.data.fileName = `${tipo}.webp`;\n  item.binary.data.mimeType = 'image/webp';\n}\n\nreturn { json: { ...item.json, tipo, topic_id }, binary: item.binary };"
      }
    },
    {
      "id": "upload",
      "name": "Subir al Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 360],
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-blog-secret", "value": "Travis2305**_blog_n8n" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data" },
            { "name": "filename", "value": "={{ $('Renombrar Archivo').item.binary.data.fileName }}" },
            { "name": "topic_id", "value": "={{ $('Guardar Poll URL').item.json.topic_id }}" },
            { "name": "image_type", "value": "={{ $('Guardar Poll URL').item.json.tipo }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "back-to-loop",
      "name": "Volver al Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2660, 360],
      "parameters": {}
    },
    {
      "id": "check-done",
      "name": "Check Done",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2660, 220],
      "parameters": {
        "options": { "reset": true }
      }
    },
    {
      "id": "assemble",
      "name": "Ensamblar Artículo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 220],
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/blog/assemble-article",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-blog-secret", "value": "Travis2305**_blog_n8n" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { topic_id: $('Preparar Imágenes').first().json.topic_id } }}",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3100, 220],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, topic_id: $('Preparar Imágenes').first().json.topic_id, message: 'Imagenes generadas y articulo publicado' } }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Preparar Imágenes", "type": "main", "index": 0 }]]
    },
    "Preparar Imágenes": {
      "main": [[{ "node": "Loop Imágenes", "type": "main", "index": 0 }]]
    },
    "Loop Imágenes": {
      "main": [
        [{ "node": "Check Done", "type": "main", "index": 0 }],
        [{ "node": "Replicate: Iniciar Generación", "type": "main", "index": 0 }]
      ]
    },
    "Replicate: Iniciar Generación": {
      "main": [[{ "node": "Guardar Poll URL", "type": "main", "index": 0 }]]
    },
    "Guardar Poll URL": {
      "main": [[{ "node": "Esperar 15s", "type": "main", "index": 0 }]]
    },
    "Esperar 15s": {
      "main": [[{ "node": "Verificar Estado Replicate", "type": "main", "index": 0 }]]
    },
    "Verificar Estado Replicate": {
      "main": [[{ "node": "IF: Imagen lista?", "type": "main", "index": 0 }]]
    },
    "IF: Imagen lista?": {
      "main": [
        [{ "node": "Descargar Imagen", "type": "main", "index": 0 }],
        [{ "node": "Mantener datos para espera", "type": "main", "index": 0 }]
      ]
    },
    "Mantener datos para espera": {
      "main": [[{ "node": "Esperar 15s", "type": "main", "index": 0 }]]
    },
    "Descargar Imagen": {
      "main": [[{ "node": "Renombrar Archivo", "type": "main", "index": 0 }]]
    },
    "Renombrar Archivo": {
      "main": [[{ "node": "Subir al Backend", "type": "main", "index": 0 }]]
    },
    "Subir al Backend": {
      "main": [[{ "node": "Volver al Loop", "type": "main", "index": 0 }]]
    },
    "Volver al Loop": {
      "main": [[{ "node": "Loop Imágenes", "type": "main", "index": 0 }]]
    },
    "Check Done": {
      "main": [
        [{ "node": "Ensamblar Artículo", "type": "main", "index": 0 }]
      ]
    },
    "Ensamblar Artículo": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "PNri7NdZYkZhpPnm"
  },
  "pinData": {}
}
