templates-webs/flujo-blog.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trigger-blog-generation",
                "authentication": "headerAuth",
                "options": {}
            },
            "id": "webhook-trigger-blog",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                4100,
                -640
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "n8n-blog-secret",
                    "name": "n8n Blog Secret"
                }
            }
        },
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {}
                    ]
                }
            },
            "id": "798d7c24-da17-46f8-9351-3c52354bab4b",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                4368,
                -640
            ]
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "title",
                            "value": "={{ $json.title }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.content }}"
                        },
                        {
                            "name": "excerpt",
                            "value": "={{ $json.excerpt }}"
                        },
                        {
                            "name": "categories",
                            "value": "14"
                        },
                        {
                            "name": "Author",
                            "value": "1"
                        },
                        {
                            "name": "Tags",
                            "value": "={{ $json.Tags }}"
                        }
                    ],
                    "number": [
                        {
                            "name": "featured_media",
                            "value": "={{ $json.featured_media }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ceaa250c-eb2a-43c4-832b-834e6271f79d",
            "name": "Prepare Post",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                8112,
                -672
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=# ROL\nEres el Director de Estrategia de Contenido para \"Lookitry\", la plataforma líder de probador virtual con IA en Latinoamérica (lookitry.com).\n\n# OBJETIVO\nGenerar un array de 15 ideas de temas para artículos de blog. Las ideas deben estar orientadas a la CONVERSIÓN (generar ventas del SaaS) y el POSICIONAMIENTO SEO. Deben despertar en el dueño de una tienda de moda (ecommerce) la necesidad imperativa de implementar un probador virtual para reducir devoluciones y aumentar ventas.\n\n# INSTRUCCIONES CLAVE\n1.  **Enfoque en ROI y Conversión:** Los temas deben abordar problemas reales de los ecommerce de moda: \"tasa de devolución alta\", \"baja conversión en fichas de producto\", \"falta de confianza del cliente al elegir talla\".\n2.  **Variedad de Formatos:** Genera una mezcla equilibrada de:\n    * `\"Tutorial Práctico\"`: Cómo implementar Lookitry o mejorar el SEO de una tienda de ropa.\n    * `\"Análisis de Negocio\"`: Datos sobre cómo la IA aumenta el ticket promedio.\n    * `\"Caso de Éxito/Inspiración\"`: Por qué las grandes marcas usan probadores virtuales.\n3.  **Ángulo de Venta Lookitry:** Cada tema debe posicionar a Lookitry como la solución definitiva. Ejemplo: \"Cómo reducir el 30% de tus devoluciones con IA\".\n4.  **Tags (Regla Estricta):** Usa un máximo de 3 tags por tema, seleccionados de esta lista o similares orientados a retail: `ecommerce moda`, `IA para ropa`, `probador virtual`, `vender más online`, `marketing para moda`, `shopify moda`, `woocommerce`, `tecnología retail`, `reducción de devoluciones`.\n\n# FORMATO DE SALIDA\nDevuelve ÚNICAMENTE un array JSON válido.\n- `tema`: El título atractivo.\n- `formato`: Uno de los tres tipos.\n- `palabras`: Keywords SEO de alta intención comercial.\n- `categoria`: Slug de la categoría (ej: 'ia', 'marketing', 'ecommerce').\n- `meta_descripcion`: Máximo 110 caracteres.\n- `tags`: Array de 1 a 3 tags.\n\n# EJEMPLO\n{\n  \"tema\": \"5 Razones por las que tu Tienda de Ropa pierde ventas sin un Probador Virtual\",\n  \"palabras\": \"probador virtual roral, aumentar ventas ecommerce moda\",\n  \"categoria\": \"ecommerce\",\n  \"tags\": [\"ecommerce moda\", \"probador virtual\"]\n}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                4752,
                -112
            ],
            "id": "aafd2b2c-2b36-49d3-a99c-383954887a35",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {
                            "mode": "everyMonth"
                        }
                    ]
                }
            },
            "id": "bf832929-4e1d-4722-8544-bd9994298cec",
            "name": "Schedule Trigger1",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                4560,
                -112
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                4688,
                128
            ],
            "id": "a0f848dd-87db-46ef-954b-4b474568fcdc",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "t38zPMWleOvlSpPc",
                    "name": "Que movida cu"
                }
            }
        },
        {
            "parameters": {
                "dataTableId": {
                    "__rl": true,
                    "value": "7JcERYGdRj0XYuYL",
                    "mode": "list",
                    "cachedResultName": "temas",
                    "cachedResultUrl": "/projects/ZwHHlnZoKhyDqulQ/datatables/7JcERYGdRj0XYuYL"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "tema": "={{ $json.tema }}",
                        "palabras": "={{ $json.palabras }}",
                        "categoria": "={{ $json.categoria }}",
                        "Meta_descripcion": "={{ $json.Meta_descripcion }}",
                        "Tags": "={{ $json.Tags }}",
                        "Estado": "Pendiente"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "tema",
                            "displayName": "tema",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "palabras",
                            "displayName": "palabras",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "categoria",
                            "displayName": "categoria",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Meta_descripcion",
                            "displayName": "Meta_descripcion",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Estado",
                            "displayName": "Estado",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "Tags",
                            "displayName": "Tags",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                5440,
                -112
            ],
            "id": "fffb62f4-8409-4288-ace2-7a7ff38ffa46",
            "name": "Insert row"
        },
        {
            "parameters": {
                "jsCode": "const results = [];\nfor (const inputItem of $input.all()) {\n  let ideas = inputItem.json.output || inputItem.json.content;\n  if (typeof ideas === 'string') {\n    ideas = JSON.parse(ideas);\n  }\n  for (const idea of ideas) {\n    results.push({\n      json: {\n        tema: idea.tema || '',\n        palabras: idea.palabras || '',\n        categoria: idea.categoria || '',\n        Meta_descripcion: idea.Meta_descripcion || '',\n        tags: idea.tags || []\n      }\n    });\n  }\n}\nreturn results;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5056,
                -112
            ],
            "id": "790124c9-c5a6-4313-932c-d2a5da92f8ca",
            "name": "formatear"
        },
        {
            "parameters": {
                "jsCode": "// Ahora usamos los tags como strings directamente\nreturn $input.all().map(item => ({\n    json: {\n      ...item.json,\n      Estado: \"Pendiente\",\n      Tags: Array.isArray(item.json.tags) ? item.json.tags.join(', ') : (item.json.tags || '')\n    }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5264,
                -112
            ],
            "id": "2d16e042-1874-429e-9c73-5c2e19ab1efe",
            "name": "traducir tags"
        },
        {
            "parameters": {
                "operation": "update",
                "dataTableId": {
                    "__rl": true,
                    "value": "7JcERYGdRj0XYuYL",
                    "mode": "list",
                    "cachedResultName": "temas",
                    "cachedResultUrl": "/projects/ZwHHlnZoKhyDqulQ/datatables/7JcERYGdRj0XYuYL"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyValue": "={{ $json.id }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Estado": "publicado"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "tema",
                            "displayName": "tema",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": true
                        },
                        {
                            "id": "palabras",
                            "displayName": "palabras",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": true
                        },
                        {
                            "id": "categoria",
                            "displayName": "categoria",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": true
                        },
                        {
                            "id": "Meta_descripcion",
                            "displayName": "Meta_descripcion",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": true
                        },
                        {
                            "id": "Estado",
                            "displayName": "Estado",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                8704,
                -672
            ],
            "id": "2bfc1af9-1911-4be7-81da-f8631c35440b",
            "name": "Actualizar tablas"
        },
        {
            "parameters": {
                "jsCode": "const rawText = $input.item.json.content.parts[0].text;\n\nconsole.log('=== RAW TEXT (primeros 500) ===');\nconsole.log(rawText.substring(0, 500));\n\n// Extraer todo lo que esté entre el primer { y el último }\nconst match = rawText.match(/\\{[^]*\\}/);\n\nif (!match) {\n  throw new Error('No se encontró un objeto JSON en la respuesta. Contenido: ' + rawText.substring(0, 300));\n}\n\nlet jsonString = match[0];\n\nconsole.log('=== JSON EXTRAÍDO (primeros 300) ===');\nconsole.log(jsonString.substring(0, 300));\n\n// Intentar parsear directamente\ntry {\n  const parsed = JSON.parse(jsonString);\n  console.log('✓ JSON parseado exitosamente');\n  return parsed;\n} catch (e1) {\n  console.log('⚠ Primera intento falló:', e1.message);\n  \n  // Intento 2: Desescapar\n  try {\n    const unescaped = jsonString\n      .replace(/\\\\\\\\\"/g, '\"')\n      .replace(/\\\\\\\\\\\\\\\\\"/g, '\\\\\"')\n      .replace(/\\\\\\\\\\\\\\\\/g, '\\\\');\n    \n    const parsed = JSON.parse(unescaped);\n    console.log('✓ JSON parseado después de desescapar');\n    return parsed;\n  } catch (e2) {\n    console.log('❌ Segundo intento también falló:', e2.message);\n    console.log('=== CONTENIDO COMPLETO ===');\n    console.log(jsonString);\n    \n    throw new Error(`No se pudo parsear. Error 1: ${e1.message}. Error 2: ${e2.message}. Revisa los logs arriba.`);\n  }\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7728,
                -672
            ],
            "id": "ec01bfa0-3a1d-4c2c-8bef-b5485824183e",
            "name": "traductor"
        },
        {
            "parameters": {
                "jsCode": "const crypto = require('crypto');\n\nconst accessKey = '***REMOVED-SECRET***';\nconst secretKey = '***REMOVED-SECRET***';\nconst partnerTag = 'samuelwilkie-20';\nconst host = 'webservices.amazon.com';\nconst region = 'us-east-1';\n\nfunction getSignature(canonicalRequest, date, time) {\n  const kDate = crypto.createHmac('sha256', 'AWS4' + secretKey).update(date).digest();\n  const kRegion = crypto.createHmac('sha256', kDate).update(region).digest();\n  const kService = crypto.createHmac('sha256', kRegion).update('ProductAdvertisingAPI').digest();\n  const kSigning = crypto.createHmac('sha256', kService).update('aws4_request').digest();\n  const stringToSign = `AWS4-HMAC-SHA256\\n${time}\\n${date}/${region}/ProductAdvertisingAPI/aws4_request\\n${crypto.createHash('sha256').update(canonicalRequest).digest('hex')}`;\n  return crypto.createHmac('sha256', kSigning).update(stringToSign).digest('hex');\n}\n\nreturn items.map(i => {\n  const keyword = i.json.amazon_keywords || \"AI business\";\n\n  const requestBody = {\n    Keywords: keyword,\n    PartnerTag: partnerTag,\n    PartnerType: 'Associates',\n    Resources: [\n      'Images.Primary.Medium',\n      'ItemInfo.Title',\n      'Offers.Listings.Price'\n    ],\n    SearchIndex: 'All',\n    ItemCount: 3\n  };\n\n  const bodyString = JSON.stringify(requestBody);\n  const amzDate = new Date().toISOString().replace(/[:-]|\\.\\\\d{3}/g, '');\n  const dateStamp = amzDate.substring(0, 8);\n  const timeStamp = amzDate;\n\n  const canonicalHeaders = `host:${host}\\nx-amz-date:${timeStamp}\\nx-amz-target:com.amazon.paapi5.v1.ProductAdvertisingAPIv1.SearchItems\\n`;\n  const signedHeaders = 'host;x-amz-date;x-amz-target';\n  const canonicalRequest = `POST\\n/paapi5/searchitems\\n\\n${canonicalHeaders}\\n${signedHeaders}\\n${crypto.createHash('sha256').update(bodyString).digest('hex')}`;\n  const signature = getSignature(canonicalRequest, dateStamp, timeStamp);\n\n  i.json.url = `https://${host}/paapi5/searchitems`;\n  i.json.body = requestBody;\n  i.json.headers = {\n    'host': host,\n    'x-amz-date': timeStamp,\n    'x-amz-target': 'com.amazon.paapi5.v1.ProductAdvertisingAPIv1.SearchItems',\n    'Content-Type': 'application/json; charset=utf-8',\n    'X-Amz-Content-Sha256': crypto.createHash('sha256').update(bodyString).digest('hex'),\n    'Authorization': `AWS4-HMAC-SHA256 Credential=${accessKey}/${dateStamp}/${region}/ProductAdvertisingAPI/aws4_request, SignedHeaders=${signedHeaders}, Signature=${signature}`\n  };\n\n  return i;\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6992,
                -960
            ],
            "id": "6057e22f-6218-4e85-b9d5-416cbb7c3ff8",
            "name": "Productos Amazon"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.url }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "=host",
                            "value": "={{ $json.headers.host }}"
                        },
                        {
                            "name": "=x-amz-date",
                            "value": "={{ $json.headers['x-amz-date'] }}"
                        },
                        {
                            "name": "=x-amz-target",
                            "value": "={{ $json.headers['x-amz-target'] }}"
                        },
                        {
                            "name": "=X-Amz-Content-Sha256",
                            "value": "={{ $json.headers['X-Amz-Content-Sha256'] }}"
                        },
                        {
                            "name": "=Authorization",
                            "value": "={{ $json.headers.Authorization }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.body }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                7200,
                -960
            ],
            "id": "f09477a8-6a9a-4efb-a5ce-045fae30d4c3",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "jsCode": "const searchResult = $input.item.json.SearchResult;\n\nif (!searchResult || !searchResult.Items) {\n  return [];\n}\n\nconst products = searchResult.Items.map(item => {\n  return {\n    json: {\n      asin: item.ASIN,\n      title: item.ItemInfo.Title.DisplayValue,\n      url: item.DetailPageURL,\n      imageUrl: item.Images.Primary.Medium.URL,\n      price: item.Offers?.Listings[0]?.Price?.DisplayAmount || 'No disponible'\n    }\n  };\n});\n\nreturn products;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7392,
                -960
            ],
            "id": "d85840d7-f1c8-4c06-80d3-76045270744a",
            "name": "formatear2"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "abc8da08-7640-4adc-8d16-8f75ef43a776",
                            "name": "hostinger_link_general",
                            "value": "https://hostinger.co?REFERRALCODE=1SAM870",
                            "type": "string"
                        },
                        {
                            "id": "a0a8796f-fc98-440e-a0d2-a132592c90d8",
                            "name": "hostinger_link_vps",
                            "value": "https://www.hostinger.co/cart?product=vps%3Avps_kvm_2&period=12&referral_type=cart_link&REFERRALCODE=1SAM870&referral_id=0199f8dc-0e1c-7216-a4ac-369cd438a06a",
                            "type": "string"
                        },
                        {
                            "id": "f7a6bd91-6c60-448e-978f-ae19a8c987db",
                            "name": "hostinger_link_web",
                            "value": "https://www.hostinger.co/cart?product=hosting%3Ahostinger_business&period=12&referral_type=cart_link&REFERRALCODE=1SAM870&referral_id=0199f8dd-65c9-7055-a656-edcbb8530462",
                            "type": "string"
                        },
                        {
                            "id": "b7309d54-d275-4146-9bee-f82c9298f9f5",
                            "name": "Enlaces_Blogs",
                            "value": "={{ $json.enlacesBlogs }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                7200,
                -672
            ],
            "id": "390255c6-4ae8-450d-baa8-8d8f6b21c159",
            "name": "Añadir Enlace Hostinger"
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.0-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.0-flash"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Eres el equipo de Lookitry Editorial, expertos en SEO y marketing para ecommerce de moda. Tu misión es convertir lectores en clientes de Lookitry.\\n\\n# DATOS DE ENTRADA\\n- Tema: {{ $json.tema }}\\n- Keywords: {{ $json.palabras }}\\n- Meta descripción: {{ $json.meta_description }}\\n\\n# OBJETIVO\\nArtículo de 1200-1500 palabras, optimizado para SEO, con un tono persuasivo, profesional y aspiracional. El objetivo es que el lector entienda que sin Lookitry su tienda está en desventaja.\\n\\n# COLORES LOOKITRY (Tu Estilo)\\n- Naranja Principal: #FF5C3A\\n- Naranja Oscuro: #E54D2E\\n- Negro: #0A0A0A\\n- Blanco: #FFFFFF\\n- Gris: #F4F4F5\\n\\n# ESTRUCTURA HTML MEJORADA\\n\\n<div style=\\\"background: linear-gradient(135deg, #FF5C3A 0%, #E54D2E 100%); padding: 35px; border-radius: 24px; box-shadow: 0 10px 30px rgba(255, 92, 58, 0.2); margin-bottom: 40px;\\\">\\n<p style=\\\"color: #FFFFFF; font-size: 1.2em; line-height: 1.8; margin: 0; font-weight: 500;\\\">\\n[Intro persuasiva que mencione <strong style=\\\"color: #FFFFFF; text-decoration: underline;\\\">{{ $json.palabras }}</strong>]\\n</p>\\n</div>\\n\\n<h2 style=\\\"color: #FF5C3A; font-size: 2.2em; border-bottom: 2px solid #F4F4F5; padding-bottom: 10px;\\\">[Título Sección 1]</h2>\\n<p style=\\\"line-height: 1.9; color: #333;\\\">[Contenido con datos y beneficios reales]</p>\\n\\n<!-- Caja de Beneficio -->\\n<div style=\\\"background: #FFF5F2; border-left: 6px solid #FF5C3A; padding: 25px; border-radius: 16px; margin: 30px 0;\\\">\\n<h4 style=\\\"color: #FF5C3A; margin: 0 0 10px 0;\\\">🚀 Impacto en tu Negocio:</h4>\\n<ul style=\\\"margin: 0; padding-left: 20px;\\\">\\n<li>Incrermento del 20% en conversión.</li>\\n<li>Reducción masiva de devoluciones por talla.</li>\\n<li>Mejora de la confianza del cliente.</li>\\n</ul>\\n</div>\\n\\n<figure style=\\\"margin: 40px 0;\\\">\\n<img src=\\\"{{ $json.imagen_body1_url }}\\\" alt=\\\"[ALT SEO]\\\" style=\\\"border-radius: 20px; width: 100%;\\\"/>\\n</figure>\\n\\n<!-- CTA INTERMEDIO -->\\n<div style=\\\"text-align: center; padding: 40px; background: #0A0A0A; border-radius: 30px; margin: 50px 0;\\\">\\n<h3 style=\\\"color: #FFFFFF; margin-bottom: 20px;\\\">¿Listo para transformar tu tienda?</h3>\\n<a href=\\\"https://lookitry.com/register\\\" style=\\\"background: #FF5C3A; color: white; padding: 15px 30px; border-radius: 50px; text-decoration: none; font-weight: bold;\\\">Probar Lookitry Gratis</a>\\n</div>\\n\\n# REGLAS CRÍTICAS\\n1. NO menciones que eres una IA.\\n2. Usa un lenguaje que incite a la acción.\\n3. Integra las keywords de forma natural.\\n\\n# FORMATO SALIDA\\nDevuelve SOLO JSON:\\n{\\n \\\"title\\\": \\\"[Título SEO]\\\",\\n \\\"content\\\": \\\"[HTML completo en una línea con escapes correctos]\\\",\\n \\\"excerpt\\\": \\\"[Resumen enganchador]\\\",\\n \\\"featured_media\\\": {{ $json.imagen_destacada_id }}\\n}",
                            "role": "model"
                        }
                    ]
                },
                "options": {
                    "maxOutputTokens": 8000,
                    "temperature": 0.7
                }
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                7392,
                -672
            ],
            "id": "1dd28f86-f615-4278-abcc-752e59816bc8",
            "name": "redactor",
            "credentials": {
                "googlePalmApi": {
                    "id": "t38zPMWleOvlSpPc",
                    "name": "Que movida cu"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\n\n// En el nuevo sistema los tags son directamente los nombres\nlet tagsArray = [];\nif (data.tags) {\n  tagsArray = Array.isArray(data.tags) ? data.tags : data.tags.split(',').map(t => t.trim());\n}\n\nconst wpBody = {\n  title: data.title,\n  excerpt: data.excerpt,\n  content: data.content,\n  status: 'published',\n  category_slug: 'ia', // O mapéalo si tienes lógica de categorías\n  tags: tagsArray,\n  featured_image: data.imagen_destacada_url,\n  meta_description: data.meta_description || data.excerpt.substring(0, 160)\n};\n\nconsole.log('=== BODY PARA LOOKITRY ===');\nconsole.log('Tags:', tagsArray);\nconsole.log('Featured Image:', wpBody.featured_image);\n\nreturn {\n  json: {\n    wpBody: wpBody,\n    ...data\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                8304,
                -672
            ],
            "id": "c9e28c36-945a-4a43-8817-f2618dc42743",
            "name": "Preparar JSON para Lookitry"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.lookitry.com/api/blog/webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "x-blog-secret",
                            "value": "Travis2305**_blog_live"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.wpBody) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                8512,
                -672
            ],
            "id": "bfdcb30b-4ca8-4adf-9012-706f3f0c18e6",
            "name": "Publicar en Lookitry"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.all()[0];\nlet content = item.json;\n\nconsole.log('=== VALIDACIÓN DE CONTENIDO ===');\nconsole.log('Tipo de content:', typeof content);\nconsole.log('Tags recibidos:', content.Tags);\n\n// Si viene como string, parsearlo\nif (typeof content === 'string') {\n  try {\n    content = JSON.parse(content);\n    console.log('✓ JSON parseado correctamente');\n  } catch (e) {\n    throw new Error(`Error al parsear JSON: ${e.message}\\nContenido: ${content.substring(0, 200)}`);\n  }\n}\n\n// CRÍTICO: Si los Tags no están en el content parseado, buscarlos en el input original\nif (!content.Tags) {\n  console.log('⚠ Tags no encontrados en content, buscando en input...');\n  \n  // Buscar en todos los items de input\n  const allInputs = $input.all();\n  for (const inputItem of allInputs) {\n    if (inputItem.json.Tags) {\n      content.Tags = inputItem.json.Tags;\n      console.log('✓ Tags recuperados del input:', content.Tags);\n      break;\n    }\n  }\n  \n  // Si aún no hay tags, intentar del nodo anterior\n  if (!content.Tags) {\n    try {\n      const prevData = $('Añadir Enlace Hostinger').first().json;\n      if (prevData.Tags) {\n        content.Tags = prevData.Tags;\n        console.log('✓ Tags recuperados de nodo anterior:', content.Tags);\n      }\n    } catch (e) {\n      console.log('⚠ No se pudieron recuperar Tags de nodo anterior');\n    }\n  }\n}\n\n// Validar campos críticos\nconst required = ['title', 'excerpt', 'featured_media'];\nconst missing = [];\nfor (const field of required) {\n  if (!content[field]) {\n    missing.push(field);\n  }\n}\nif (missing.length > 0) {\n  throw new Error(`Campos requeridos faltantes: ${missing.join(', ')}`);\n}\n\n// Manejar meta_description\nif (!content.meta_description || content.meta_description.trim() === '') {\n  console.log('⚠ meta_description vacío, usando excerpt como fallback');\n  content.meta_description = content.excerpt.substring(0, 160);\n}\n\nconsole.log('✓ meta_description:', content.meta_description.substring(0, 50) + '...');\n\n// Validar longitudes\nif (content.title && content.title.length > 60) {\n  console.log('⚠ Título muy largo:', content.title.length, 'caracteres');\n}\n\nif (content.excerpt && content.excerpt.length > 160) {\n  console.log('⚠ Excerpt muy largo:', content.excerpt.length, 'caracteres');\n  content.excerpt = content.excerpt.substring(0, 157) + '...';\n}\n\nif (content.meta_description && content.meta_description.length > 160) {\n  console.log('⚠ Meta description muy larga:', content.meta_description.length, 'caracteres');\n  content.meta_description = content.meta_description.substring(0, 157) + '...';\n}\n\nconsole.log('=== VALIDACIÓN COMPLETA ===');\nconsole.log('Tags finales que se pasarán:', content.Tags);\n\nreturn {\n  json: content\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                7920,
                -672
            ],
            "id": "2773cf9d-1863-49c5-87e3-47e0d4a44f21",
            "name": "Preparador"
        },
        {
            "parameters": {
                "url": "https://lookitry.com/api/blog",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                6608,
                -896
            ],
            "id": "0d263dd1-3882-40d4-ae18-3498bc6a3b62",
            "name": "conseguir Blogs"
        },
        {
            "parameters": {
                "jsCode": "// Extrae título y url de todos los blogs en la categoría\nconst enlacesBlogs = items.map(item => ({\n  titulo: item.json.title.rendered,\n  url: item.json.link\n}));\n\nreturn [{\n  json: { enlacesBlogs }\n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6768,
                -896
            ],
            "id": "9fb5655b-56b2-4a20-aab0-35caf7e29a0d",
            "name": "conseguir link blogs"
        },
        {
            "parameters": {
                "numberInputs": 3
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                6768,
                -688
            ],
            "id": "e646328b-057d-4a56-adc6-491a0b86f8de",
            "name": "Merge"
        },
        {
            "parameters": {
                "jsCode": "// Obtiene TODOS los items que llegan a este nodo desde las diferentes ramas\nconst allItems = $input.all();\n\n// Inicializa un objeto para consolidar toda la información\nconst datosFinales = {};\n\n// --- BÚSQUEDA INTELIGENTE DE DATOS ---\n\n// 1. Busca los datos del tema original (del nodo 'Obtener Temas')\nconst itemDelTema = allItems.find(item => item.json.tema && item.json.palabras);\nif (itemDelTema) {\n  // Copiar TODOS los campos del tema, incluyendo Tags\n  Object.keys(itemDelTema.json).forEach(key => {\n    datosFinales[key] = itemDelTema.json[key];\n  });\n  console.log('✓ Datos del tema encontrados');\n  console.log('  - Tags originales:', itemDelTema.json.Tags);\n  console.log('  - Tipo de Tags:', typeof itemDelTema.json.Tags);\n}\n\n// 2. Busca los datos de las imágenes ya subidas y ordenadas\nconst itemDeImagenes = allItems.find(item => item.json.imagen_destacada);\nif (itemDeImagenes) {\n  // Solo agregar campos de imágenes, NO sobrescribir Tags\n  datosFinales.imagen_destacada = itemDeImagenes.json.imagen_destacada;\n  datosFinales.imagen_destacada_url = itemDeImagenes.json.imagen_destacada?.url;\n  datosFinales.imagen_destacada_id = itemDeImagenes.json.imagen_destacada?.id;\n  datosFinales.imagen_body1 = itemDeImagenes.json.imagen_body1;\n  datosFinales.imagen_body1_url = itemDeImagenes.json.imagen_body1?.url;\n  datosFinales.imagen_body1_id = itemDeImagenes.json.imagen_body1?.id;\n  datosFinales.imagen_body2 = itemDeImagenes.json.imagen_body2;\n  datosFinales.imagen_body2_url = itemDeImagenes.json.imagen_body2?.url;\n  datosFinales.imagen_body2_id = itemDeImagenes.json.imagen_body2?.id;\n  console.log('✓ Datos de imágenes encontrados');\n}\n\n// 3. Busca la lista de enlaces de blogs existentes\nconst itemDeEnlaces = allItems.find(item => Array.isArray(item.json.enlacesBlogs));\nif (itemDeEnlaces) {\n  datosFinales.enlacesBlogs = itemDeEnlaces.json.enlacesBlogs;\n  console.log('✓ Enlaces de blogs encontrados');\n}\n\n// 4. FORMATEA LOS TAGS: Convierte el string \"93, 90, 87\" a un array de números [93, 90, 87]\nlet tagsArray = [];\nif (datosFinales.Tags) {\n  if (typeof datosFinales.Tags === 'string') {\n    tagsArray = datosFinales.Tags.split(',').map(t => parseInt(t.trim())).filter(t => !isNaN(t));\n    console.log('✓ Tags convertidos de string a array:', tagsArray);\n  } else if (Array.isArray(datosFinales.Tags)) {\n    tagsArray = datosFinales.Tags;\n    console.log('✓ Tags ya en formato array:', tagsArray);\n  }\n} else {\n  console.log('⚠ No se encontraron Tags en los datos');\n  console.log('Campos disponibles:', Object.keys(datosFinales));\n}\n\ndatosFinales.Tags = tagsArray;\n\n// 5. Añade el enlace de Hostinger\ndatosFinales.hostinger_link = \"https://hostinger.co?REFERRALCODE=1SAM870\";\n\nconsole.log('=== DATOS FINALES CONSOLIDADOS ===');\nconsole.log('Tags finales:', datosFinales.Tags);\n\n// Devuelve un único item con toda la información consolidada\nreturn [{\n  json: datosFinales\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6992,
                -672
            ],
            "id": "31b00a5c-4687-43ec-902d-186546599c02",
            "name": "Obtener Info"
        },
        {
            "parameters": {
                "jsCode": "const imagenesUnidas = $input.first().json;\nconst datosOriginales = $('Obtener Temas').first().json;\n\nconsole.log('=== DEBUG RECUPERAR DATOS ===');\nconsole.log('Tags de Obtener Temas:', datosOriginales.Tags);\nconsole.log('Tipo:', typeof datosOriginales.Tags);\n\nreturn {\n  json: {\n    // Datos del tema original (INCLUYENDO TAGS)\n    tema: datosOriginales.tema,\n    palabras: datosOriginales.palabras,\n    meta_descripcion: datosOriginales.Meta_descripcion,\n    Tags: datosOriginales.Tags, // ← CRÍTICO: Preservar los Tags aquí\n    \n    // URLs e IDs de las imágenes consolidadas\n    imagen_destacada_url: imagenesUnidas.imagen_destacada.url,\n    imagen_destacada_id: imagenesUnidas.imagen_destacada.id,\n    imagen_body1_url: imagenesUnidas.imagen_body1.url,\n    imagen_body1_id: imagenesUnidas.imagen_body1.id,\n    imagen_body2_url: imagenesUnidas.imagen_body2.url,\n    imagen_body2_id: imagenesUnidas.imagen_body2.id\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6352,
                -896
            ],
            "id": "0583a9d2-fa5f-42c9-bc6d-e9150c437b2c",
            "name": "recuperar datos"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n\n// Ordenar por orden\nconst ordenadas = items.sort((a, b) => a.json.orden - b.json.orden);\n\nconsole.log('Imágenes recibidas:', ordenadas.map(i => i.json.tipo).join(', '));\n\nreturn [{\n  json: {\n    imagen_destacada: {\n      id: ordenadas[0].json.id,\n      url: ordenadas[0].json.file_url || ordenadas[0].json.url || ordenadas[0].json.source_url\n    },\n    imagen_body1: {\n      id: ordenadas[1].json.id,\n      url: ordenadas[1].json.file_url || ordenadas[1].json.url || ordenadas[1].json.source_url\n    },\n    imagen_body2: {\n      id: ordenadas[2].json.id,\n      url: ordenadas[2].json.file_url || ordenadas[2].json.url || ordenadas[2].json.source_url\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                6160,
                -896
            ],
            "id": "e28a1188-1bf7-48a3-965b-4ed707ec26de",
            "name": "Filtrado"
        },
        {
            "parameters": {
                "messages": {
                    "values": [
                        {
                            "content": "=Eres un experto en \"prompt engineering\" para el modelo de imagen de Lookitry. Tu misión es generar prompts que creen imágenes fotorrealistas de alta gama para la industria de la Moda y el Ecommerce.\\n\\nIDENTIDAD VISUAL DE LOOKITRY:\\n- Paleta de Colores: Naranja Principal (#FF5C3A), Gris tecnológico, Blanco y Negro.\\n- Estilo: Premium, elegante, moderno y enfocado en retail de moda.\\n\\nREGLAS DE IMAGEN:\\n- Deben ser fotorrealistas y profesionales (8K, UHD, fashion photography).\\n- Composición: Horizontal (16:9).\\n- Tema: Debe estar relacionado con: \\\"{{ $('Obtener Temas').first().json.tema }}\\\"\\n\\nVARIACIONES SEGÚN EL ARTÍCULO:\\n1. Si el artículo es de NEGOCIOS: Mostrar entornos de oficinas modernas con pantallas de tablets mostrando probadores virtuales.\\n2. Si el artículo es de MODA: Mostrar modelos elegantes usando probadores virtuales en sus smartphones.\\n3. Si el artículo es de TECNOLOGÍA: Mostrar visualizaciones abstractas de IA aplicadas a prendas de vestir.\\n\\nNEGATIVOS: Sin texto, sin logos, sin deformaciones en las manos.",
                            "role": "model"
                        },
                        {
                            "content": "=Transform the following blog topic into THREE distinct image prompts in English, each following the brand guidelines and technical requirements above. Return ONLY the three prompts in this exact format:\\n\\n(A) [First prompt here]\\n(B) [Second prompt here]\\n(C) [Third prompt here]\\n\\nTopic: \\\"{{ $('Obtener Temas').item.json.tema }}\\\"\\n\\nEnsure each prompt:\\n- Includes IMPORTANT \\\"horizontal composition\\\"\\n- References red/white/gray color scheme\\n- Specifies professional, modern, tech-focused aesthetic\\n- Has clear visual concept related to the topic\\n- Maintains anatomical accuracy if humans are present"
                        }
                    ]
                },
                "options": {
                    "maxOutputTokens": 250
                }
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                4608,
                -880
            ],
            "id": "9b7ff181-6960-479c-9142-c3ef6b5a0f6f",
            "name": "mejorar prompt",
            "credentials": {
                "googlePalmApi": {
                    "id": "t38zPMWleOvlSpPc",
                    "name": "Que movida cu"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extraer los 3 prompts del texto generado\nconst text = $input.first().json.content.parts[0].text;\n\n// Buscar los patrones (A), (B), (C)\nconst promptA = text.match(/\\(A\\)\\s*[\"\"\"]([^\"\"\"]+)[\"\"\"]/)?.[1] || \n                text.match(/\\(A\\)\\s*(.+?)(?=\\(B\\)|$)/s)?.[1]?.trim();\n\nconst promptB = text.match(/\\(B\\)\\s*[\"\"\"]([^\"\"\"]+)[\"\"\"]/)?.[1] || \n                text.match(/\\(B\\)\\s*(.+?)(?=\\(C\\)|$)/s)?.[1]?.trim();\n\nconst promptC = text.match(/\\(C\\)\\s*[\"\"\"]([^\"\"\"]+)[\"\"\"]/)?.[1] || \n                text.match(/\\(C\\)\\s*(.+?)$/s)?.[1]?.trim();\n\n// Verificar que se encontraron los 3 prompts\nif (!promptA || !promptB || !promptC) {\n  throw new Error(`No se pudieron extraer todos los prompts. \n    A: ${!!promptA}, B: ${!!promptB}, C: ${!!promptC}\n    Texto recibido: ${text.substring(0, 500)}`);\n}\n\nreturn [\n  {\n    json: {\n      prompt: promptA,\n      tipo: 'destacada',\n      orden: 1\n    }\n  },\n  {\n    json: {\n      prompt: promptB,\n      tipo: 'body1',\n      orden: 2\n    }\n  },\n  {\n    json: {\n      prompt: promptC,\n      tipo: 'body2',\n      orden: 3\n    }\n  }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4944,
                -880
            ],
            "id": "3b7fd56a-ef74-4afc-bade-cf2105609f90",
            "name": "Extraer Prompts"
        },
        {
            "parameters": {
                "operation": "get",
                "dataTableId": {
                    "__rl": true,
                    "value": "7JcERYGdRj0XYuYL",
                    "mode": "list",
                    "cachedResultName": "temas",
                    "cachedResultUrl": "/projects/ZwHHlnZoKhyDqulQ/datatables/7JcERYGdRj0XYuYL"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyName": "Estado",
                            "keyValue": "Pendiente"
                        }
                    ]
                },
                "limit": 1
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                4624,
                -640
            ],
            "id": "dd86d9b7-ee6c-414c-86c9-ba40259d42f9",
            "name": "Obtener Temas"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"openai/gpt-5-image-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt.replace(/\\\"/g, '\\\\\\\"') }}\"\n    }\n  ],\n  \"image_generation\": {\n    \"n\": 1,\n    \"size\": \"1792x1024\",\n    \"output_format\": \"png\",\n    \"quality\": \"hd\",\n    \"style\": \"natural\"\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                5152,
                -1104
            ],
            "id": "bf9d977b-9701-491a-87a1-e9adc6ddc8d3",
            "name": "OpenRouter",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6cLjtvB0dCFi7skM",
                    "name": "Telegram API"
                },
                "httpBearerAuth": {
                    "id": "zfUV46xyt3CLaLh8",
                    "name": "OpenRouter"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Modo: Run Once for Each Item\nconst item = $input.item;\nconst response = item.json;\n\n// Obtener tipo y orden del nodo que dividió los items\nconst inputData = $('Extraer Prompts').item.json;\nconst tipo = inputData.tipo;\nconst orden = inputData.orden;\n\nconsole.log(`Procesando imagen: ${tipo} (Orden: ${orden})`);\n\n// --- INICIO DE LA VALIDACIÓN ---\n// 1. Revisa si OpenRouter devolvió un error explícito.\nif (response.error) {\n  throw new Error(`Error de la API de OpenRouter para la imagen '${tipo}': ${response.error.message}`);\n}\n\n// 2. Usa \"optional chaining\" (?.) para acceder de forma segura a la URL.\n// Esto evita el error \"Cannot read properties of undefined\".\nconst url = response.choices?.[0]?.message?.images?.[0]?.image_url?.url;\n\n// 3. Verifica si la URL se encontró. Si no, la imagen no se generó.\nif (!url) {\n  console.log('Respuesta completa de OpenRouter:', JSON.stringify(response, null, 2));\n  throw new Error(`No se encontró la URL de la imagen para '${tipo}'. La API no generó la imagen (posiblemente por el filtro de contenido). Revisa la respuesta completa en el log de arriba.`);\n}\n// --- FIN DE LA VALIDACIÓN ---\n\n// Ahora que sabemos que la URL existe, la procesamos.\nconst base64Data = url.split('base64,')[1];\n\nif (!base64Data) {\n  throw new Error(`No se pudo extraer la data base64 de la URL para la imagen '${tipo}'.`);\n}\n\nconsole.log(`✓ Imagen ${tipo} extraída: ${base64Data.length} caracteres`);\n\nreturn {\n  json: {\n    ...inputData, // Muy importante: pasar los datos originales\n    base64: base64Data\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5392,
                -1104
            ],
            "id": "9280f9ba-0fc4-4054-aa92-d7fd0d4e92ba",
            "name": "extraer imagenes"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://image-converter:3000/convert-to-webp",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "multipart/form-data"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "file",
                            "inputDataFieldName": "data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                5600,
                -896
            ],
            "id": "4b312c37-41ba-4462-af34-be98fc53c59d",
            "name": "convert to WEBP"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "base64",
                "options": {
                    "fileName": "=data",
                    "mimeType": "image/png"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                5600,
                -1104
            ],
            "id": "3b1ca12f-3160-4a57-87af-b8933b3097c0",
            "name": "Traductor"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.lookitry.com/api/blog/upload",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-blog-secret",
                            "value": "Travis2305**_blog_live"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "file",
                            "inputDataFieldName": "data"
                        },
                        {
                            "name": "filename",
                            "value": "={{ $('renombrar').item.binary.data.fileName }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                5952,
                -896
            ],
            "id": "03a85ef6-186b-4ee8-8497-3682f7f83bf9",
            "name": "Uploader"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Modo: Run Once for Each Item\nconst item = $input.item;\nconst itemIndex = $itemIndex;\n\nconsole.log('=== DEBUG RENOMBRAR ===');\nconsole.log('Item Index:', itemIndex);\n\nlet tipo, orden;\n\n// Intentar recuperar datos del flujo de OpenRouter (arriba)\ntry {\n  const datosOpenRouter = $('extraer imagenes').all()[itemIndex]?.json;\n  if (datosOpenRouter?.tipo) {\n    tipo = datosOpenRouter.tipo;\n    orden = datosOpenRouter.orden;\n    console.log('✓ Datos recuperados de \"extraer imagenes\"');\n  }\n} catch (e) {\n  console.log('⚠ Nodo \"extraer imagenes\" no ejecutado');\n}\n\n// Si no hay datos del flujo superior, recuperar de \"Extraer Prompts\" (flujo directo)\nif (!tipo) {\n  try {\n    const datosExtraer = $('Extraer Prompts').all()[itemIndex]?.json;\n    if (datosExtraer?.tipo) {\n      tipo = datosExtraer.tipo;\n      orden = datosExtraer.orden;\n      console.log('✓ Datos recuperados de \"Extraer Prompts\"');\n    }\n  } catch (e) {\n    console.log('⚠ No se pudo recuperar de \"Extraer Prompts\"');\n  }\n}\n\n// Si aún no hay tipo, usar el del item actual o fallback\nif (!tipo) {\n  tipo = item.json.tipo || 'imagen';\n  orden = item.json.orden || itemIndex + 1;\n  console.log('⚠ Usando datos del item actual o fallback');\n}\n\nconsole.log('Tipo final:', tipo);\nconsole.log('Orden final:', orden);\nconsole.log('Tiene binary.data?:', !!item.binary?.data);\n\n// Renombrar el archivo binario con la extensión .webp\nif (item.binary && item.binary.data) {\n  const nuevoNombre = `${tipo}.webp`;\n  item.binary.data.fileName = nuevoNombre;\n  item.binary.data.mimeType = 'image/webp';\n  \n  console.log(`✓ Renombrado a: ${nuevoNombre}`);\n}\n\n// IMPORTANTE: Restaurar también los datos JSON para los nodos siguientes\nreturn {\n  json: {\n    ...item.json,\n    tipo: tipo,\n    orden: orden\n  },\n  binary: item.binary\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5776,
                -896
            ],
            "id": "8eb0d1c5-39b5-499a-9862-29af00b26d88",
            "name": "renombrar"
        },
        {
            "parameters": {
                "resource": "image",
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.0-flash-exp-image-generation",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
                },
                "prompt": "={{ $('Extraer Prompts').item.json.prompt }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                5392,
                -896
            ],
            "id": "0928952b-4019-45bb-b6a7-827d8ae90921",
            "name": "Generate an image",
            "credentials": {
                "googlePalmApi": {
                    "id": "t38zPMWleOvlSpPc",
                    "name": "Que movida cu"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": true,
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        },
                                        "id": "bbd49596-5cf5-449d-93ab-6cf6d90b4bde"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "920381c6-aa55-4da9-8682-46db9d432346",
                                        "leftValue": false,
                                        "rightValue": "",
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "false",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "False"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [
                5152,
                -880
            ],
            "id": "97b9db37-1f54-4795-b6c2-39df090bc7d5",
            "name": "tester"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Obtener Temas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Obtener Temas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Post": {
            "main": [
                [
                    {
                        "node": "Preparar JSON para Lookitry",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "formatear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger1": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "formatear": {
            "main": [
                [
                    {
                        "node": "traducir tags",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "traducir tags": {
            "main": [
                [
                    {
                        "node": "Insert row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "traductor": {
            "main": [
                [
                    {
                        "node": "Preparador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Productos Amazon": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "formatear2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "formatear2": {
            "main": [
                []
            ]
        },
        "Añadir Enlace Hostinger": {
            "main": [
                [
                    {
                        "node": "redactor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "redactor": {
            "main": [
                [
                    {
                        "node": "traductor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar JSON para Lookitry": {
            "main": [
                [
                    {
                        "node": "Publicar en Lookitry",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Publicar en Lookitry": {
            "main": [
                [
                    {
                        "node": "Actualizar tablas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparador": {
            "main": [
                [
                    {
                        "node": "Prepare Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "conseguir Blogs": {
            "main": [
                [
                    {
                        "node": "conseguir link blogs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "conseguir link blogs": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Obtener Info",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener Info": {
            "main": [
                [
                    {
                        "node": "Añadir Enlace Hostinger",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "recuperar datos": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    },
                    {
                        "node": "conseguir Blogs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtrado": {
            "main": [
                [
                    {
                        "node": "recuperar datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "mejorar prompt": {
            "main": [
                [
                    {
                        "node": "Extraer Prompts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraer Prompts": {
            "main": [
                [
                    {
                        "node": "tester",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener Temas": {
            "main": [
                [
                    {
                        "node": "mejorar prompt",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "OpenRouter": {
            "main": [
                [
                    {
                        "node": "extraer imagenes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "extraer imagenes": {
            "main": [
                [
                    {
                        "node": "Traductor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "convert to WEBP": {
            "main": [
                [
                    {
                        "node": "renombrar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Traductor": {
            "main": [
                [
                    {
                        "node": "convert to WEBP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Uploader": {
            "main": [
                [
                    {
                        "node": "Filtrado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "renombrar": {
            "main": [
                [
                    {
                        "node": "Uploader",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate an image": {
            "main": [
                [
                    {
                        "node": "convert to WEBP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "tester": {
            "main": [
                [
                    {
                        "node": "Generate an image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "OpenRouter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "34a894eba6858199b78c0769d1eb411eeca63ea6b87d5682b14ecb5519e0d30f"
    }
}