Lookitry_Brain_Vault/Cerebro/Docs/design/vton-idm-workflow.json
{
  "name": "Virtual Try-On - IDM-VTON (Testing)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tryon-idm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-idm-vton",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [4944, 1024]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst body = item.body || item;\n\nif (!body || typeof body !== 'object') {\n  throw new Error('No se recibio body valido');\n}\n\nconst required = ['brand_id', 'product_id', 'selfie_url', 'product_image_url'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  throw new Error('Faltan campos: ' + missing.join(', '));\n}\n\nconst urlRegex = /^https?:\\/\\/.+/;\nif (!urlRegex.test(body.selfie_url)) {\n  throw new Error('selfie_url no es URL valida');\n}\nif (!urlRegex.test(body.product_image_url)) {\n  throw new Error('product_image_url no es URL valida');\n}\n\nconst now = new Date();\nconst timestamp = now.toISOString();\n\nreturn {\n  json: {\n    brand_id: body.brand_id,\n    product_id: body.product_id,\n    selfie_url: body.selfie_url,\n    product_image_url: body.product_image_url,\n    prompt: body.prompt || 'clothing item',\n    timestamp\n  }\n};"
      },
      "id": "validate-input-idm",
      "name": "Validar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5168, 1024]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.selfie_url }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-selfie-idm",
      "name": "Descargar Selfie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5392, 896]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.product_image_url }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-product-idm",
      "name": "Descargar Producto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5392, 1152]
    },
    {
      "parameters": {
        "jsCode": "const selfieBinary = $('Descargar Selfie').item.binary;\nconst productBinary = $('Descargar Producto').item.binary;\nconst data = $('Validar Input').item.json;\n\nconst selfieBuffer = selfieBinary?.data;\nconst productBuffer = productBinary?.data;\n\nif (!selfieBuffer || !productBuffer) {\n  throw new Error('No se pudieron descargar las imagenes');\n}\n\n// Construir payload para IDM-VTON (Gradio ImageEditor format)\nconst payload = {\n  data: [\n    {\n      background: {\n        data: selfieBuffer,\n        is_file: false,\n        name: 'selfie.jpg',\n        type: 'file'\n      },\n      layers: [null],\n      composite: null\n    },\n    {\n      data: productBuffer,\n      is_file: false,\n      name: 'garment.jpg',\n      type: 'file'\n    },\n    data.prompt,  // garment description\n    true,          // is_checked (auto-mask)\n    false,         // is_checked_crop\n    30,            // denoise_steps\n    -1              // seed (-1 = random)\n  ]\n};\n\nreturn {\n  json: {\n    ...data,\n    selfie_buffer: selfieBuffer,\n    product_buffer: productBuffer,\n    payload,\n    hf_space_url: 'https://yisol-idm-vton.hf.space/api/v0/tryon'\n  }\n};"
      },
      "id": "prepare-gradio-dict-idm",
      "name": "Preparar Dict Gradio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5616, 1024]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.hf_space_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "call-idm-vton-api",
      "name": "Llamar IDM-VTON API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5840, 1024]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst data = $('Preparar Dict Gradio').item.json;\n\n// IDM-VTON returns: [output_image_base64, masked_image_base64]\nlet outputBase64 = null;\nlet maskedBase64 = null;\n\nif (Array.isArray(response.data) && response.data.length >= 2) {\n  outputBase64 = response.data[0];\n  maskedBase64 = response.data[1];\n}\n\nif (!outputBase64) {\n  // Intentar extraer de diferentes estructuras\n  if (response.data?.output) {\n    outputBase64 = response.data.output;\n  } else if (response.output) {\n    outputBase64 = response.output;\n  } else if (typeof response.data === 'string') {\n    outputBase64 = response.data;\n  } else {\n    throw new Error('No se encontro imagen en respuesta: ' + JSON.stringify(Object.keys(response)).substring(0, 300));\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    output_base64: outputBase64,\n    masked_base64: maskedBase64,\n    full_response: response\n  }\n};"
      },
      "id": "extract-image-idm",
      "name": "Extraer Imagen IDM-VTON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6064, 1024]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "output_base64",
        "options": {
          "fileName": "result.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "convert-to-file-idm",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [6272, 1024]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lookitry.com/api/upload/selfie",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [USAR_CREDENCIAL]"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "temporary",
              "value": "false"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "upload-minio-idm",
      "name": "Subir a MinIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6496, 1024],
      "credentials": [
        {
          "id": "63r9snmc2rxxlWAn",
          "name": "Lookitry API Token"
        }
      ]
    },
    {
      "parameters": {
        "jsCode": "const selfieUrl = $('Validar Input').item.json.selfie_url;\nconst uploadResponse = $('Subir a MinIO').item.json;\nconst imageUrl = uploadResponse?.url || uploadResponse?.data?.url;\n\nconst match = selfieUrl ? selfieUrl.match(/images\\/(.+)$/) : null;\nconst path = match ? match[1] : null;\n\nif (!path) {\n  return { json: { skip_cleanup: true, image_url: imageUrl } };\n}\n\nreturn { json: { selfie_path: path, image_url: imageUrl } };"
      },
      "id": "extract-path-idm",
      "name": "Extraer Path Selfie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6704, 1024]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://api.lookitry.com/api/upload/cleanup-temp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer [USAR_CREDENCIAL]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { selfie_paths: [$json.selfie_path] } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cleanup-temp-idm",
      "name": "Eliminar Selfie Temporal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6912, 1024],
      "credentials": [
        {
          "id": "63r9snmc2rxxlWAn",
          "name": "Lookitry API Token"
        }
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-image-url",
              "name": "image_url",
              "value": "={{ $('Extraer Path Selfie').item.json.image_url }}",
              "type": "string"
            },
            {
              "id": "field-model",
              "name": "_meta_model",
              "value": "idm-vton",
              "type": "string"
            },
            {
              "id": "field-execution",
              "name": "_meta_execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "field-timestamp",
              "name": "_meta_timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "field-brand-id",
              "name": "brand_id",
              "value": "={{ $('Validar Input').item.json.brand_id }}",
              "type": "string"
            },
            {
              "id": "field-product-id",
              "name": "product_id",
              "value": "={{ $('Validar Input').item.json.product_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response-idm",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [7120, 1024]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, imageUrl: $json.image_url, _meta: { model: $json._meta_model, executionId: $json._meta_execution_id, generatedAt: $json._meta_timestamp, brandId: $json.brand_id, productId: $json.product_id } } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success-idm",
      "name": "Responder Exito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [7328, 1024]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Descargar Selfie",
            "type": "main",
            "index": 0
          },
          {
            "node": "Descargar Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Selfie": {
      "main": [
        [
          {
            "node": "Preparar Dict Gradio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Producto": {
      "main": [
        [
          {
            "node": "Preparar Dict Gradio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dict Gradio": {
      "main": [
        [
          {
            "node": "Llamar IDM-VTON API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar IDM-VTON API": {
      "main": [
        [
          {
            "node": "Extraer Imagen IDM-VTON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Imagen IDM-VTON": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Subir a MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a MinIO": {
      "main": [
        [
          {
            "node": "Extraer Path Selfie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Path Selfie": {
      "main": [
        [
          {
            "node": "Eliminar Selfie Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Selfie Temporal": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Responder Exito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "PNri7NdZYkZhpPnm"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SaaS"
    },
    {
      "name": "testing"
    },
    {
      "name": "VTON"
    }
  ]
}
