Lookitry_Brain_Vault/Cerebro/Docs/n8n/workflows/flujo2_prospeccion_colombia.json
{
  "name": "VirtualTryOn — Prospección Automática Colombia",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "cron-semanal",
      "name": "⏰ Cron — Lunes 8am (semanal)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Configuración de búsquedas: ciudades x nichos\nconst ciudades = [\n  'Bogotá', 'Medellín', 'Cali', 'Barranquilla',\n  'Bucaramanga', 'Pereira', 'Cartagena', 'Cúcuta',\n  'Ibagué', 'Manizales', 'Pasto', 'Villavicencio',\n  'Neiva', 'Armenia', 'Montería'\n];\n\nconst nichos = [\n  'tienda de ropa',\n  'boutique moda',\n  'tienda accesorios',\n  'ropa mujer',\n  'ropa hombre',\n  'calzado tienda',\n  'joyería accesorios',\n  'ropa deportiva'\n];\n\n// Generar combinaciones para esta semana (rotar para no repetir)\nconst semana = Math.floor(Date.now() / (7 * 24 * 60 * 60 * 1000));\nconst combinaciones = [];\n\n// 5 ciudades x 3 nichos = 15 búsquedas por ejecución\nconst ciudadesEsta = ciudades.slice((semana * 5) % ciudades.length, ((semana * 5) % ciudades.length) + 5);\nconst nichosEsta = nichos.slice((semana * 3) % nichos.length, ((semana * 3) % nichos.length) + 3);\n\nfor (const ciudad of ciudadesEsta) {\n  for (const nicho of nichosEsta) {\n    combinaciones.push({\n      query: `${nicho} ${ciudad} Colombia`,\n      ciudad: ciudad,\n      nicho: nicho,\n      semana: semana\n    });\n  }\n}\n\nreturn combinaciones.map(c => ({ json: c }));"
      },
      "id": "generate-queries",
      "name": "🛠️ Code — Generar queries de búsqueda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-queries",
      "name": "🔄 SplitInBatches — 1 query",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "token", "value": "={{ $vars.APIFY_API_TOKEN }}" },
            { "name": "timeout", "value": "120" },
            { "name": "memory", "value": "2048" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchStringsArray\": [\"{{ $json.query }}\"],\n  \"maxCrawledPlacesPerSearch\": 20,\n  \"language\": \"es\",\n  \"countryCode\": \"co\",\n  \"includeReviews\": false,\n  \"includeImages\": false,\n  \"includeOpeningHours\": false\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 180000
        }
      },
      "id": "apify-gmaps",
      "name": "🗺️ Apify — Google Maps Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $vars.GOOGLE_CSE_API_KEY }}" },
            { "name": "cx", "value": "={{ $vars.GOOGLE_CSE_ID }}" },
            { "name": "q", "value": "={{ $json.query + ' email contacto' }}" },
            { "name": "num", "value": "10" },
            { "name": "lr", "value": "lang_es" },
            { "name": "gl", "value": "co" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "google-cse",
      "name": "🔍 Google CSE — Búsqueda web (100/día gratis)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },

    {
      "parameters": {
        "jsCode": "// Procesar resultados de Google Maps (Apify)\nconst lugares = Array.isArray($input.item.json) ? $input.item.json : [];\nconst ciudad = $node['🔄 SplitInBatches — 1 query'].json.ciudad;\nconst nicho = $node['🔄 SplitInBatches — 1 query'].json.nicho;\n\nconst leads = [];\n\nfor (const lugar of lugares) {\n  const nombre = lugar.title || lugar.name || null;\n  const email = lugar.email || \n    (lugar.additionalInfo && lugar.additionalInfo.email) || \n    null;\n  const telefono = lugar.phone || lugar.phoneNumber || null;\n  const web = lugar.website || lugar.url || null;\n  const direccion = lugar.address || lugar.street || null;\n  const instagram = (lugar.socialProfiles || []).find(s => s.type === 'instagram')?.url || null;\n  const calificacion = lugar.totalScore || null;\n\n  if (!nombre) continue;\n\n  leads.push({\n    nombre_empresa: nombre.toUpperCase(),\n    nombre_contacto: null,\n    email: email ? email.toLowerCase().trim() : null,\n    telefono: telefono ? String(telefono).replace(/[^0-9]/g, '') : null,\n    nicho: nicho,\n    ciudad: ciudad.toUpperCase(),\n    direccion: direccion || null,\n    sitio_web: web || null,\n    redes_sociales: instagram || null,\n    campana_enviada: 'NO',\n    estado_lead: 'NUEVO',\n    fuente: 'GOOGLE_MAPS_AUTO',\n    _fuente_raw: 'apify_gmaps',\n    _calificacion: calificacion\n  });\n}\n\nreturn leads.map(l => ({ json: l }));"
      },
      "id": "process-maps",
      "name": "🛠️ Code — Procesar resultados Maps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "jsCode": "// Procesar resultados de Google CSE — extraer emails de snippets\nconst items = $input.item.json.items || [];\nconst ciudad = $node['🔄 SplitInBatches — 1 query'].json.ciudad;\nconst nicho = $node['🔄 SplitInBatches — 1 query'].json.nicho;\n\nconst emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\nconst leads = [];\nconst seenEmails = new Set();\n\nfor (const item of items) {\n  const texto = `${item.title || ''} ${item.snippet || ''} ${item.link || ''}`;\n  const emails = texto.match(emailRegex) || [];\n  const nombre = item.title ? item.title.split('|')[0].split('-')[0].trim().toUpperCase() : 'SIN NOMBRE';\n  const web = item.link || null;\n\n  // Filtrar emails genéricos y proveedores\n  const filtrados = emails.filter(e => {\n    const dom = e.split('@')[1];\n    return !seenEmails.has(e) &&\n      !['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com'].every(d => dom !== d) &&\n      !e.includes('example') &&\n      !e.includes('test');\n  });\n\n  // También incluir emails genéricos si hay nombre de empresa\n  const todosEmails = emails.filter(e => !seenEmails.has(e));\n  const emailFinal = filtrados[0] || todosEmails[0] || null;\n\n  if (emailFinal) {\n    seenEmails.add(emailFinal);\n    leads.push({\n      nombre_empresa: nombre,\n      nombre_contacto: null,\n      email: emailFinal.toLowerCase().trim(),\n      telefono: null,\n      nicho: nicho,\n      ciudad: ciudad.toUpperCase(),\n      direccion: null,\n      sitio_web: web,\n      redes_sociales: null,\n      campana_enviada: 'NO',\n      estado_lead: 'NUEVO',\n      fuente: 'GOOGLE_CSE_AUTO',\n      _fuente_raw: 'google_cse'\n    });\n  }\n}\n\nreturn leads.map(l => ({ json: l }));"
      },
      "id": "process-cse",
      "name": "🛠️ Code — Procesar resultados CSE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },

    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-results",
      "name": "🔗 Merge — Unir todos los leads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicar por email dentro del batch actual\nconst items = $input.all();\nconst seenEmails = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  const email = item.json.email;\n  const nombre = item.json.nombre_empresa;\n  \n  // Saltar si no tiene nombre\n  if (!nombre || nombre === 'SIN NOMBRE') continue;\n  \n  // Si no tiene email, igual insertar (se puede contactar por WhatsApp)\n  if (!email) {\n    unicos.push(item);\n    continue;\n  }\n  \n  // Normalizar email\n  const emailNorm = email.toLowerCase().trim();\n  \n  // Validar formato básico\n  if (!/^[^@]+@[^@]+\\.[^@]+$/.test(emailNorm)) continue;\n  \n  if (!seenEmails.has(emailNorm)) {\n    seenEmails.add(emailNorm);\n    unicos.push({ json: { ...item.json, email: emailNorm } });\n  }\n}\n\nreturn unicos;"
      },
      "id": "dedup-batch",
      "name": "🛠️ Code — Deduplicar batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-leads-new",
      "name": "🔄 SplitInBatches — Lead a lead",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as existe FROM clientes WHERE email = '{{ $json.email }}' AND email IS NOT NULL;",
        "options": {}
      },
      "id": "check-duplicado",
      "name": "🗄️ Supabase — ¿Ya existe el email?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [2000, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase VirtualTryOn"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.existe }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-es-nuevo",
      "name": "🔍 ¿Es lead nuevo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clientes (nombre_empresa, nombre_contacto, email, telefono, nicho, ciudad, direccion, sitio_web, redes_sociales, campana_enviada, fecha_campana, estado_lead, ultimo_contacto, notas, fuente) VALUES ('{{ $json.nombre_empresa }}', {{ $json.nombre_contacto ? \"'\" + $json.nombre_contacto + \"'\" : 'NULL' }}, {{ $json.email ? \"'\" + $json.email + \"'\" : 'NULL' }}, {{ $json.telefono ? \"'\" + $json.telefono + \"'\" : 'NULL' }}, '{{ $json.nicho }}', '{{ $json.ciudad }}', {{ $json.direccion ? \"'\" + $json.direccion.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.sitio_web ? \"'\" + $json.sitio_web + \"'\" : 'NULL' }}, {{ $json.redes_sociales ? \"'\" + $json.redes_sociales + \"'\" : 'NULL' }}, 'NO', NULL, 'NUEVO', NOW(), 'Lead captado automáticamente por n8n prospección', '{{ $json.fuente }}') ON CONFLICT (email) DO NOTHING RETURNING id;",
        "options": {}
      },
      "id": "insert-lead",
      "name": "🗄️ Supabase — Insertar lead nuevo ✅",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [2440, 180],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase VirtualTryOn"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-duplicate",
      "name": "⏳ Skip — Ya existe",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2440, 420],
      "webhookId": "wait-dup"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_nuevos, COUNT(CASE WHEN fuente LIKE '%AUTO%' THEN 1 END) as total_auto FROM clientes WHERE DATE(ultimo_contacto) = CURRENT_DATE AND estado_lead = 'NUEVO';",
        "options": {}
      },
      "id": "stats-semana",
      "name": "🗄️ Supabase — Stats de la semana",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [2660, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CRED_ID",
          "name": "Supabase VirtualTryOn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $vars.BREVO_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": { \"name\": \"n8n VirtualTryOn\", \"email\": \"info@lookitry.com\" },\n  \"to\": [{ \"email\": \"admin@lookitry.com\" }],\n  \"subject\": \"[Prospección semanal] {{ $json.total_nuevos }} leads nuevos captados\",\n  \"htmlContent\": \"<h2>Resumen prospección semanal</h2><p><strong>{{ $json.total_nuevos }}</strong> leads nuevos hoy.</p><p><strong>{{ $json.total_auto }}</strong> captados automáticamente.</p><p>Accede al panel admin para revisar: <a href='https://lookitry.com/admin/marketing'>Ver leads</a></p>\"\n}",
        "options": {}
      },
      "id": "notify-report",
      "name": "📊 Email reporte al admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 300]
    }
  ],
  "connections": {
    "⏰ Cron — Lunes 8am (semanal)": {
      "main": [[{ "node": "🛠️ Code — Generar queries de búsqueda", "type": "main", "index": 0 }]]
    },
    "🛠️ Code — Generar queries de búsqueda": {
      "main": [[{ "node": "🔄 SplitInBatches — 1 query", "type": "main", "index": 0 }]]
    },
    "🔄 SplitInBatches — 1 query": {
      "main": [
        [
          { "node": "🗺️ Apify — Google Maps Scraper", "type": "main", "index": 0 },
          { "node": "🔍 Google CSE — Búsqueda web (100/día gratis)", "type": "main", "index": 0 }
        ]
      ]
    },
    "🗺️ Apify — Google Maps Scraper": {
      "main": [[{ "node": "🛠️ Code — Procesar resultados Maps", "type": "main", "index": 0 }]]
    },
    "🔍 Google CSE — Búsqueda web (100/día gratis)": {
      "main": [[{ "node": "🛠️ Code — Procesar resultados CSE", "type": "main", "index": 0 }]]
    },
    "🛠️ Code — Procesar resultados Maps": {
      "main": [[{ "node": "🔗 Merge — Unir todos los leads", "type": "main", "index": 0 }]]
    },
    "🛠️ Code — Procesar resultados CSE": {
      "main": [[{ "node": "🔗 Merge — Unir todos los leads", "type": "main", "index": 1 }]]
    },
    "🔗 Merge — Unir todos los leads": {
      "main": [[{ "node": "🛠️ Code — Deduplicar batch", "type": "main", "index": 0 }]]
    },
    "🛠️ Code — Deduplicar batch": {
      "main": [[{ "node": "🔄 SplitInBatches — Lead a lead", "type": "main", "index": 0 }]]
    },
    "🔄 SplitInBatches — Lead a lead": {
      "main": [[{ "node": "🗄️ Supabase — ¿Ya existe el email?", "type": "main", "index": 0 }]]
    },
    "🗄️ Supabase — ¿Ya existe el email?": {
      "main": [[{ "node": "🔍 ¿Es lead nuevo?", "type": "main", "index": 0 }]]
    },
    "🔍 ¿Es lead nuevo?": {
      "main": [
        [{ "node": "🗄️ Supabase — Insertar lead nuevo ✅", "type": "main", "index": 0 }],
        [{ "node": "⏳ Skip — Ya existe", "type": "main", "index": 0 }]
      ]
    },
    "🗄️ Supabase — Insertar lead nuevo ✅": {
      "main": [[{ "node": "🗄️ Supabase — Stats de la semana", "type": "main", "index": 0 }]]
    },
    "⏳ Skip — Ya existe": {
      "main": [[{ "node": "🗄️ Supabase — Stats de la semana", "type": "main", "index": 0 }]]
    },
    "🗄️ Supabase — Stats de la semana": {
      "main": [[{ "node": "📊 Email reporte al admin", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "last",
    "executionTimeout": 10800,
    "timezone": "America/Bogota"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "virtualtyon-prospeccion-001"
  },
  "pinData": {},
  "versionId": "v1.0.0",
  "triggerCount": 1,
  "tags": [
    { "id": "marketing", "name": "marketing" },
    { "id": "prospeccion", "name": "prospeccion" },
    { "id": "scraping", "name": "scraping" }
  ]
}
